{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/datagrid.html.twig' as datagrid %}

<h2 class="heading">{{ heading|raw }}</h2>

<div class="tab__inner tab--unpadded">
    <table class="table--datagrid" id="lexicon_analytics">
        <thead>
            <tr>
                {{ datagrid.select_all() }}
                <th><a href="#">Visitor {{ html.icon('sort-down') }}</a></th>
                <th class="centered"><a href="#">Visits</a></th>
                <th class="centered"><a href="#">Pages / Visit</a></th>
                <th class="centered"><a href="#">Avg Time on Site</a></th>
                <th class="centered"><a href="#">Bounce Rate</a></th>
                <th class="centered"><a href="#">Country</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{ datagrid.select_item(1) }}
                <td>
                    {{
                        html.link({
                            'label': '123.123.123.123',
                            'href': '#'
                        })
                     }}
                </td>
                <td class="centered">5</td>
                <td class="centered">10</td>
                <td class="centered">00.02.12</td>
                <td class="centered">10%</td>
                <td class="centered">UK</td>
            </tr>
            <tr class="is-selected">
                {{ datagrid.select_item(2) }}
                <td>
                    {{
                        html.link({
                            'label': '123.123.123.123',
                            'href': '#'
                        })
                     }}
                </td>
                <td class="centered">5</td>
                <td class="centered">10</td>
                <td class="centered">00.02.12</td>
                <td class="centered">10%</td>
                <td class="centered">UK</td>
            </tr>
            <tr>
                {{ datagrid.select_item(3) }}
                <td>
                    {{
                        html.link({
                            'label': '123.123.123.123',
                            'href': '#'
                        })
                    }}
                </td>
                <td class="centered">5</td>
                <td class="centered">10</td>
                <td class="centered">00.02.12</td>
                <td class="centered">10%</td>
                <td class="centered">UK</td>
            </tr>
            <tr>
                {{ datagrid.select_item(4) }}
                <td>
                    {{
                        html.link({
                            'label': '123.123.123.123',
                            'href': '#'
                        })
                    }}
                </td>
                <td class="centered">5</td>
                <td class="centered">10</td>
                <td class="centered">00.02.12</td>
                <td class="centered">10%</td>
                <td class="centered">UK</td>
            </tr>
            <tr>
                {{ datagrid.select_item(5) }}
                <td>
                    {{
                        html.link({
                            'label': '123.123.123.123',
                            'href': '#'
                        })
                    }}
                </td>
                <td class="centered">5</td>
                <td class="centered">10</td>
                <td class="centered">00.02.12</td>
                <td class="centered">10%</td>
                <td class="centered">UK</td>
            </tr>
            <tr class="row--success-highlight">
                {{ datagrid.select_item(6) }}
                <td>
                    {{
                        html.link({
                            'label': '123.123.123.123',
                            'href': '#'
                        })
                    }}
                </td>
                <td class="centered">{{ html.badge({ 'label': 34, 'class': 'badge--success' }) }}</td>
                <td class="centered">4</td>
                <td class="centered">00.02.12</td>
                <td class="centered">10%</td>
                <td class="centered">UK</td>
            </tr>
            <tr>
                {{ datagrid.select_item(7) }}
                <td>
                    {{
                        html.link({
                            'label': '123.123.123.123',
                            'href': '#'
                        })
                    }}
                </td>
                <td class="centered">5</td>
                <td class="centered">10</td>
                <td class="centered">00.02.12</td>
                <td class="centered">10%</td>
                <td class="centered">UK</td>
            </tr>
            <tr class="row--danger-highlight">
                {{ datagrid.select_item(8) }}
                <td>
                    {{
                        html.link({
                            'label': '123.123.123.123',
                            'href': '#'
                        })
                    }}
                </td>
                <td class="centered">5</td>
                <td class="centered">10</td>
                <td class="centered">00.02.12</td>
                <td class="centered">{{ html.badge({ 'label': '40%', 'class': 'badge--danger'}) }}</td>
                <td class="centered">UK</td>
            </tr>
            <tr>
                {{ datagrid.select_item(9) }}
                <td>
                    {{
                        html.link({
                            'label': '123.123.123.123',
                            'href': '#'
                        })
                    }}
                </td>
                <td class="centered">5</td>
                <td class="centered">10</td>
                <td class="centered">00.02.12</td>
                <td class="centered">10%</td>
                <td class="centered">UK</td>
            </tr>
            <tr>
                {{ datagrid.select_item(10) }}
                <td>
                    {{
                        html.link({
                            'label': '123.123.123.123',
                            'href': '#'
                        })
                    }}
                </td>
                <td class="centered">5</td>
                <td class="centered">10</td>
                <td class="centered">00.02.12</td>
                <td class="centered">10%</td>
                <td class="centered">UK</td>
            </tr>
        </tbody>
    </table>
</div>
