{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block tab_sidebar %}

    <h2 class="heading">{{ html.icon('info-sign', { 'class': 'sidebar-icon'}) }} Some button help</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tellus dolor, condimentum efficitur arcu sed, feugiat pellentesque lacus. Pellentesque ac ipsum ac mauris cursus volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
{% endblock tab_sidebar %}


{% block tab_content %}

    <h2 class="heading">Button variations</h2>

    <p>

        <!-- The normal type of button you should use -->
        {{ html.button({ label: 'Default' }) }}

        <!-- In the context of a full UI, this is the main thing we want the user to do next -->
        {{
            html.button({
                label: 'Primary',
                class: 'btn--primary'
            })
        }}

        <!-- Indicates a successful or positive action -->
        {{
            html.button({
                label: 'Success',
                class: 'btn--success'
            })
        }}

        <!-- Indicates a dangerous or destructive action -->
        {{
            html.button({
                label: 'Danger',
                class: 'btn--danger',
                type: 'link'
            })
        }}

        <!-- Indicates caution should be taken here -->
        {{
            html.button({
                label: 'Warning',
                class: 'btn--warning'
            })
        }}

        <!-- Contextual button for informational alert messages -->
        {{
            html.button({
                label: 'Info',
                class: 'btn--info'
            })
        }}

        <!-- Rarely used, a good example is a 'locked content' button -->
        {{
            html.button({
                label: 'Inverse',
                class: 'btn--inverse'
            })
        }}

        {{
            html.button({
                label: 'Disabled',
                class: 'is-disabled'
            })
        }}

        {{
            html.button({
                label: 'Active',
                class: 'active'
            })
        }}

        {{
            html.button({
                label: 'Naked',
                class: 'btn--naked'
            })
        }}
    </p>

    <h2 class="heading">Link buttons</h2>

    <p>
        <!-- The normal type of button you should use -->
        {{
            html.button({
                label: 'Default',
                type: 'link'
            })
        }}

        <!-- In the context of a full UI, this is the main thing we want the user to do next -->
        {{
            html.button({
                label: 'Primary',
                class: 'btn--primary',
                type: 'link'
            })
        }}

        <!-- Indicates a successful or positive action -->
        {{
            html.button({
                label: 'Success',
                class: 'btn--success',
                type: 'link'
            })
        }}

        <!-- Indicates a dangerous or destructive action -->
        {{
            html.button({
                label: 'Danger',
                class: 'btn--danger',
                type: 'link'
            })
        }}

        <!-- Indicates caution should be taken here -->
        {{
            html.button({
                label: 'Warning',
                class: 'btn--warning',
                type: 'link'
            })
        }}

        <!-- Contextual button for informational alert messages -->
        {{
            html.button({
                label: 'Info',
                class: 'btn--info',
                type: 'link'
            })
        }}

        <!-- Rarely used, a good example is a 'locked content' button -->
        {{
            html.button({
                label: 'Inverse',
                class: 'btn--inverse',
                type: 'link'
            })
        }}

        {{
            html.button({
                label: 'Disabled',
                class: 'is-disabled',
                type: 'link'
            })
        }}

        {{
            html.button({
                label: 'Naked',
                type: 'link',
                class: 'btn--naked'
            })
        }}
    </p>

    <h2 class="heading">Outline buttons</h2>

    <p>
        <!-- The normal type of button you should use -->
        {{
            html.button({
                label: 'Default',
                class: 'btn--outline'
            })
        }}

        <!-- In the context of a full UI, this is the main thing we want the user to do next -->
        {{
            html.button({
                label: 'Primary',
                class: 'btn--outline btn--primary'
            })
        }}

        <!-- Indicates a successful or positive action -->
        {{
            html.button({
                label: 'Success',
                class: 'btn--outline btn--success'
            })
        }}

        <!-- Indicates a dangerous or destructive action -->
        {{
            html.button({
                label: 'Danger',
                class: 'btn--outline btn--danger',
                type: 'link'
            })
        }}

        <!-- Indicates caution should be taken here -->
        {{
            html.button({
                label: 'Warning',
                class: 'btn--outline btn--warning'
            })
        }}

        <!-- Contextual button for informational alert messages -->
        {{
            html.button({
                label: 'Info',
                class: 'btn--outline btn--info'
            })
        }}

        <!-- Rarely used, a good example is a 'locked content' button -->
        {{
            html.button({
                label: 'Inverse',
                class: 'btn--outline btn--inverse'
            })
        }}

        {{
            html.button({
                label: 'Disabled',
                class: 'btn--outline is-disabled'
            })
        }}

        {{
            html.button({
                label: 'Active',
                class: 'btn--outline active'
            })
        }}

        {{
            html.button({
                label: 'Naked',
                class: 'btn--outline btn--naked'
            })
        }}
    </p>

    <h2 class="heading">Disabled buttons</h2>

    <p>
        <!-- The normal type of button you should use -->
        {{
            html.button({
                label: 'Default',
                class: 'is-disabled'
            })
        }}

        <!-- In the context of a full UI, this is the main thing we want the user to do next -->
        {{
            html.button({
                label: 'Primary',
                class: 'btn--primary is-disabled'
            })
        }}

        <!-- Indicates a successful or positive action -->
        {{
            html.button({
                label: 'Success',
                class: 'btn--success is-disabled'
            })
        }}

        <!-- Indicates a dangerous or destructive action -->
        {{
            html.button({
                label: 'Danger',
                class: 'btn--danger is-disabled'
            })
        }}

        <!-- Indicates caution should be taken here -->
        {{
            html.button({
                label: 'Warning',
                class: 'btn--warning is-disabled'
            })
        }}

        <!-- Contextual button for informational alert messages -->
        {{
            html.button({
                label: 'Info',
                class: 'btn--info is-disabled'
            })
        }}

        <!-- Rarely used, a good example is a 'locked content' button -->
        {{
            html.button({
                label: 'Inverse',
                class: 'btn--inverse is-disabled'
            })
        }}

        {{
            html.button({
                label: 'Naked',
                class: 'btn--naked is-disabled'
            })
        }}
    </p>

    <h2 class="heading">Button groups</h2>
    <p>
        <div class="btn__toolbar">
        {{
            html.button_group({
                buttons: [
                    html.button({ label: 'Left' }),
                    html.button({ label: 'Middle' }),
                    html.button({ label: 'Right' })
                ]
            })
        }}
        {{
            html.button_group({
                buttons: [
                    html.button({
                        label: html.icon('align-left', {
                            'label': 'Align left'
                        })
                    }),
                    html.button({
                        label: html.icon('align-center', {
                            'label': 'Align center'
                        })
                    }),
                    html.button({
                        label: html.icon('align-right', {
                            'label': 'Align right'
                        })
                    }),
                    html.button({
                        label: html.icon('align-justify', {
                            'label': 'Align justify'
                        })
                     })
                ]
            })
        }}
        {{
            html.button_group({
                buttons: [
                    html.button({ label: 'Left', 'class': 'btn--primary' }),
                    html.button({ label: 'Middle', 'class': 'btn--primary' }),
                    html.button({ label: 'Right', 'class': 'btn--primary' })
                ]
            })
        }}

        {{
            html.button_group({
                buttons: [
                    html.button({ label: 'Left', 'class': 'btn--danger' }),
                    html.button({ label: 'Middle', 'class': 'btn--danger' }),
                    html.button({ label: 'Right', 'class': 'btn--danger' })
                ]
            })
        }}
        </div>
    </p>

    <h2 class="heading">Labels</h2>
    <p>
        {{
            html.label({
                label: 'default'
            })
        }}
        {{
            html.label({
                label: 'primary',
                class: 'label--primary'
            })
        }}
        {{
            html.label({
                label: 'success',
                class: 'label--success'
            })
        }}
        {{
            html.label({
                label: 'warning',
                class: 'label--warning'
            })
        }}
        {{
            html.label({
                label: 'danger',
                class: 'label--danger'
            })
        }}
        {{
            html.label({
                label: 'info',
                class: 'label--info'
            })
        }}
        {{
            html.label({
                label: 'inverse',
                class: 'label--inverse'
            })
        }}
        {{
            html.label({
                'label': 'label with tooltip',
                'class': 'label--inverse',
                'data-toggle': 'tooltips',
                'data-title': 'Hello!'
            })
        }}
        {{
            html.label({
                'label': 'label with right-aligned tooltip',
                'class': 'label--inverse',
                'data-toggle': 'tooltips',
                'data-title': 'You look nice',
                'data-placement': 'right'
            })
        }}
        {{
            html.label({
                label: 'large label',
                class: 'label--large'
            })
        }}
    </p>

    <h2 class="heading">Removable labels</h2>
    <p>
        {{
            html.label({
                label: 'default',
                removable: true
            })
        }}
        {{
            html.label({
                label: 'primary',
                class: 'label--primary',
                removable: true
            })
        }}
        {{
            html.label({
                label: 'success',
                class: 'label--success',
                removable: true
            })
        }}
        {{
            html.label({
                label: 'warning',
                class: 'label--warning',
                removable: true
            })
        }}
        {{
            html.label({
                label: 'danger',
                class: 'label--danger',
                removable: true
            })
        }}
        {{
            html.label({
                label: 'info',
                class: 'label--info',
                removable: true
            })
        }}
        {{
            html.label({
                label: 'inverse',
                class: 'label--inverse',
                removable: true
            })
        }}
        {{
            html.label({
                'label': 'label with tooltip',
                'class': 'label--inverse',
                'data-toggle': 'tooltips',
                'data-title': 'Hello!',
                removable: true
            })
        }}
        {{
            html.label({
                'label': 'label with right-aligned tooltip',
                'class': 'label--inverse',
                'data-toggle': 'tooltips',
                'data-title': 'You look nice',
                'data-placement': 'right',
                removable: true
            })
        }}
        {{
            html.label({
                class: 'label--large',
                label: 'label large',
                removable: true
            })
        }}
    </p>

    <h2 class="heading">Badges</h2>
    <p>
        {{
            html.badge({
                label: '1'
            })
        }}
        {{
            html.badge({
                label: '2', class: 'badge--primary'
            })
        }}
        {{
            html.badge({
                label: '3', class: 'badge--success'
            })
        }}
        {{
            html.badge({
                label: '4', class: 'badge--warning'
            })
        }}
        {{
            html.badge({
                label: '5', class: 'badge--danger'
            })
        }}
        {{
            html.badge({
                label: '6', class: 'badge--info'
            })
        }}
        {{
            html.badge({
                label: '7', class: 'badge--inverse'
            })
        }}
    </p>

    <h2 class="heading">Status indicators</h2>
    <p>I am online {{ html.status('online') }}</p>
    <p>I am offline {{ html.status('offline') }}</p>
    <p>I am active {{ html.status('active') }}</p>
    <p>I am inactive {{ html.status('inactive') }}</p>

    <h2 class="heading">Dropdown/Dropup buttons</h2>
    <p>
        <div class="btn__toolbar">
        {%
            set example_dropdown = [
                html.link({
                    label: html.icon('save') ~ ' Save',
                    href: '#'
                }),
                html.link({
                    label: html.icon('print') ~ ' Print'
                }),
                html.link({
                    label: html.icon('lock') ~ ' Lock',
                    disabled: true
                }),
                html.link({
                    label: html.icon('group') ~ ' Collaborators ' ~ html.badge({ 'label': 3 })
                }),
                html.divider(),
                html.link({
                    label: html.icon('trash') ~ ' Delete',
                    href: '#',
                    class: 'link--danger'
                })
            ]
        %}
        {{
            html.button_dropdown({
                'items': example_dropdown,
                'label': 'Drop Down'
            })
        }}
        {{
            html.button_dropdown({
                'direction': 'up',
                'items': example_dropdown,
                'label': 'Drop Up'
            })
        }}
        {{
            html.button_dropdown({
                'direction': 'down',
                'items': example_dropdown,
                'label': 'Drop Down Right Menu',
                'placement': 'right'
            })
        }}
        {{
            html.button_dropdown({
                'direction': 'down',
                'items': example_dropdown,
                'label': 'Primary Action Drop Down',
                'class': 'btn--primary'
            })
        }}
        {{
            html.button_dropdown({
                'class': 'example-button-class',
                'direction': 'down',
                'items': example_dropdown,
                'label': 'Drop Down With Parent Class',
                'parent_class': 'example-parent-class',
                'data-test': 'test'
            })
        }}
        </div>
    </p>


    <h2 class="heading">Icons, Badges and Buttons (oh my!)</h2>
    <p>
        <div class="btn__toolbar">
            {{
                html.button({
                    'label': html.icon('youtube-play') ~ ' Default ' ~ html.badge({ 'label': '99' })
                })
            }}
            {{
            	html.button({
            		label: html.icon('inbox') ~ ' Primary ' ~ html.badge({ 'label': '99' }),
            		class: 'btn--primary'
            	})

            }}
            {{
            	html.button({
            		label: html.icon('ok') ~ ' Success ' ~ html.badge({ 'label': '99' }),
            		class: 'btn--success'
            	})

            }}
            {{
            	html.button({
            		label: html.icon('warning-sign') ~ ' Warning ' ~ html.badge({ 'label': '99' }),
            		class: 'btn--warning'
            	})

            }}
            {{
            	html.button({
            		label: html.icon('trash') ~ ' Danger ' ~ html.badge({ 'label': '99' }),
            		class: 'btn--danger'
            	})

            }}
            {{
            	html.button({
            		label: html.icon('info-sign') ~ ' Info ' ~ html.badge({ 'label': '99' }),
            		class: 'btn--info'
            	})

            }}
            {{
            	html.button({
            		label: html.icon('lock') ~ ' Inverse ' ~ html.badge({ 'label': '99' }),
            		class: 'btn--inverse'
            	})

            }}
        </div>
    </p>

    <h2 class="heading">All the things!</h2>
    <p>
    {{
        html.button_dropdown({
            'label': html.icon('folder-close') ~ ' Busy Button ' ~ html.badge({ 'label': '99', 'class': 'badge--primary'}),
            'items': example_dropdown
        })
    }}
    </p>



    <p class="columns columns--2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et enim sed lorem sollicitudin tristique sed at erat. Sed non nunc at nibh vestibulum dictum. Vestibulum a blandit tellus. In quis felis rhoncus mi imperdiet gravida eget quis augue. Praesent rutrum fringilla nisi, sit amet commodo purus pellentesque eu. Curabitur blandit arcu at rutrum ullamcorper. Maecenas vitae faucibus nunc. Phasellus eu quam aliquet, malesuada odio ut, dapibus lorem. Nulla nec urna rutrum, consequat est sit amet, consequat mauris. Maecenas vel mauris id urna viverra ullamcorper. Etiam nisi nibh, pulvinar vel elementum luctus, dapibus sit amet leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et enim sed lorem sollicitudin tristique sed at erat. Sed non nunc at nibh vestibulum dictum. Vestibulum a blandit tellus. In quis felis rhoncus mi imperdiet gravida eget quis augue. Praesent rutrum fringilla nisi, sit amet commodo purus pellentesque eu. Curabitur blandit arcu at rutrum ullamcorper. Maecenas vitae faucibus nunc. Phasellus eu quam aliquet, malesuada odio ut, dapibus lorem. Nulla nec urna rutrum, consequat est sit amet, consequat mauris. Maecenas vel mauris id urna viverra ullamcorper. Etiam nisi nibh, pulvinar vel elementum luctus, dapibus sit amet leo.</p>

    {{
        html.list({
            items: [
                'foo',
                'bar'
            ]
        })
    }}

    {{
        html.link_list({
            items: {
                'Google': 'http://google.com',
                'Twitter': 'http://twitter.com'
            }
        })
    }}

{% endblock tab_content %}
