{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

{% block tab_content %}

    <div class="card g-col g-col--3 g-col--first">
        <div class="card__body card__body--light">
            <h3 class="card__title">Card Title</h3>
            <p>This is the card body, it should be helpful and descriptive.</p>
            {{
                html.button({
                    'label': 'Call to Action',
                    'class': 'btn--primary'
                })
            }}
        </div>
    </div>

    <div class="card g-col g-col--3">
        <div class="card__body card__body--light">
            <h3 class="card__title">Card Title</h3>
            <p>This is the card body, it should be helpful and descriptive.</p>
            {{
                html.link({
                    'label': 'Card link',
                    'class': 'card-link'
                })
            }}
            {{
                html.link({
                    'label': 'Card link',
                    'class': 'card-link'
                })
            }}
        </div>
    </div>

    <div class="card g-col g-col--3">
        <div class="card__header">
            <h3 class="card__heading">Card Heading</h3>
        </div>
        <div class="card__body card__body--light">
            <p>This is the card body, it should be helpful and descriptive.</p>
            {{
                html.button({
                    'label': 'Call to Action',
                    'class': 'btn--primary'
                })
            }}
        </div>
    </div>

    <div class="card g-col g-col--3 u-text-align-center">
        <div class="card__header">
            <h3 class="card__heading">Card Heading</h3>
        </div>
        <div class="card__body card__body--light">
            <p>This is the card body, it should be helpful and descriptive.</p>
            {{
                html.button({
                    'label': 'Call to Action',
                    'class': 'btn--primary'
                })
            }}
        </div>
        <div class="card__footer">
            This is the card footer
        </div>
    </div>

    <div class="card g-col g-col--3 g-col--first">
        <div class="card__header">
            <h3 class="card__heading">Card Heading</h3>
        </div>
        <div class="card__body card__body--light">
            <p>This is the card body, it should be helpful and descriptive.</p>
            {{
                html.button({
                    'label': 'Call to Action',
                    'class': 'btn--primary'
                })
            }}
        </div>
        <div class="card__footer">
            This is the card footer
        </div>
    </div>

    <div class="card g-col g-col--3">
        <img src="http://via.placeholder.com/1000x700/cccccc/000000" class="card-img" alt="Placeholder image" />
        <div class="card__body card__body--light">
            <h3 class="card__title">Card Title</h3>
            <p>This is the card body, it should be helpful and descriptive.</p>
            {{
                html.button({
                    'label': 'Call to Action',
                    'class': 'btn--primary'
                })
            }}
        </div>
    </div>

    <div class="card g-col g-col--3 card--full-bleed">
        <img src="http://via.placeholder.com/1000x700/cccccc/000000" class="card-img" alt="Placeholder image" />
        <div class="card__body card__body--light">
            <h3 class="card__title">Card Title</h3>
            <p>This is the card body, it should be helpful and descriptive.</p>
            {{
                html.button({
                    'label': 'Call to Action',
                    'class': 'btn--primary'
                })
            }}
        </div>
    </div>

{% endblock %}
