{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/datagrid.html.twig' as datagrid %}

{%
    set heading = [
        'Title',
        'Created',
        'Modified',
        html.icon('comment-alt'),
        'Author'
    ]
%}

{% block tab_content %}

    <table class="table datatable table--full">
        <thead class="table__thead">
            <tr class="table__tr">
                <th class="table-responsive table__th"></th>
                <th class="table-selection table__th"></th>

                <th class="table__th"><a href="#" class="table-link">Name</a></th>
                <th class="table__th"><a href="#" class="table-link">IP</a></th>
                <th class="table__th"><a href="#" class="table-link">Status</a></th>
                <th class="table__th"><a href="#" class="table-link">Uptime</a></th>
                <th class="table__th"><a href="#" class="table-link">Image</a></th>
                <th class="table__th"><a href="#" class="table-link">RAM</a></th>
                <th class="table__th centered"><a href="#" class="table-link">CPUs</a></th>
                <th class="table__th"><a href="#" class="table-link">Actions</a></th>

            </tr>
        </thead>
        <tbody class="table__tbody">
{% for i in 0..499 %}
            <tr class="table__tr">
                <td class="table__td table-responsive">
                    {{ html.icon('plus-sign', { 'class': 'table-child-toggle' }) }}
                </td>
                <td class="table__td table-selection">
                    {{ html.icon('unchecked', { 'class': 'table-row-select js-select' }) }}
                </td>
                <td class="table__td"><a href="#" class="table-link">Sysadmin - Ansible 1</a></td>
                <td class="table__td monospace"><a href="#" class="table-link">10.101.0.175</a></td>
                <td class="table__td">
                    {{
                        html.label({
                            'label': 'running',
                            'class': 'label--success'
                        })
                    }}
                </td>
                <td class="table__td">3d 4h 35m</td>
                <td class="table__td">{{ html.icon('linux') }} Centos 6 v1.0.2</td>
                <td class="table__td">4 GB</td>
                <td class="table__td centered">2</td>
                <td class="table__td">
                    {{ html.link({ 'label': 'Reboot', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Suspend', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Shutdown', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Console', 'class': 'table-action' }) }}
                </td>

            </tr>

            <tr class="table__tr">
                <td class="table__td table-responsive">
                    {{ html.icon('plus-sign', { 'class': 'table-child-toggle' }) }}
                </td>
                <td class="table__td table-selection">
                    {{ html.icon('unchecked', { 'class': 'table-row-select js-select' }) }}
                </td>
                <td class="table__td"><a href="#" class="table-link">Sysasdmin - WISP 1</a></td>
                <td class="table__td monospace"><a href="#" class="table-link">10.101.0.138</a></td>
                <td class="table__td">
                    {{
                        html.label({
                            'label': 'suspended'
                        })
                    }}
                </td>
                <td class="table__td">17w 3d 4h 35m</td>
                <td class="table__td">{{ html.icon('windows') }} Windows Server 2012 R2 v1.0.0</td>
                <td class="table__td">2 GB</td>
                <td class="table__td centered">1</td>
                <td class="table__td">
                    {{ html.link({ 'label': 'Reboot', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Suspend', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Shutdown', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Console', 'class': 'table-action' }) }}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>

    <table class="table--datagrid">
        <thead>
            <tr>
                <th><a href="#">Name</a></th>
                <th><a href="#">IP</a></th>
                <th><a href="#">Status</a></th>
                <th><a href="#">Uptime</a></th>
                <th><a href="#">Image</a></th>
                <th><a href="#">RAM</a></th>
                <th class="centered"><a href="#">CPUs</a></th>
                <th><a href="#">Actions</a></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><a href="#" class="table-link">Sysadmin - Ansible 1</a></td>
                <td class="monospace"><a href="#">10.101.0.175</a></td>
                <td>
                    {{
                        html.label({
                            'label': 'running',
                            'class': 'label--success'
                        })
                    }}
                </td>
                <td>3d 4h 35m</td>
                <td>{{ html.icon('linux') }} Centos 6 v1.0.2</td>
                <td>4 GB</td>
                <td class="centered">2</td>
                <td>
                    {{ html.link({ 'label': 'Reboot', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Suspend', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Shutdown', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Console', 'class': 'table-action' }) }}
                </td>

            </tr>

            <tr>
                <td><a href="#">Sysasdmin - WISP 1</a></td>
                <td class="monospace"><a href="#">10.101.0.138</a></td>
                <td>
                    {{
                        html.label({
                            'label': 'suspended'
                        })
                    }}
                </td>
                <td>17w 3d 4h 35m</td>
                <td>{{ html.icon('windows') }} Windows Server 2012 R2 v1.0.0</td>
                <td>2 GB</td>
                <td class="centered">1</td>
                <td>
                    {{ html.link({ 'label': 'Reboot', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Suspend', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Shutdown', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Console', 'class': 'table-action' }) }}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <ul class="pull-left"><!--
            --><li class="is-disabled"><a href="#"><i class="icon-double-angle-left"></i> Previous</a></li><!--
            --><li><a href="#">1</a></li><!--
            --><li class="selected"><a href="#">2</a></li><!--
            --><li><a href="#">3</a></li><!--
            --><li><a href="#">4</a></li><!--
            --><li><a href="#">5</a></li><!--
            --><li><a href="#">Next <i class="icon-double-angle-right"></i></a></li><!--
        --></ul>
    </div>

    <div class="form__group">
        <label class="control__label">Choices</label>
        <div class="controls">
            <table class="table">
                <thead>
                    <tr>
                        <th>Default</th>
                        <th>Label</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="shrink-to-fit centered">{{ form.radio({ 'bare': true }) }}</td>
                    <td>my_label</td>
                    <td>my_value</td>
                    <td class="table-row__actions">
                        {{ html.edit_button({ 'placement': 'left' }) }}
                        {{ html.remove_button({ 'placement': 'left' }) }}
                    </td>
                </tr>
                <tr>
                    <td class="shrink-to-fit centered">{{ form.radio({ 'bare': true }) }}</td>
                    <td>my_label</td>
                    <td>my_value</td>
                    <td class="table-row__actions">
                        {{ html.edit_button({ 'placement': 'left' }) }}
                        {{ html.remove_button({ 'placement': 'left' }) }}
                    </td>
                </tr>
                <tr>
                    <td class="shrink-to-fit centered">{{ form.radio({ 'bare': true }) }}</td>
                    <td>my_label</td>
                    <td>my_value</td>
                    <td class="table-row__actions">
                        {{ html.edit_button({ 'placement': 'left' }) }}
                        {{ html.remove_button({ 'placement': 'left' }) }}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="table__form" colspan="99">
                        <button type="button" class="close" data-dismiss="table-form" aria-hidden="true">&times;</button>
                            {{
                                form.fieldset_start({'legend': 'New choice'})
                            }}

                            {{
                                form.text({
                                    'label': 'Label',
                                    'help': 'The name of the choice, displayed to the user'
                                })
                            }}

                            {{
                                form.text({
                                    'label': 'Value',
                                    'help': 'The data to save when this is selected'
                                })
                            }}

                            {{
                                form.fieldset_end()
                            }}

                        </td>
                    </tr>
                    <tr>
                        <td class="table__actions" colspan="99">
                            {{
                                form.submit({
                                    'class': 'btn--primary',
                                    'label': 'Save'
                                })
                            }}

                            {{
                                html.link({
                                    'class': 'btn btn--naked',
                                    'label': 'Cancel'
                                })
                            }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock tab_content %}
