{% import 'pulsar/v2/helpers/html.html.twig' as html %}
{% import 'pulsar/v2/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}
{% import 'pulsar/helpers/datagrid.html.twig' as datagrid %}
<h2 class="heading">{{ heading|raw }}</h2>

{%
    set heading = [
        'Title',
        'Created',
        'Modified',
        html.icon('comment-alt'),
        'Author'
    ]
%}

<div class="tab__inner tab--unpadded">
    <table id="component-table-example" class="table--datagrid">
        <thead>
            <tr>
                {{ datagrid.select_all() }}
                <th>
                    {{ html.link({'label': heading[0]}) }}
                    {{ html.icon('sort-by-alphabet') }}
                </th>
                <th>
                    {{ html.link({'label': heading[1]}) }}
                </th>
                <th>
                    {{ html.link({'label': heading[2]}) }}
                </th>
                <th class="centered shrink-to-fit">
                    {{ html.link({'label': heading[3]}) }}
                </th>
                <th>
                    {{ html.link({'label': heading[4]}) }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{ datagrid.select_item(1) }}
                <td data-th="{{ heading[0] }}"><a href="#">This is a regular row</a></td>
                <td data-th="{{ heading[1] }}">Monday 4th July, 2013</td>
                <td data-th="{{ heading[2] }}">3 hours ago</td>
                <td data-th="{{ heading[3]|e('css') }}" class="centered">{{ html.badge({ 'label': '5' }) }}</td>
                <td data-th="{{ heading[4] }}">Paul Stanton</td>
            </tr>
            <tr class="is-selected">
                {{ datagrid.select_item(2) }}
                <td data-th="{{ heading[0] }}"><a href="#">This row has .is-selected</a></td>
                <td data-th="{{ heading[1] }}">Monday 4th July, 2013</td>
                <td data-th="{{ heading[2] }}">3 hours ago</td>
                <td data-th="{{ heading[3]|e('css') }}" class="centered">{{ html.badge({ 'label': '5' }) }}</td>
                <td data-th="{{ heading[4] }}">Paul Stanton</td>
            </tr>
            <tr class="row--highlight">
                {{ datagrid.select_item(3) }}
                <td data-th="{{ heading[0] }}"><a href="#">This row has .row--highlight</a></td>
                <td data-th="{{ heading[1] }}">Monday 4th July, 2013</td>
                <td data-th="{{ heading[2] }}">3 hours ago</td>
                <td data-th="{{ heading[3]|e('css') }}" class="centered">{{ html.badge({ 'label': '5' }) }}</td>
                <td data-th="{{ heading[4] }}">Paul Stanton</td>
            </tr>
            <tr class="row--success-highlight">
                {{ datagrid.select_item(4) }}
                <td data-th="{{ heading[0] }}"><a href="#">This row has .row--success-highlight</a></td>
                <td data-th="{{ heading[1] }}">Monday 4th July, 2013</td>
                <td data-th="{{ heading[2] }}">3 hours ago</td>
                <td data-th="{{ heading[3]|e('css') }}" class="centered">{{ html.badge({ 'label': '5' }) }}</td>
                <td data-th="{{ heading[4] }}">Paul Stanton</td>
            </tr>
            <tr class="row--danger-highlight">
                {{ datagrid.select_item(5) }}
                <td data-th="{{ heading[0] }}"><a href="#">This row has .row--danger-highlight</a></td>
                <td data-th="{{ heading[1] }}">Monday 4th July, 2013</td>
                <td data-th="{{ heading[2] }}">3 hours ago</td>
                <td data-th="{{ heading[3]|e('css') }}" class="centered">{{ html.badge({ 'label': '5' }) }}</td>
                <td data-th="{{ heading[4] }}">Paul Stanton</td>
            </tr>
            <tr class="row--warning-highlight">
                {{ datagrid.select_item(6) }}
                <td data-th="{{ heading[0] }}"><a href="#">This row has .row--warning-highlight</a></td>
                <td data-th="{{ heading[1] }}">Monday 4th July, 2013</td>
                <td data-th="{{ heading[2] }}">3 hours ago</td>
                <td data-th="{{ heading[3]|e('css') }}" class="centered">{{ html.badge({ 'label': '5' }) }}</td>
                <td data-th="{{ heading[4] }}">Paul Stanton</td>
            </tr>
            <tr class="row--success">
                {{ datagrid.select_item(7) }}
                <td data-th="{{ heading[0] }}"><a href="#">This row has .row--success</a></td>
                <td data-th="{{ heading[1] }}">Monday 4th July, 2013</td>
                <td data-th="{{ heading[2] }}">3 hours ago</td>
                <td data-th="{{ heading[3]|e('css') }}" class="centered">{{ html.badge({ 'label': '5' }) }}</td>
                <td data-th="{{ heading[4] }}">Paul Stanton</td>
            </tr>
            <tr class="row--danger">
                {{ datagrid.select_item(8) }}
                <td data-th="{{ heading[0] }}"><a href="#">This row has .row--danger</a></td>
                <td data-th="{{ heading[1] }}">Monday 4th July, 2013</td>
                <td data-th="{{ heading[2] }}">3 hours ago</td>
                <td data-th="{{ heading[3]|e('css') }}" class="centered">{{ html.badge({ 'label': '5' }) }}</td>
                <td data-th="{{ heading[4] }}">Paul Stanton</td>
            </tr>
            <tr class="row--warning">
                {{ datagrid.select_item(9) }}
                <td data-th="{{ heading[0] }}"><a href="#">This row has .row--warning</a></td>
                <td data-th="{{ heading[1] }}">Monday 4th July, 2013</td>
                <td data-th="{{ heading[2] }}">3 hours ago</td>
                <td data-th="{{ heading[3]|e('css') }}" class="centered">{{ html.badge({ 'label': '5' }) }}</td>
                <td data-th="{{ heading[4] }}">Paul Stanton</td>
            </tr>
        </tbody>
    </table>
</div>
