{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/datagrid.html.twig' as datagrid %}

{%
    set heading = [
        'Title',
        'Created',
        'Modified',
        html.icon('comment-alt'),
        'Author'
    ]
%}

{% block tab_content %}

    <table class="table table--full">
        <thead>
            <tr>
                <th class="table-selection"></th>
                <th><a href="#">Name</a></th>
                <th><a href="#">IP</a></th>
                <th><a href="#">Status</a></th>
                <th><a href="#">Uptime</a></th>
                <th><a href="#">Image</a></th>
                <th><a href="#">RAM</a></th>
                <th class="centered"><a href="#">CPUs</a></th>
                <th><a href="#">Actions</a></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="table-selection">
                    {{ html.icon('plus-sign', { 'class': 'table-child-toggle' }) }}
                    {{ html.icon('unchecked', { 'class': 'table-row-select js-select' }) }}
                </td>
                <td><a href="#" class="table-link">Sysadmin - Ansible 1</a></td>
                <td class="monospace"><a href="#" class="table-link">10.101.0.175</a></td>
                <td>
                    {{
                        html.label({
                            'label': 'running',
                            'class': 'label--success'
                        })
                    }}
                </td>
                <td>3d 4h 35m</td>
                <td>{{ html.icon('linux') }} Centos 6 v1.0.2</td>
                <td>4 GB</td>
                <td class="centered">2</td>
                <td>
                    {{ html.link({ 'label': 'Reboot', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Suspend', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Shutdown', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Console', 'class': 'table-action' }) }}
                </td>

            </tr>

            <tr>
                <td class="table-selection">
                    {{ html.icon('plus-sign', { 'class': 'table-child-toggle'}) }}
                    {{ html.icon('unchecked', { 'class': 'table-row-select js-select' }) }}
                </td>
                <td><a href="#" class="table-link">Sysasdmin - WISP 1</a></td>
                <td class="monospace"><a href="#" class="table-link">10.101.0.138</a></td>
                <td>
                    {{
                        html.label({
                            'label': 'suspended'
                        })
                    }}
                </td>
                <td>17w 3d 4h 35m</td>
                <td>{{ html.icon('windows') }} Windows Server 2012 R2 v1.0.0</td>
                <td>2 GB</td>
                <td class="centered">1</td>
                <td>
                    {{ html.link({ 'label': 'Reboot', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Suspend', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Shutdown', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Console', 'class': 'table-action' }) }}
                </td>
            </tr>

        </tbody>
    </table>

    <div class="form__group">
        <label class="control__label">Choices</label>
        <div class="controls">
            <table class="table">
                <thead>
                    <tr>
                        <th>Default</th>
                        <th>Label</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="shrink-to-fit centered">{{ form.radio({ 'bare': true }) }}</td>
                    <td>my_label</td>
                    <td>my_value</td>
                    <td class="centered">
                        {{ html.edit_button({ 'placement': 'left' }) }}
                        {{ html.remove_button({ 'placement': 'left' }) }}
                    </td>
                </tr>
                <tr>
                    <td class="shrink-to-fit centered">{{ form.radio({ 'bare': true }) }}</td>
                    <td>my_label</td>
                    <td>my_value</td>
                    <td class="centered">
                        {{ html.edit_button({ 'placement': 'left' }) }}
                        {{ html.remove_button({ 'placement': 'left' }) }}
                    </td>
                </tr>
                <tr>
                    <td class="shrink-to-fit centered">{{ form.radio({ 'bare': true }) }}</td>
                    <td>my_label</td>
                    <td>my_value</td>
                    <td class="centered">
                        {{ html.edit_button({ 'placement': 'left' }) }}
                        {{ html.remove_button({ 'placement': 'left' }) }}
                    </td>
                </tr>
                </tbody>
                <tfoot class="table__form">
                    <tr>
                        <td colspan="99">

                            {{
                                form.fieldset_start({'legend': 'New choice'})
                            }}

                            {{
                                form.text({
                                    'label': 'Label',
                                    'help': 'The name of the choice, displayed to the user'
                                })
                            }}

                            {{
                                form.text({
                                    'label': 'Value',
                                    'help': 'The data to save when this is selected'
                                })
                            }}

                            {{
                                form.fieldset_end()
                            }}

                        </td>
                    </tr>
                </tfoot>
            </table>
            {{
                form.submit({
                    'class': 'btn--primary',
                    'label': 'Save'
                })
            }}

            {{
                html.link({
                    'class': 'btn btn--naked',
                    'label': 'Cancel'
                })
            }}

        </div>
    </div>

{% endblock tab_content %}
