{% import 'helpers/1.0/html.html.twig' as html %}
{% import 'helpers/1.0/form.html.twig' as form %}
{% import 'helpers/1.0/flash.html.twig' as flash %}
<table class="table--datagrid">
    <thead>
        <tr>
            <th class="row__actions">
                <input type="checkbox" />
            </th>
            <th><a href="#">Title {{ html.icon('sort-down') }}</a></th>
            <th><a href="#">Created</a></th>
            <th><a href="#">Modified</a></th>
            <th class="centered shrink-to-fit"><a href="#">{{ html.icon('comment-alt') }}</a></th>
            <th><a href="#">Author</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="row__actions">
                <input type="checkbox" />
            </td>
            <td><a href="#">This is a regular row</a></td>
            <td>Monday 4th July, 2013</td>
            <td>3 hours ago</td>
            <td class="centered">{{ html.badge(label = '5') }}</td>
            <td>Paul Stanton</td>
        </tr>
        <tr class="is-selected">
            <td class="row__actions">
                <input type="checkbox" checked />
            </td>
            <td><a href="#">This row has .is-selected</a></td>
            <td>Monday 4th July, 2013</td>
            <td>3 hours ago</td>
            <td class="centered">{{ html.badge(label = '5') }}</td>
            <td>Paul Stanton</td>
        </tr>
        <tr class="row--highlight">
            <td class="row__actions">
                <input type="checkbox" />
            </td>
            <td><a href="#">This row has .row--highlight</a></td>
            <td>Monday 4th July, 2013</td>
            <td>3 hours ago</td>
            <td class="centered">{{ html.badge(label = '5') }}</td>
            <td>Paul Stanton</td>
        </tr>
        <tr class="row--success-highlight">
            <td class="row__actions">
                <input type="checkbox" />
            </td>
            <td><a href="#">This row has .row--success-highlight</a></td>
            <td>Monday 4th July, 2013</td>
            <td>3 hours ago</td>
            <td class="centered">{{ html.badge(label = '5') }}</td>
            <td>Paul Stanton</td>
        </tr>
        <tr class="row--danger-highlight">
            <td class="row__actions">
                <input type="checkbox" />
            </td>
            <td><a href="#">This row has .row--danger-highlight</a></td>
            <td>Monday 4th July, 2013</td>
            <td>3 hours ago</td>
            <td class="centered">{{ html.badge(label = '5') }}</td>
            <td>Paul Stanton</td>
        </tr>
        <tr class="row--warning-highlight">
            <td class="row__actions">
                <input type="checkbox" />
            </td>
            <td><a href="#">This row has .row--warning-highlight</a></td>
            <td>Monday 4th July, 2013</td>
            <td>3 hours ago</td>
            <td class="centered">{{ html.badge(label = '5') }}</td>
            <td>Paul Stanton</td>
        </tr>
        <tr class="row--success">
            <td class="row__actions">
                <input type="checkbox" />
            </td>
            <td><a href="#">This row has .row--success</a></td>
            <td>Monday 4th July, 2013</td>
            <td>3 hours ago</td>
            <td class="centered">{{ html.badge(label = '5') }}</td>
            <td>Paul Stanton</td>
        </tr>
        <tr class="row--danger">
            <td class="row__actions">
                <input type="checkbox" />
            </td>
            <td><a href="#">This row has .row--danger</a></td>
            <td>Monday 4th July, 2013</td>
            <td>3 hours ago</td>
            <td class="centered">{{ html.badge(label = '5') }}</td>
            <td>Paul Stanton</td>
        </tr>
        <tr class="row--warning">
            <td class="row__actions">
                <input type="checkbox" />
            </td>
            <td><a href="#">This row has .row--warning</a></td>
            <td>Monday 4th July, 2013</td>
            <td>3 hours ago</td>
            <td class="centered">{{ html.badge(label = '5') }}</td>
            <td>Paul Stanton</td>
        </tr>            
    </tbody>
</table>