{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/datagrid.html.twig' as datagrid %}

<div class="tab__inner tab--unpadded">
<div class="actionsbar"></div>
  <table class="table--datagrid" id="lexicon_filters">
    <thead>
      <tr>
        {{ datagrid.select_all() }}
        <th>
          {{ html.link({ 'label': 'Title' }) }}
          {{ html.icon('sort-by-alphabet') }}
        </th>
        <th>
          {{ html.link({ 'label': 'Created' }) }}
        </th>
        <th>
          {{ html.link({ 'label': 'Modified' }) }}
        </th>
        <th class="centered shrink-to-fit">
          {{ html.link({ 'label': html.icon('comment-alt') }) }}
        </th>
        <th>
          {{ html.link({ 'label': 'Author' }) }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="row--no-results">
        <td colspan="4">
          <p>There are currently no items to display</p>
          <a href="#">useful call to action</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
