{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block tab_content %}

	<div class="lexicon">
		{{
			flash.message({
				'message': 'This is the default message style with <a href="#example">an example link</a>',
				'sticky': false
			})
		}}
	</div>
	<div class="lexicon">
		{{
			flash.message({
				'message': 'This is the success style with <a href="#example">an example link</a>',
				'type': 'success',
				'sticky': false
			})
		}}
	</div>
	<div class="lexicon">
		{{
			flash.message({
				'message': 'This is the warning style with <a href="#example">an example link</a>',
				'type': 'warning',
				'sticky': false
			})
		}}
	</div>
	<div class="lexicon">
		{{
			flash.message({
				'message': 'This is the error style with <a href="#example">an example link</a>',
				'type': 'error',
				'sticky': false
			})
		}}
	</div>
	<div class="lexicon">
		{{
			flash.message({
				'message': 'This is the info style with <a href="#example">an example link</a>',
				'type': 'info',
				'sticky': false
			})
		}}
	</div>
	<div class="lexicon">
		{{
			flash.message({
				'message': 'You can dismiss this message',
				'type': 'success',
				'sticky': false,
				'autohide': false
			})
		}}
	</div>

	<div class="lexicon">
		{{
			flash.message({
				'message': 'You can’t dismiss this one',
				'type': 'success',
				'sticky': false,
				'autohide': false,
				"dismissable": false
			})
		}}
	</div>

{% endblock tab_content %}
