{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/elem.html.twig' as elem %}
{% import '@pulsar/pulsar/helpers/flash.html.twig' as flash %}

{% block tab_content %}

    {{ form.create() }}

    {{
        form.fieldset_start({
            'legend': 'Text inputs'
        })
    }}

        {{
            form.choice({
                'label': 'Choice',
                'multiple': true,
                'options': [
                    {
                        'label': 'Foo',
                        'name': 'choice',
                        'value': 'foo'
                    },
                    {
                        'label': 'Bar',
                        'name': 'choice',
                        'value': 'bar'
                    },
                    {
                        'label': 'Baz',
                        'name': 'choice',
                        'value': 'baz'
                    },
                    {
                        'label': 'FooFoo',
                        'name': 'choice',
                        'value': 'foofoo'
                    },
                    {
                        'label': 'BarBar',
                        'name': 'choice',
                        'value': 'barbar'
                    },
                    {
                        'label': 'BazBaz',
                        'name': 'choice',
                        'value': 'bazbaz'
                    }
                ]
            })
        }}



        {{
            form.text({
                'label': 'Text input',
                'id': 'inputText',
                'name': 'inputText',
                'placeholder': 'Placeholder',
                'required': true
            })
        }}

        {{
            form.text({
                'label': 'Text input with value',
                'value': 'This is my value, neat huh?',
                'id': 'inputText',
                'name': 'inputText',
                'placeholder': 'Placeholder'
            })
        }}

        {{
            form.text({
                'label': 'Text input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here.'
            })
        }}

        {{
            form.text({
                'label': 'Text input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
                'class': 'form__group--top',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here.'
            })
        }}

        {{
            form.text({
                'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
                'class': 'form__group--top form__group--flush',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here.'
            })
        }}

        {{
            form.date({
                'label': 'Date picker',
                'id': 'inputDatepicker1',
                'name': 'inputDatepicker1'
            })
        }}

        {{
            form.password({
                'label': 'Password input',
                'id': 'inputPassword',
                'name': 'inputPassword',
                'placeholder': 'Placeholder'
            })
        }}

        {{
            form.textarea({
                'label': 'Textarea (2 rows)',
                'id': 'inputTextarea2',
                'name': 'inputTextarea2',
                'placeholder': 'Placeholder',
                'rows': '2'
            })
        }}

        {{
            form.textarea({
                'label': 'Textarea (3 rows)',
                'id': 'inputTextarea3',
                'name': 'inputTextarea3',
                'placeholder': 'Placeholder',
                'rows': '3'
            })
        }}

        {{
            form.textarea({
                'label': 'Textarea (4 rows)',
                'id': 'inputTextarea4',
                'name': 'inputTextarea4',
                'placeholder': 'Placeholder',
                'rows': '4'
            })
        }}


    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Input groups'
        })
    }}



    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Selections'
        })
    }}

        {{
            form.file({
                'label': 'File input',
                'id': 'inputFile',
                'name': 'inputFile'
            })
        }}

        {{
            form.select({
                'id': 'inputSelect',
                'name': 'inputSelect',
                'label': 'Select input',
                'selected': 'value2',
                'options': {
                    'value1': 'value one',
                    'value2': 'value two'
                }
            })
        }}

        {{
            form.select2({
                'id': 'inputSelect',
                'name': 'inputSelect',
                'label': 'Select2 input',
                'selected': 'value2',
                'data-html': 'true',
                'options': {
                    'value1': '<strong>value</strong> one',
                    'value2': '<strong>value</strong> two'
                }
            })
        }}

    {{ form.fieldset_end() }}

        {{
            form.checkbox({
                'label': 'Checkbox with left label',
                'id': 'inputCheckboxLeft',
                'name': 'inputCheckboxLeft',
                'checked': true
            })
        }}
        {{
            form.radio({
                'label': 'Radio with left label',
                'id': 'inputRadioLeft',
                'name': 'inputRadioLeft',
                'checked': true
            })
        }}
        {{
            form.checkbox_inline({
                'label': 'Checkbox with right label',
                'id': 'inputCheckboxRight',
                'name': 'inputCheckboxInline',
                'checked': true
            })
        }}
        {{
            form.radio_inline({
                'label': 'Radio with right label',
                'id': 'inputRadioRight',
                'name': 'inputRadioInline',
                'checked': true
            })
        }}
        {{
            form.checkbox_inline({
                'class': 'form__group--indent',
                'label': 'Checkbox with right label and indented',
                'id': 'inputCheckboxRightIndent',
                'name': 'inputCheckboxInlineIndent',
                'checked': true
            })
        }}
        {{
            form.radio_inline({
                'class': 'form__group--indent',
                'label': 'Radio with right label and indented',
                'id': 'inputRadioRightIndent',
                'name': 'inputRadioInlineIndent',
                'checked': true
            })
        }}

        {{
            form.button_group({
                'label': 'Band',
                'items': [
                    form.radio_simple({
                        'id': 'am',
                        'label': 'AM',
                        'name': 'bands'
                    }),
                    form.radio_simple({
                        'id': 'fm',
                        'label': 'FM',
                        'name': 'bands'
                    }),
                    form.radio_simple({
                        'id': 'mw',
                        'label': 'MW',
                        'name': 'bands'
                    })
                ]
            })
        }}

        {{
            form.button_group({
                'label': 'Band',
                'items': [
                    form.radio_simple({
                        'id': 'am',
                        'label': 'AM',
                        'name': 'bands'
                    }),
                    form.radio_simple({
                        'id': 'fm',
                        'label': 'FM',
                        'name': 'bands'
                    }),
                    form.radio_simple({
                        'id': 'mw',
                        'label': 'MW',
                        'name': 'bands'
                    })
                ]
            })
        }}


    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'States'
        })
    }}

            {{
                form.text({
                    'label': 'Input that has changed',
                    'id': 'inputTextChanged',
                    'class': 'has-changed',
                    'name': 'inputTextChanged',
                    'placeholder': 'Placeholder'
                })
            }}
            {{
                form.text({
                    'label': 'Input with warning',
                    'id': 'inputTextWarning',
                    'class': 'has-warning',
                    'name': 'inputTextWarning',
                    'placeholder': 'Placeholder'
                })
            }}
            {{
                form.text({
                    'label': 'Input with error',
                    'id': 'inputTextError',
                    'class': 'has-error',
                    'name': 'inputTextError',
                    'placeholder': 'Placeholder',
                    'help': 'My help text'
                })
            }}
            {{
                form.text({
                    'label': 'Input with success',
                    'id': 'inputTextSuccess',
                    'class': 'has-success',
                    'name': 'inputTextSuccess',
                    'placeholder': 'Placeholder'
                })
            }}

    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Input groups'
        })
    }}

        {{
            form.text({
                'label': 'Prepended input',
                'id': 'inputPrepend',
                'class': 'form__group--large',
                'name': 'inputPrepend',
                'placeholder': 'Placeholder',
                'prepend': '@'
            })
        }}

        {{
            form.text({
                'label': 'Appended input',
                'id': 'inputAppend',
                'class': 'form__group--large',
                'name': 'inputAppend',
                'placeholder': 'Placeholder',
                'append': '.com'
            })
        }}

        {{
            form.text({
                'label': 'Prepended &amp; Appended',
                'id': 'inputPrependAppend',
                'class': 'form__group--medium',
                'name': 'inputPrependAppend',
                'placeholder': 'Placeholder',
                'prepend': 'www.',
                'append': '.com'
            })
        }}

    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Regular elements'
        })
    }}

        <div class="form__group">
            <p>This is a plain ol' paragraph, its left edge should be on the far left.</p>

            <ul>
                <li>Unordered List</li>
                <li>Unordered List</li>
            </ul>

            <ol>
                <li>Unordered List</li>
                <li>Unordered List</li>
            </ol>
        </div>

        <div class="form__group form__group--indent">
            <p>This is the same plain ol' paragraph, but now we're wrapped in a <code>form__group--indent</code> class which should make our left edge match the form controls.</p>

            <ul>
                <li>Unordered List</li>
                <li>Unordered List</li>
            </ul>

            <ol>
                <li>Unordered List</li>
                <li>Unordered List</li>
            </ol>
        </div>

    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Floating elements'
        })
    }}

    <div class="form__group">
        {{
            html.button({
                'label': 'This Button Has No Form Label',
                'class': 'form__indent'
            })
        }}
    </div>

    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Removable inputs'
        })
    }}

        {{
            form.text({
                'label': 'Removable text input',
                'id': 'inputTextRemovable',
                'name': 'inputTextRemovable',
                'placeholder': 'Placeholder',
                'removable': true
            })
        }}

        {{
            form.file({
                'label': 'Removable File input',
                'id': 'inputFileRemovable',
                'name': 'inputFileRemovable',
                'removable': 'true'
            })
        }}

        <div class="form__group">
            {{
                html.button({
                    'label': 'This Button Has No Form Label',
                    'class': 'form__indent'
                })
            }}
            {{ html.remove_button() }}
        </div>

    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Sizes'
        })
    }}

            {{
                form.text({
                    'label': 'Mini',
                    'id': 'inputTextMini',
                    'class': 'form__group--mini',
                    'name': 'inputTextMini'
                })
            }}

            {{
                form.text({
                    'label': 'Small',
                    'id': 'inputTextSmall',
                    'class': 'form__group--small',
                    'name': 'inputTextSmall'
                })
            }}

            {{
                form.text({
                    'label': 'Medium',
                    'id': 'inputTextMedium',
                    'class': 'form__group--medium',
                    'name': 'inputTextMedium'
                })
            }}

            {{
                form.text({
                    'label': 'Regular',
                    'id': 'inputTextRegular',
                    'name': 'inputTextRegular'
                })
            }}

            {{
                form.text({
                    'label': 'Large',
                    'id': 'inputTextLarge',
                    'class': 'form__group--large',
                    'name': 'inputTextLarge'
                })
            }}

            {{
                form.text({
                    'label': 'Extra Large',
                    'id': 'inputTextXLarge',
                    'class': 'form__group--xlarge',
                    'name': 'inputTextXLarge'
                })
            }}

            {{
                form.text({
                    'label': 'Full',
                    'id': 'inputTextFull',
                    'class': 'form__group--full',
                    'name': 'inputTextFull'
                })
            }}


    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Choice Matrix'
        })
    }}

        <div class="form__group form__group--full">
            <label for="choiceMatrix" class="control__label">
                Three way choice using radio inputs
            </label>
            <div class="controls">
                <table class="form__field-matrix">
                    <thead>
                        <tr>
                            <th></th>
                            <th><span class="">Positive</span></th>
                            <th><span class="">Info</span></th>
                            <th><span class="">Negative</span></th>
                        </tr>
                    </thead>
                    <tbody class="choice-matrix">
                        <tr>
                            <td><span class="">Pick one</span></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="choice_one"><input type="radio" id="choice_one" name="choice-matrix-one" value="positive"><div class="ir"></div></label></td>

                            <td class="choice-matrix__choice--info"><label class="checkbox__label" for="choice-two"><input type="radio" id="choice-two" name="choice-matrix-one" value="info"><div class="ir"></div></label></td>

                            <td class="choice-matrix__choice--ban"><label class="checkbox__label" for="choice-three"><input type="radio" id="choice-three" name="choice-matrix-one" value="negative"><div class="ir"></div></label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="form__group form__group--full">
            <label for="choiceMatrix" class="control__label">
                Specify X and Y using checkboxes
            </label>
            <div class="controls">
                <table class="form__field-matrix">
                    <thead>
                        <tr>
                            <th>
                                <a href="#" data-action="check-all" data-text-all="Select all" data-text-none="Select none">
                                    Select all
                                </a>
                            </th>
                            <th data-action="check-column"><span class="">Mondays</span></th>
                            <th data-action="check-column"><span class="">Tuesdays</span></th>
                            <th data-action="check-column"><span class="">Wednesdays</span></th>
                            <th data-action="check-column"><span class="">Thursdays</span></th>
                            <th data-action="check-column"><span>Fridays</span></th>
                        </tr>
                    </thead>
                    <tbody class="choice-matrix">
                        <tr>
                            <td data-action="check-row"><span class="">9 am - 11 am</span></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_0900_1100_choices_0"><input type="checkbox" id="hearing_values_appellant_availability_0900_1100_choices_0" name="hearing[values][appellant_availability_0900_1100][choices][]" value="monday"><div class="monday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_0900_1100_choices_1"><input type="checkbox" id="hearing_values_appellant_availability_0900_1100_choices_1" name="hearing[values][appellant_availability_0900_1100][choices][]" value="tuesday"><div class="tuesday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_0900_1100_choices_2"><input type="checkbox" id="hearing_values_appellant_availability_0900_1100_choices_2" name="hearing[values][appellant_availability_0900_1100][choices][]" value="wednesday"><div class="wednesday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_0900_1100_choices_3"><input type="checkbox" id="hearing_values_appellant_availability_0900_1100_choices_3" name="hearing[values][appellant_availability_0900_1100][choices][]" value="thursday"><div class="thursday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_0900_1100_choices_4"><input type="checkbox" id="hearing_values_appellant_availability_0900_1100_choices_4" name="hearing[values][appellant_availability_0900_1100][choices][]" value="friday"><div class="friday ir"></div></label></td>
                        </tr>

                        <tr>
                            <td data-action="check-row"><span class="">11 am - 1 pm</span></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1100_1300_choices_0"><input type="checkbox" id="hearing_values_appellant_availability_1100_1300_choices_0" name="hearing[values][appellant_availability_1100_1300][choices][]" value="monday"><div class="monday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1100_1300_choices_1"><input type="checkbox" id="hearing_values_appellant_availability_1100_1300_choices_1" name="hearing[values][appellant_availability_1100_1300][choices][]" value="tuesday"><div class="tuesday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1100_1300_choices_2"><input type="checkbox" id="hearing_values_appellant_availability_1100_1300_choices_2" name="hearing[values][appellant_availability_1100_1300][choices][]" value="wednesday"><div class="wednesday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1100_1300_choices_3"><input type="checkbox" id="hearing_values_appellant_availability_1100_1300_choices_3" name="hearing[values][appellant_availability_1100_1300][choices][]" value="thursday"><div class="thursday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1100_1300_choices_4"><input type="checkbox" id="hearing_values_appellant_availability_1100_1300_choices_4" name="hearing[values][appellant_availability_1100_1300][choices][]" value="friday"><div class="friday ir"></div></label></td>
                        </tr>

                        <tr>
                            <td data-action="check-row"><span class="">1 pm - 3 pm</span></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1300_1500_choices_0"><input type="checkbox" id="hearing_values_appellant_availability_1300_1500_choices_0" name="hearing[values][appellant_availability_1300_1500][choices][]" value="monday"><div class="monday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1300_1500_choices_1"><input type="checkbox" id="hearing_values_appellant_availability_1300_1500_choices_1" name="hearing[values][appellant_availability_1300_1500][choices][]" value="tuesday"><div class="tuesday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1300_1500_choices_2"><input type="checkbox" id="hearing_values_appellant_availability_1300_1500_choices_2" name="hearing[values][appellant_availability_1300_1500][choices][]" value="wednesday"><div class="wednesday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1300_1500_choices_3"><input type="checkbox" id="hearing_values_appellant_availability_1300_1500_choices_3" name="hearing[values][appellant_availability_1300_1500][choices][]" value="thursday"><div class="thursday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1300_1500_choices_4"><input type="checkbox" id="hearing_values_appellant_availability_1300_1500_choices_4" name="hearing[values][appellant_availability_1300_1500][choices][]" value="friday"><div class="friday ir"></div></label></td>
                        </tr>

                        <tr>
                            <td data-action="check-row"><span class="">3 pm - 5 pm</span></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1500_1700_choices_0"><input type="checkbox" id="hearing_values_appellant_availability_1500_1700_choices_0" name="hearing[values][appellant_availability_1500_1700][choices][]" value="monday"><div class="monday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1500_1700_choices_1"><input type="checkbox" id="hearing_values_appellant_availability_1500_1700_choices_1" name="hearing[values][appellant_availability_1500_1700][choices][]" value="tuesday"><div class="tuesday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1500_1700_choices_2"><input type="checkbox" id="hearing_values_appellant_availability_1500_1700_choices_2" name="hearing[values][appellant_availability_1500_1700][choices][]" value="wednesday"><div class="wednesday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1500_1700_choices_3"><input type="checkbox" id="hearing_values_appellant_availability_1500_1700_choices_3" name="hearing[values][appellant_availability_1500_1700][choices][]" value="thursday"><div class="thursday ir"></div></label></td>

                            <td class="choice-matrix__choice"><label class="checkbox__label" for="hearing_values_appellant_availability_1500_1700_choices_4"><input type="checkbox" id="hearing_values_appellant_availability_1500_1700_choices_4" name="hearing[values][appellant_availability_1500_1700][choices][]" value="friday"><div class="friday ir"></div></label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    {{ form.fieldset_end() }}


    <div class="form__group form__group--full repeatable">
        <label for="choiceMatrix" class="control__label">
            Repeatables
        </label>
        <div class="controls">
            <div class="block-list block-list--bordered">
                <a class="block-list__item" href="#">
                    <input type="file" class="hide" />
                    No file selected
                </a>
            </div>
            {{ html.button({ 'label': 'Add File' }) }}
        </div>
    </div>


    <div class="form__group form__group--full repeatable">
        <label for="choiceMatrix" class="control__label">
            Repeatables
        </label>
        <div class="controls">
            <div class="block-list block-list--bordered">
                <a class="block-list__item" href="#">
                    {{ html.remove_button() }}
                    <img src="http://www.placecage.com/g/75/50" class="preview" /> sexy_nick.jpg
                </a>
                <a class="block-list__item" href="#">
                    {{ html.remove_button() }}
                    <img src="http://www.placecage.com/75/50" class="preview" /> nick_cage_is_my_spiritual_guide.jpg
                </a>
                <a class="block-list__item" href="#">
                    {{ html.remove_button() }}
                    <img src="http://www.placecage.com/gif/75/50" class="preview" /> put_the_bunny_back_in_the_box_and_other_long_filenames.gif
                </a>
                <a class="block-list__item" href="#">
                    {{ html.remove_button() }}
                    large_file.avi
                    {{ html.progress({ 'value': 25 }) }}
                </a>
            </div>
            {{ html.button({ 'label': 'Add Another' }) }}
            {{ html.button({ 'label': html.icon('remove-sign') ~ ' Remove all', 'class': 'btn--naked' }) }}
        </div>
    </div>

    {{
        form.end({
            'actions': [
                form.submit({
                	'label': 'Primary Action',
                	'class': 'btn--primary'
                })
            ]
        })
    }}

{% endblock tab_content %}
