{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/elem.html.twig' as elem %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block tab_content %}

    {{ form.create() }}

        {{
            form.choice({
                'label': 'Choice',
                'error': 'foo',
                'multiple': true,
                'options': [
                    {
                        'label': 'Foo',
                        'name': 'choice',
                        'value': 'foo'
                    },
                    {
                        'label': 'Bar',
                        'name': 'choice',
                        'value': 'bar'
                    },
                    {
                        'label': 'Baz',
                        'name': 'choice',
                        'value': 'baz'
                    },
                    {
                        'label': 'FooFoo',
                        'name': 'choice',
                        'value': 'foofoo'
                    },
                    {
                        'label': 'BarBar',
                        'name': 'choice',
                        'value': 'barbar'
                    },
                    {
                        'label': 'BazBaz',
                        'name': 'choice',
                        'value': 'bazbaz'
                    }
                ]
            })
        }}



        {{
            form.text({
                'label': 'Text input',
                'id': 'inputText',
                'name': 'inputText',
                'placeholder': 'Placeholder',
                'required': true
            })
        }}

        {{
            form.text({
                'label': 'Text input with value',
                'value': 'This is my value, neat huh?',
                'id': 'inputText',
                'name': 'inputText',
                'placeholder': 'Placeholder'
            })
        }}

        {{
            form.text({
                'label': 'Text input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here.'
            })
        }}

        {{
            form.text({
                'label': 'Text input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
                'class': 'form__group--top',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here.'
            })
        }}

        {{
            form.text({
                'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
                'class': 'form__group--top form__group--flush',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here.'
            })
        }}

        {{
            form.date({
                'label': 'Date picker',
                'id': 'inputDatepicker1',
                'name': 'inputDatepicker1'
            })
        }}

        {{
            form.text({
                'label': 'Tel input',
                'name': 'inputTel',
                'placeholder': '01234 123 456',
                'type': 'tel'
            })
        }}

        {{
            form.text({
                'label': 'Email input',
                'name': 'inputEmail',
                'placeholder': 'yourname@email.com',
                'type': 'email'
            })
        }}

        {{
            form.text({
                'label': 'URL input',
                'name': 'inputUrl',
                'placeholder': 'www.google.com',
                'type': 'url'
            })
        }}

        {{
            form.password({
                'label': 'Password input',
                'id': 'inputPassword',
                'name': 'inputPassword',
                'placeholder': 'Placeholder'
            })
        }}

        {{
            form.textarea({
                'label': 'Textarea (2 rows)',
                'id': 'inputTextarea2',
                'name': 'inputTextarea2',
                'placeholder': 'Placeholder',
                'rows': '2'
            })
        }}

        {{
            form.textarea({
                'label': 'Textarea (3 rows)',
                'id': 'inputTextarea3',
                'name': 'inputTextarea3',
                'placeholder': 'Placeholder',
                'rows': '3'
            })
        }}

        {{
            form.textarea({
                'label': 'Textarea (4 rows)',
                'id': 'inputTextarea4',
                'name': 'inputTextarea4',
                'placeholder': 'Placeholder',
                'rows': '4'
            })
        }}


    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Input groups'
        })
    }}



    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Selections'
        })
    }}

        {{
            form.file({
                'label': 'File input',
                'id': 'inputFile',
                'name': 'inputFile'
            })
        }}

        {{
            form.select({
                'id': 'inputSelect',
                'name': 'inputSelect',
                'label': 'Select input',
                'selected': 'value2',
                'options': {
                    'value1': 'value one',
                    'value2': 'value two'
                }
            })
        }}

        {{
            form.select2({
                'id': 'inputSelect',
                'name': 'inputSelect',
                'label': 'Select2 input',
                'selected': 'value2',
                'data-html': 'true',
                'options': {
                    'value1': '<strong>value</strong> one',
                    'value2': '<strong>value</strong> two'
                }
            })
        }}

    {{ form.fieldset_end() }}

        {{
            form.checkbox({
                'label': 'Checkbox with left label',
                'id': 'inputCheckboxLeft',
                'name': 'inputCheckboxLeft',
                'checked': true
            })
        }}
        {{
            form.radio({
                'label': 'Radio with left label',
                'id': 'inputRadioLeft',
                'name': 'inputRadioLeft',
                'checked': true
            })
        }}
        {{
            form.checkbox_inline({
                'label': 'Checkbox with right label',
                'id': 'inputCheckboxRight',
                'name': 'inputCheckboxInline',
                'checked': true
            })
        }}
        {{
            form.radio_inline({
                'label': 'Radio with right label',
                'id': 'inputRadioRight',
                'name': 'inputRadioInline',
                'checked': true
            })
        }}
        {{
            form.checkbox_inline({
                'class': 'form__group--indent',
                'label': 'Checkbox with right label and indented',
                'id': 'inputCheckboxRightIndent',
                'name': 'inputCheckboxInlineIndent',
                'checked': true
            })
        }}
        {{
            form.radio_inline({
                'class': 'form__group--indent',
                'label': 'Radio with right label and indented',
                'id': 'inputRadioRightIndent',
                'name': 'inputRadioInlineIndent',
                'checked': true
            })
        }}

        {{
            form.choice({
                'class': 'choice--block form__group--medium',
                'label': 'Choice block radios',
                'options': [
                    {
                        'label': html.icon('bold') ~ ' Bold',
                        'value': 'bold',
                        'name': 'foo'
                    },
                    {
                        'label': html.icon('italic') ~ ' Italic',
                        'value': 'italic',
                        'name': 'foo'
                    },
                    {
                        'label': html.icon('underline') ~ ' Underline',
                        'value': 'underline',
                        'name': 'foo'
                    },
                ]
            })
        }}

        {{
            form.choice({
                'class': 'choice--block choice--block-inline form__group--medium',
                'label': 'Choice block checkboxes (& inline)',
                'multiple': true,
                'options': [
                    {
                        'label': html.icon('bold') ~ ' Bold',
                        'value': 'bold',
                        'name': 'foo'
                    },
                    {
                        'label': html.icon('italic') ~ ' Italic',
                        'value': 'italic',
                        'name': 'foo'
                    },
                    {
                        'label': html.icon('underline') ~ ' Underline',
                        'value': 'underline',
                        'name': 'foo'
                    },
                ]
            })
        }}

        {{
            form.toggle_switch({
                'checked': false,
                'label': 'Toggle',
                'id': 'toggletest'
            })
        }}

        {{
            form.button_group({
                'label': 'Band',
                'items': [
                    form.radio_simple({
                        'id': 'am',
                        'label': 'AM',
                        'name': 'bands'
                    }),
                    form.radio_simple({
                        'id': 'fm',
                        'label': 'FM',
                        'name': 'bands'
                    }),
                    form.radio_simple({
                        'id': 'mw',
                        'label': 'MW',
                        'name': 'bands'
                    })
                ]
            })
        }}

        {{
            form.button_group({
                'label': 'Band',
                'items': [
                    form.radio_simple({
                        'id': 'am',
                        'label': 'AM',
                        'name': 'bands'
                    }),
                    form.radio_simple({
                        'id': 'fm',
                        'label': 'FM',
                        'name': 'bands'
                    }),
                    form.radio_simple({
                        'id': 'mw',
                        'label': 'MW',
                        'name': 'bands'
                    })
                ]
            })
        }}


    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'States'
        })
    }}

            {{
                form.text({
                    'label': 'Input that has changed',
                    'id': 'inputTextChanged',
                    'class': 'has-changed',
                    'name': 'inputTextChanged',
                    'placeholder': 'Placeholder'
                })
            }}
            {{
                form.text({
                    'label': 'Input with warning',
                    'id': 'inputTextWarning',
                    'class': 'has-warning',
                    'name': 'inputTextWarning',
                    'placeholder': 'Placeholder'
                })
            }}
            {{
                form.text({
                    'label': 'Input with error',
                    'id': 'inputTextError',
                    'class': 'has-error',
                    'name': 'inputTextError',
                    'placeholder': 'Placeholder',
                    'help': 'My help text'
                })
            }}
            {{
                form.text({
                    'label': 'Input with success',
                    'id': 'inputTextSuccess',
                    'class': 'has-success',
                    'name': 'inputTextSuccess',
                    'placeholder': 'Placeholder'
                })
            }}

    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Input groups'
        })
    }}

        {{
            form.text({
                'label': 'Prepended input',
                'id': 'inputPrepend',
                'name': 'inputPrepend',
                'placeholder': 'Placeholder',
                'prepend': html.icon('envelope-o'),
            })
        }}

        {{
            form.text({
                'label': 'Prepended input',
                'class': 'form__group--large',
                'id': 'inputPrepend',
                'name': 'inputPrepend',
                'placeholder': 'Placeholder',
                'prepend': html.icon('envelope-o')
            })
        }}

        {{
            form.text({
                'label': 'Prepended input',
                'class': 'form__group--xlarge',
                'id': 'inputPrepend',
                'name': 'inputPrepend',
                'placeholder': 'Placeholder',
                'prepend': html.icon('envelope-o')
            })
        }}

        {{
            form.text({
                'label': 'Prepended input',
                'class': 'form__group--full',
                'id': 'inputPrepend',
                'name': 'inputPrepend',
                'placeholder': 'Placeholder',
                'prepend': html.icon('envelope-o')
            })
        }}

        {{
            form.text({
                'label': 'Appended input',
                'id': 'inputAppend',
                'name': 'inputAppend',
                'placeholder': 'Placeholder',
                'append': '.com'
            })
        }}

        {{
            form.text({
                'label': 'Appended input',
                'id': 'inputAppend',
                'class': 'form__group--large',
                'name': 'inputAppend',
                'placeholder': 'Placeholder',
                'append': '.com'
            })
        }}

        {{
            form.text({
                'label': 'Appended input',
                'id': 'inputAppend',
                'class': 'form__group--xlarge',
                'name': 'inputAppend',
                'placeholder': 'Placeholder',
                'append': '.com'
            })
        }}

        {{
            form.text({
                'label': 'Appended input',
                'id': 'inputAppend',
                'class': 'form__group--full',
                'name': 'inputAppend',
                'placeholder': 'Placeholder',
                'append': '.com'
            })
        }}

        {{
            form.text({
                'label': 'Prepended &amp; Appended',
                'id': 'inputPrependAppend',
                'name': 'inputPrependAppend',
                'placeholder': 'Placeholder',
                'prepend': 'www.',
                'append': '.com'
            })
        }}

        {{
            form.text({
                'label': 'Prepended &amp; Appended',
                'id': 'inputPrependAppend',
                'class': 'form__group--large',
                'name': 'inputPrependAppend',
                'placeholder': 'Placeholder',
                'prepend': 'www.',
                'append': '.com'
            })
        }}

        {{
            form.text({
                'label': 'Prepended &amp; Appended',
                'id': 'inputPrependAppend',
                'class': 'form__group--xlarge',
                'name': 'inputPrependAppend',
                'placeholder': 'Placeholder',
                'prepend': 'www.',
                'append': '.com'
            })
        }}

        {{
            form.text({
                'label': 'Prepended &amp; Appended',
                'id': 'inputPrependAppend',
                'class': 'form__group--full',
                'name': 'inputPrependAppend',
                'placeholder': 'Placeholder',
                'prepend': 'www.',
                'append': '.com'
            })
        }}

        {{
            form.text({
                'label': 'Prepended button',
                'id': 'inputPrependAppend',
                'name': 'inputPrepended',
                'placeholder': 'Placeholder',
                'prepend': html.button({
                    'label': 'Click Me!'
                }),
                'prepend_type': 'button'
            })
        }}

        {{
            form.text({
                'label': 'Appended button',
                'id': 'inputPrependAppend',
                'name': 'inputAppend',
                'placeholder': 'Placeholder',
                'append': html.button({
                    'label': 'Click Me!'
                }),
                'append_type': 'button'
            })
        }}

        {{
            form.text({
                'label': 'Appended and prepended buttons',
                'id': 'inputPrependAppend',
                'name': 'inputAppend',
                'placeholder': 'Placeholder',
                'append': html.button({
                    'label': 'Button'
                }),
                'append_type': 'button',
                'prepend': html.button({
                    'label': 'Button',
                    'class': 'btn--primary'
                }),
                'prepend_type': 'button'
            })
        }}

    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Regular elements'
        })
    }}

        <div class="form__group">
            <p>This is a plain ol' paragraph, its left edge should be on the far left.</p>

            <ul>
                <li>Unordered List</li>
                <li>Unordered List</li>
            </ul>

            <ol>
                <li>Unordered List</li>
                <li>Unordered List</li>
            </ol>
        </div>

        <div class="form__group form__group--indent">
            <p>This is the same plain ol' paragraph, but now we're wrapped in a <code>form__group--indent</code> class which should make our left edge match the form controls.</p>

            <ul>
                <li>Unordered List</li>
                <li>Unordered List</li>
            </ul>

            <ol>
                <li>Unordered List</li>
                <li>Unordered List</li>
            </ol>
        </div>

    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Floating elements'
        })
    }}

    <div class="form__group">
        {{
            html.button({
                'label': 'This Button Has No Form Label',
                'class': 'form__indent'
            })
        }}
    </div>

    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Removable inputs'
        })
    }}

        {{
            form.text({
                'label': 'Removable text input',
                'id': 'inputTextRemovable',
                'name': 'inputTextRemovable',
                'placeholder': 'Placeholder',
                'removable': true
            })
        }}

        {{
            form.file({
                'label': 'Removable File input',
                'id': 'inputFileRemovable',
                'name': 'inputFileRemovable',
                'removable': 'true'
            })
        }}

        <div class="form__group">
            {{
                html.button({
                    'label': 'This Button Has No Form Label',
                    'class': 'form__indent'
                })
            }}
            {{ html.remove_button() }}
        </div>

    {{ form.fieldset_end() }}

    {{
        form.fieldset_start({
            'legend': 'Sizes'
        })
    }}

            {{
                form.text({
                    'label': 'Mini',
                    'id': 'inputTextMini',
                    'class': 'form__group--mini',
                    'name': 'inputTextMini'
                })
            }}

            {{
                form.text({
                    'label': 'Small',
                    'id': 'inputTextSmall',
                    'class': 'form__group--small',
                    'name': 'inputTextSmall'
                })
            }}

            {{
                form.text({
                    'label': 'Medium',
                    'id': 'inputTextMedium',
                    'class': 'form__group--medium',
                    'name': 'inputTextMedium'
                })
            }}

            {{
                form.text({
                    'label': 'Regular',
                    'id': 'inputTextRegular',
                    'name': 'inputTextRegular'
                })
            }}

            {{
                form.text({
                    'label': 'Large',
                    'id': 'inputTextLarge',
                    'class': 'form__group--large',
                    'name': 'inputTextLarge'
                })
            }}

            {{
                form.text({
                    'label': 'Extra Large',
                    'id': 'inputTextXLarge',
                    'class': 'form__group--xlarge',
                    'name': 'inputTextXLarge'
                })
            }}

            {{
                form.text({
                    'label': 'Full',
                    'id': 'inputTextFull',
                    'class': 'form__group--full',
                    'name': 'inputTextFull'
                })
            }}

            {{
                form.end({
                    'actions': [
                        form.submit({
                        	'label': 'Primary Action',
                        	'class': 'btn--primary'
                        })
                    ]
                })
            }}

{% endblock tab_content %}
