{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

{% block tab_content %}

    <h2 class="heading">Standalone</h2>
    {{ html.loading() }}
    <br />

    <h2 class="heading">Standalone with custom label</h2>
    {{ html.loading({
        'label': 'Custom loading'
    }) }}
    <br />

    <h2 class="heading">After form inputs</h2>
    {{ form.create() }}
    {{
        form.select({
            'label': 'Select input',
            'class': 'form__group--small is-loading',
            'id': 'inputSelect',
            'name': 'inputSelect',
            'options': {
                'value1': 'loading...'
            }
        })
    }}
    </form>

    <h2 class="heading">Loading block (for centering within modals or tombstone UIs)</h2>
    {{
        html.loading({
            'class': 'loading--large',
            'message': 'Loading content...',
            'type': 'block'
        })
    }}

    <br />

{% endblock tab_content %}
