{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block tab_content %}

    {{
        html.panel({
            'title': 'Default panel',
            'body': 'What you wanna ball with the kid
    Watch your step you might fall
    Trying to do what I did
    Mama-unh mama-unh mama come closer
    In the middle of the club with the rub-a-dub, unh <a href="#" class="btn btn--outline btn--small">Call to Action</a>'
        })
    }}

    {{
        html.panel({
            'title': 'Info panel',
            'body': 'No love for the haters, the haters
    Mad cause I got floor seats at the Lakers
    See me on the fifty yard line with the Raiders
    Met Ali he told me I’m the greatest
    I got the fever for the flavor of a crowd pleaser <a href="#" class="btn btn--outline btn--small">Call to Action</a>',
            'class': 'panel--info',
            'icon': 'info-sign'
        })
    }}

    {{
        html.panel({
            'title': 'Success panel',
            'body': 'DJ play another
    From the prince of this
    Your highness
    Only mad chicks ride in my whips
    South to the west to the east to the north <a href="#" class="btn btn--outline btn--small">Call to Action</a>',
            'class': 'panel--success',
            'icon': 'ok-sign'
        })
    }}

    {{
        html.panel({
            'title': 'Warning panel',
            'body': 'Bought my hits and watch ’em go off a go off
        Ah yes yes y’all ya don’t stop
    In the winter or the (summertime)
    I makes it hot
    Gettin jiggy wit ’em <a href="#" class="btn btn--outline btn--small">Call to Action</a>',
            'class': 'panel--warning',
            'icon': 'warning-sign'
        })
    }}

    {{
        html.panel({
            'title': 'Danger panel',
            'body': 'Eight-fifty I.S. if you need a lift
    Who’s the kid in the drop
    Who else Will Smith
    Livin’ that life some consider a myth Rock from south street to one two fifth <a href="#" class="btn btn--outline btn--small">Call to Action</a>',
            'class': 'panel--danger',
            'icon': 'exclamation-sign'
        })
    }}

    {{
        html.panel({
            'title': 'Inverse panel',
            'body': 'Women used to tease me
    Give it to me now nice and easy
    Since I moved up like George and Wheezy
    Cream to the maximum I be askin’ ’em
    Would you like to bounce with the brother that’s platinum <a href="#" class="btn btn--outline btn--small">Call to Action</a>',
            'class': 'panel--inverse',
            'icon': 'remove-sign'
        })
    }}

    {{
        html.panel({
            'title': 'Default panel',
            'class': 'panel--padded centered',
            'body': 'What you wanna ball with the kid
    Watch your step you might fall
    Trying to do what I did
    Mama-unh mama-unh mama come closer
    In the middle of the club with the rub-a-dub, unh <a href="#" class="btn btn--outline btn--small">Call to Action</a>'
        })
    }}

{% endblock tab_content %}
