{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block tab_content %}

    <p>
        {{
            html.button({
                'label': 'Top',
                'data-toggle': 'popover',
                'data-content': 'This is my popover content',
                'data-placement': 'top'
            })
        }}

        {{
            html.button({
                'label': 'Right',
                'data-toggle': 'popover',
                'data-content': 'This is my popover content'
            })
        }}

        {{
            html.button({
                'label': 'Bottom',
                'data-toggle': 'popover',
                'data-content': 'This is my popover content',
                'data-placement': 'bottom'
            })
        }}

        {{
            html.button({
                'label': 'Left',
                'data-toggle': 'popover',
                'data-content': 'This is my popover content',
                'data-placement': 'left'
            })
        }}
    </p>

    <p>
        {{
            html.button({
                'label': 'Clickover',
                'rel': 'clickover',
                'data-content': 'Using rel="clickover" will allow the popover to be closed by clicking anywhere outside the popover'
            })
        }}
    </p>
{% endblock tab_content %}
