{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block tab_content %}

    <h2 class="heading">Variations</h2>
    {{
        html.progress({
            value: 50
        })
    }}

    {{
        html.progress({
            class: 'progress-bar--success',
            value: 60,
        })
    }}

    {{
        html.progress({
            class: 'progress-bar--warning',
            value: 70,
        })
    }}

    {{
        html.progress({
            class: 'progress-bar--danger',
            value: 80,
        })
    }}

    <h2 class="heading">Visible values</h2>

    {{
        html.progress({
            value: 5,
            value_visible: true
        })
    }}

    {{
        html.progress({
            value: 10,
            value_visible: true
        })
    }}


    <h2 class="heading">Custom labels</h2>
    {{
        html.progress({
            label:  'uploaded',
            value: 80,
            value_visible:  true
        })
    }}

    {{
        html.progress({
            class: 'progress-bar--success',
            label: 'done ' ~ html.icon('ok'),
            value: 100
        })
    }}

    <h2 class="heading">Progress lists</h2>

    <div class="progress-list">

        <a href="#" class="progress-list__item progress-list__item--current">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 1</span>
                Cut a hole in a box
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 2</span>
                Put your junk in that box
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

    </div>

    <div class="progress-list">

        <a href="#" class="progress-list__item progress-list__item--current">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 1</span>
                Current
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 2</span>
                Default
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 3</span>
                Default
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

    </div>

    <div class="progress-list">

        <a href="#" class="progress-list__item progress-list__item--complete">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 1</span>
                Complete
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item progress-list__item--current">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 2</span>
                Current
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 3</span>
                Default
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

    </div>

    <div class="progress-list">

        <a href="#" class="progress-list__item progress-list__item--complete">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 1</span>
                Complete
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item progress-list__item--complete">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 2</span>
                Complete
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item progress-list__item--current">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 3</span>
                Current
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

    </div>

    <div class="progress-list">

        <a href="#" class="progress-list__item progress-list__item--complete">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 1</span>
                Complete
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item progress-list__item--complete">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 2</span>
                Complete
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item progress-list__item--complete">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 3</span>
                Complete
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item progress-list__item--complete">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 4</span>
                Complete
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item progress-list__item--complete">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 5</span>
                Complete
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

    </div>

{% endblock tab_content %}
