{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/datagrid.html.twig' as datagrid %}

{% set lipsum = "<p>Lorizzle ipsum dolor shut the shizzle up amizzle, gizzle adipiscing doggy. Izzle shizzlin dizzle brizzle, fo volutpizzle, yippiyo quizzle, owned vizzle, arcu. Pellentesque eget boom shackalack. I saw beyonces tizzles and my pizzle went crizzle erizzle. Owned fo shizzle dolor dapibizzle shiznit tempus tempor. Maurizzle for sure gizzle et turpizzle. Gangster izzle tortor. Pellentesque eleifend rhoncizzle nisi. Doggy hac ma nizzle platea dictumst. Boom shackalack dapibizzle. Shiznit tellizzle urna, pretium fo shizzle, yo mamma bizzle, ma nizzle vitae, stuff. Check out this suscipizzle. Integizzle sempizzle sed ass.</p>

<p>Etizzle brizzle my shizz sizzle augue break yo neck, yall accumsizzle. Dang izzle est. Vivamizzle maurizzle dolor, boom shackalack vitae, shizznit izzle, fo shizzle bow wow wow, erat. Vestibulizzle ante ipsizzle rizzle crazy faucibus orci luctus izzle cool posuere cubilia Curae; Fizzle dolor. Shut the shizzle up faucibus. Crunk pizzle blandit quizzle. You son of a bizzle rutrizzle aliquizzle orci. Pot facilisizzle. Mauris you son of a bizzle nulla, gizzle eu, scelerisque gangsta, blandizzle izzle, sizzle.</p>

<p>In gravida ligula nizzle fizzle. My shizz ullamcorpizzle. Etizzle break yo neck, yall. Donizzle izzle mi you son of a bizzle erizzle imperdiet vehicula. Dizzle vel ipsum. Sizzle shit uhuh ... yih! fo shizzle my nizzle lacus. Sizzle a sure vitae urna euismod ullamcorper. Get down get down fo shizzle my nizzle risizzle. You son of a bizzle shizzlin dizzle izzle vizzle fo shizzle. Morbi eget bling bling. Mammasay mammasa mamma oo sa eu get down get down izzle hizzle elementum lobortis. Morbi fizzle, its fo rizzle pimpin' euismizzle porta, nisl things adipiscing nunc, cursus you son of a bizzle boofron shizznit sizzle mofo est. Morbi funky fresh. Shit ante ipsum primis izzle faucibizzle tellivizzle luctizzle et ultrices posuere fo shizzle my nizzle Yippiyo; Pot vehicula, you son of a bizzle daahng dawg tincidunt that's the shizzle, risizzle lorem ma nizzle mammasay mammasa mamma oo sa, a urna metus quizzle go to hizzle. Dizzle pretium erizzle its fo rizzle ass. Its fo rizzle sizzle. I saw beyonces tizzles and my pizzle went crizzle socizzle we gonna chung penatibus rizzle magnis fizzle break it down fo shizzle mah nizzle fo rizzle, mah home g-dizzle, izzle ridiculizzle check out this. The bizzle et massa fringilla quam ultricizzle daahng dawg. Donec non mi.</p>

<p>Nunc commodo own yo' izzle urna. shiz. Vestibulizzle viverra laorizzle crackalackin. Quisque sit amizzle purus eu check out this volutpizzle condimentum. Suspendisse shizznit. Uhuh ... yih! tellivizzle sem bizzle purizzle away aliquizzle. Sed gravida tempizzle ante. Brizzle interdizzle erizzle for sure yippiyo. Fo dawg. Dang sheezy i saw beyonces tizzles and my pizzle went crizzle sizzle dizzle mollis pot. Nulla check out this. Nullam quizzle fo shizzle my nizzle a massa molestie dope. Boofron sagittizzle dui shizzlin dizzle velit. Cras semper ghetto sizzle tellus. Shit pretium purizzle owned dui. Maecenas rutrum rhoncus purus.</p>

<p>Get down get down ultricizzle, away izzle blandit posuere, hizzle crackalackin tempus diam, sizzle mollizzle fo shizzle justo mammasay mammasa mamma oo sa est. Maecenas placerizzle, stuff elementizzle euismod fermentum, ipsum maurizzle mofo , vehicula its fo rizzle velizzle sed ghetto. Morbi nulla elit, owned cool, malesuada volutpizzle, pulvinar izzle, daahng dawg. Bow wow wow urna. Dope placerizzle, nulla quizzle ghetto blandizzle, felizzle augue mah nizzle dui, cool bibendizzle pede ipsizzle fo shizzle erizzle. Shiznit crunk. Nam sizzle dui gangster shut the shizzle up ornare nonummy. Integer crazy, check it out nizzle auctizzle sollicitudizzle, pede purus sempizzle bizzle, sit amizzle ghetto dope felis funky fresh massa. Cras id orci. In brizzle habitasse owned dictumst. Maecenas go to hizzle phat, faucibus things, sempizzle vitae, uhuh ... yih! fo shizzle, quam. Dawg tellizzle da bomb, molestie that's the shizzle, ultrices crackalackin, euismod non, leo. Duis fo shizzlin dizzle izzle yippiyo pulvinar vulputate. Lorizzle ipsum fo sit amizzle, ghetto adipiscing crackalackin.</p>

<p>Crunk eu ligula. Bling bling porta commodo break yo neck, yall. Fo shizzle viverra, sapien izzle daahng dawg dawg, libero urna ma nizzle leo, non pizzle nunc sapien fo shizzle my nizzle nunc. Own yo' eu dolizzle. Vestibulizzle shiz felizzle. Sizzle shizznit faucibizzle . Fo nulla sem, volutpizzle izzle, volutpizzle fizzle, auctizzle egizzle, fo shizzle my nizzle. Shit pharetra. Nunc nisi. Pot sizzle amizzle own yo' mammasay mammasa mamma oo sa dope blandit dignissim. Quisque laorizzle cool i saw beyonces tizzles and my pizzle went crizzle amet enizzle. Aenean tempizzle uhuh ... yih! felizzle.</p>" %}

{% block tab_content %}

	<div class="richer-list richer-list--tall richer-list__with-settings">
		<div class="richer-list__items-container">
			<ol class="richer-list__items">
				<li class="richer-list__item is-selected"><span>This item has <code>.is-selected</code></span></li>
				{% for i in 1..10 %}
				<li class="richer-list__item"><a href="#">Item using a link</a></li>
				<li class="richer-list__item"><span>Item using a span</span></li>
				{% endfor %}
			</ol>
		</div>
		<div class="richer-list__detail">
			<p>Lorizzle ipsum dolor shut the shizzle up amizzle, gizzle adipiscing doggy. Izzle shizzlin dizzle brizzle, fo volutpizzle, yippiyo quizzle, owned vizzle, arcu. Pellentesque eget boom shackalack. I saw beyonces tizzles and my pizzle went crizzle erizzle. Owned fo shizzle dolor dapibizzle shiznit tempus tempor. Maurizzle for sure gizzle et turpizzle. Gangster izzle tortor. Pellentesque eleifend rhoncizzle nisi. Doggy hac ma nizzle platea dictumst. Boom shackalack dapibizzle. Shiznit tellizzle urna, pretium fo shizzle, yo mamma bizzle, ma nizzle vitae, stuff. Check out this suscipizzle. Integizzle sempizzle sed ass.</p>

			<div class="repeatable">
				<div class="block-list block-list--bordered">
					<a class="block-list__item" href="#">
						No file selected
					</a>
				</div>
				{{ html.button({ 'label': 'Add File' }) }}
			</div>

			<div class="repeatable">
				<div class="block-list block-list--bordered">
					<a class="block-list__item" href="#">
						{{ html.remove_button() }}
						{{ html.icon('file') }}
						my_decision_document.doc
					</a>
				</div>
			</div>

			<div class="repeatable">
				<div class="block-list block-list--bordered">
					<a class="block-list__item" href="#">
						{{ html.remove_button() }}
						{{ html.icon('file') }}
						my_decision_document.doc
					</a>
				</div>
				{{ html.button({ 'label': 'Add Another' }) }}
			</div>

			<div class="repeatable">
				<div class="block-list block-list--bordered">
					<a class="block-list__item" href="#">
						{{ html.remove_button() }}
						<img src="http://www.placecage.com/g/75/50" class="preview" /> sexy_nick.jpg
					</a>
					<a class="block-list__item" href="#">
						{{ html.remove_button() }}
						<img src="http://www.placecage.com/75/50" class="preview" /> nick_cage_is_my_spiritual_guide.jpg
					</a>
					<a class="block-list__item" href="#">
						{{ html.remove_button() }}
						<img src="http://www.placecage.com/gif/75/50" class="preview" /> put_the_bunny_back_in_the_box_and_other_long_filenames.gif
					</a>
					<a class="block-list__item" href="#">
						{{ html.remove_button() }}
						large_file.avi
						{{ html.progress({ 'value': 25 }) }}
					</a>
				</div>
				{{ html.button({ 'label': 'Add Another' }) }}
				{{ html.button({ 'label': html.icon('remove-sign') ~ ' Remove all', 'class': 'btn--naked' }) }}
			</div>



			<div class="settings">
			<div class="settings__header">
				<a href="#" class="settings__toggle" title="Open Settings" data-toggle="settings" data-placement="left">{{ html.icon('caret-left') }}</a>

				<h2 class="settings__title">Settings</h2>
			</div>

			<div class="setting">
				<a href="#" class="setting__icon" title="Pin to top" data-placement="left">{{ html.icon('pushpin') }}</a>

				<div class="setting__controls">
					<label>
						<input type="checkbox" id="setting-pin" class="hide" checked />
						<div data-toggle-checkbox="setting-pin" class="toggle toggle-light"></div>
						Pin to top
					</label>
				</div>
			</div>

			<div class="setting">
				<a href="#" class="setting__icon" title="Make case alert" data-placement="left">{{ html.icon('warning-sign') }}</a>

				<div class="setting__controls">
					<label>
						<input type="checkbox" id="setting-alert" class="hide" />
						<div data-toggle-checkbox="setting-alert" class="toggle toggle-light"></div>
						Make case alert
					</label>

					<div class="warning hide">
						<p>You already have a case alert set, do you want to make this one the case alert instead?</p>

						<div class="setting__actions">
							{{ html.button({ 'label': 'Do It', 'class': 'btn--primary' }) }}
							{{ html.button({ 'label': 'Cancel' }) }}
						</div>
					</div>

				</div>
			</div>
		</div>
		</div>



	</div>

	<h3>Simple Rich List</h3>

	<div class="richer-list">
		<div class="richer-list__items-container">
			<ol class="richer-list__items">
				<li class="richer-list__item is-selected"><span>This item has <code>.is-selected</code></span></li>
				{% for i in 1..10 %}
				<li class="richer-list__item"><a href="#">Item using a link</a></li>
				<li class="richer-list__item"><span>Item using a span</span></li>
				{% endfor %}
			</ol>
		</div>
		<div class="richer-list__detail">
			{{ lipsum|sanitise|raw }}
		</div>
	</div>

	<h3>Rich List with settings</h3>



	<h3>Rich List using a table</h3>

	<div class="richer-list">
		<div class="richer-list__items-container">
			<table class="richer-list__items">
				<thead>
					<tr class="richer-list__header">
						<th>Col 1</th>
						<th>Col 2</th>
						<th>Col 3</th>
					</tr>
				</thead>
				<tbody>
					{% for i in 1..4 %}
					<tr class="richer-list__item">
						<td>Row {{ i }}</td>
						<td>Row {{ i }}</td>
						<td>Row {{ i }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="richer-list__detail">
			{{ lipsum|sanitise|raw }}
		</div>
	</div>

	<h3>Paginated Rich List</h3>

	<div class="richer-list richer-list--paginated">
		<div class="richer-list__items-container">
			<table class="richer-list__items">
				<thead>
					<tr class="richer-list__header">
						<th>Col 1</th>
						<th>Col 2</th>
						<th>Col 3</th>
					</tr>
				</thead>
				<tbody>
					{% for i in 1..10 %}
					<tr class="richer-list__item">
						<td>Row {{ i }}</td>
						<td>Row {{ i }}</td>
						<td>Row {{ i }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="richer-list__detail">
			{{ lipsum|sanitise|raw }}
		</div>
	</div>
	<div class="pagination">
        <ul><!--
	        --><li class="is-disabled"><span><i class="icon-double-angle-left"></i> First</span></li><!--
			--><li class="is-disabled"><span><i class="icon-angle-left"></i> Previous</span></li><!--
	        --><li class="current selected"><span>1</span></li><!--
	        --><li class="current"><a href="#">2</a></li><!--
	        --><li class="current"><a href="#">3</a></li><!--
	        --><li class="current"><a href="#">4</a></li><!--
	        --><li class="current"><a href="#">5</a></li><!--
	        --><li class="is-disabled"><span>Next <i class="icon-angle-right"></i></span></li><!--
	        --><li class="is-disabled"><span>Last <i class="icon-double-angle-right"></i></span></li><!--
    	--></ul>
    </div>

	<h3>Rich List &mdash; medium</h3>

	<div class="richer-list richer-list--medium">
		<div class="richer-list__items-container">
			<ol class="richer-list__items">
				<li class="richer-list__item is-selected"><span>This item has <code>.is-selected</code></span></li>
				{% for i in 1..10 %}
				<li class="richer-list__item"><a href="#">Item using a link</a></li>
				<li class="richer-list__item"><span>Item using a span</span></li>
				{% endfor %}
			</ol>
		</div>
		<div class="richer-list__detail">
			<code><pre>&lt;div class="richer-list richer-list--medium"&gt;</pre></code>
			{{ lipsum|sanitise|raw }}
		</div>
	</div>

	<h3>Rich List &mdash; large</h3>

	<div class="richer-list richer-list--large">
		<div class="richer-list__items-container">
			<ol class="richer-list__items">
				<li class="richer-list__item is-selected"><span>This item has <code>.is-selected</code></span></li>
				{% for i in 1..10 %}
				<li class="richer-list__item"><a href="#">Item using a link</a></li>
				<li class="richer-list__item"><span>Item using a span</span></li>
				{% endfor %}
			</ol>
		</div>
		<div class="richer-list__detail">
			<code><pre>&lt;div class="richer-list richer-list--large"&gt;</pre></code>
			{{ lipsum|sanitise|raw }}
		</div>
	</div>

	<h3>Rich List &mdash; extra large</h3>

	<div class="richer-list richer-list--xlarge">
		<div class="richer-list__items-container">
			<ol class="richer-list__items">
				<li class="richer-list__item is-selected"><span>This item has <code>.is-selected</code></span></li>
				{% for i in 1..10 %}
				<li class="richer-list__item"><a href="#">Item using a link</a></li>
				<li class="richer-list__item"><span>Item using a span</span></li>
				{% endfor %}
			</ol>
		</div>
		<div class="richer-list__detail">
			<code><pre>&lt;div class="richer-list richer-list--xlarge"&gt;</pre></code>
			{{ lipsum|sanitise|raw }}
		</div>
	</div>

	<h3>Rich List &mdash; tall &amp; large</h3>

	<div class="richer-list richer-list--tall richer-list--large">
		<div class="richer-list__items-container">
			<ol class="richer-list__items">
				<li class="richer-list__item is-selected"><span>This item has <code>.is-selected</code></span></li>
				{% for i in 1..10 %}
				<li class="richer-list__item"><a href="#">Item using a link</a></li>
				<li class="richer-list__item"><span>Item using a span</span></li>
				{% endfor %}
			</ol>
		</div>
		<div class="richer-list__detail">
			<code><pre>&lt;div class="richer-list richer-list--tall richer-list--large"&gt;</pre></code>
			{{ lipsum|sanitise|raw }}
		</div>
	</div>

	<h3>Rich List with no items</h3>

	<div class="richer-list">
		<div class="richer-list__items-container">
			<table class="richer-list__items">
				<thead>
					<tr class="richer-list__header">
						<th>Col 1</th>
						<th>Col 2</th>
						<th>Col 3</th>
					</tr>
				</thead>
				<tbody>
					<tr class="richer-list__item-placeholder">
						<td colspan="3">There are no items to display</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="richer-list__detail">
			Detail
		</div>
	</div>

{% endblock tab_content %}
