{% extends '@pulsar/pulsar/layouts/tabbed.html.twig' %}
{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/helpers/pulsar.html.twig' as pulsar %}

{% set heading = 'Dashboards' %}

{% block title %}{{ heading ~ ' | ' ~ parent() }}{% endblock %}

{% 
  set actions_menu = [
    html.link(
      label = html.icon('plus') ~ ' Create dashboard', 
      href = '#save',
      attributes = 'data-action=dashboard-create'
    ),
    html.link(
      label = html.icon('upload-alt') ~ ' Install widget', 
      href = '#widget-install',
      attributes = 'data-toggle=deck'
    ),
    html.link(
      label = html.icon('share') ~ ' Share dashboard', 
      href = '/jadu/modals/modal.php?modal=dashboard/share.html.twig',
      attributes = 'data-toggle=modal data-target=#modal'
    ),
    html.divider(),
    html.link(
      label = html.icon('trash') ~ ' Delete selected', 
      href = '/jadu/modals/modal.php?modal=dashboard/delete.html.twig',
      class = 'link--danger',
      attributes = 'data-toggle=modal data-target=#modal-danger'
    )
  ]
%}

{% set tab_dashboards %}
    {% include 'dashboard/tabs/dashboards.html.twig' %}
{% endset %}

{% set tab_widgets %}
    {% include 'dashboard/tabs/widgets.html.twig' %}
{% endset %}

{% 
  set tabs = [
    {
      "id"		: "dashboards",
      "label"	: html.icon("th-large") ~ " Dashboards",
      "src"		: tab_dashboards
    },
    {
      "id"		: "widgets",
      "label"	: html.icon("dashboard") ~ " Widgets",
      "src"		: tab_widgets
    }
  ]
%}

{% block tabs_list %}
	<div class="actionsbar actionsbar--left">
    <div class="btn__toolbar">
      <div class="btn__group">
        <a class="btn btn__back" href="#back" onclick="history.back(); return false;"><i class="icon-arrow-left"></i></a>
        {% if actions_menu is not empty %}
          {{ html.button_dropdown(label = 'Actions', class = 'actions-menu', menu_items = actions_menu) }}
        {% endif %}
      </div>
    </div>
  </div>

  {{ html.tabs(tabs) }}
{% endblock %}

{% block tabs_content %}
  {{ html.tabs_content(tabs) }}


<div class="deck" id="widget-install">
    <div class="slide">
        <div class="slide-inner">
            <button class="close" data-dismiss="deck">&times;</button>
            {{ form.create() }}
            {{ form.fieldset_start(legend = 'Install Widget') }}
            {{ form.file(
                label = 'Widget zip file', 
                id = 'widget[file]', 
                name = 'widgetFile') }}
            {{ form.fieldset_end() }}
            {{ form.form_end([
                form.submit(
                    label = 'Install',
                    class = 'btn--primary')
                ]) 
            }}
        </div>
    </div>
</div>
{% endblock %}
