{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{%
    set example_dropdown = [
        html.link({
            label: html.icon('refresh') ~ ' Reboot',
            href: '#reboot'
        }),
        html.link({
            label: html.icon('pause-circle-o') ~ ' Suspend',
            href: '#suspend'
        }),
        html.link({
            label: html.icon('power-off') ~ ' Shutdown',
            href: '#shutdown'
        }),
        html.divider(),
        html.link({
            label: html.icon('terminal') ~ ' Console',
            href: '#console'
        }),
        html.divider(),
        html.link({
            label: html.icon('times') ~ ' Delete',
            href: '#delete',
            class: 'link--danger'
        })
    ]
%}

{% block tab_content %}
    <table class="table datatable table--full table--horizontal" data-order='[[ 2, "desc" ]]'>
        <thead>
            <tr>
                <th class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select-all" aria-label="Select all rows" />
                </th>
                <th>Name</th>
                <th>Created</th>
                <th data-orderable="false">IP</th>
                <th>Status</th>
                <th>Uptime</th>
                <th>Image</th>
                <th>RAM</th>
                <th class="centered">CPUs</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 0..5 %}
            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a href="#link-{{ i }}" class="table-link">Sysadmin - Ansible 1</a></td>
                <td>04/07/2018 12:34pm</td>
                <td class="monospace"><a href="#" class="table-link">10.101.0.175</a></td>
                <td>
                    {{
                        html.label({
                            'label': 'running',
                            'class': 'label--success'
                        })
                    }}
                </td>
                <td>3d 4h 35m</td>
                <td>{{ html.icon('linux') }} Centos 6 v1.0.2</td>
                <td>4 GB</td>
                <td class="centered">2</td>
            </tr>

            <tr class="table__tr">
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a href="#" class="table-link">Sysasdmin - WISP 1</a></td>
                <td>04/07/2018 12:34pm</td>
                <td class="monospace"><a href="#" class="table-link">10.101.0.138</a></td>
                <td>
                    {{
                        html.label({
                            'label': 'suspended'
                        })
                    }}
                </td>
                <td>17w 3d 4h 35m</td>
                <td>{{ html.icon('windows') }} Windows Server 2012 R2 v1.0.0</td>
                <td>2 GB</td>
                <td class="centered">1</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock tab_content %}
{% block tab_sidebar %}
    <h2>Horizontally Scrolling DataTable</h2>
    <ul>
        <li>Addition of <code>table--horizontal</code> class adds scrolling behaviour</li>
        <li>Cells no longer collapse</li>
    </ul>
    <code class="hljs">
        &lt;table class="table datatable table--horizontal table--full"&gt; &hellip; &lt;/table&gt;
    </code>
{% endblock tab_sidebar %}
