{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
    <table class="table is-sortable table--full">
        <thead>
            <tr>
                <th>File title</th>
                <th>Type</th>
                <th>Size</th>
                <th>Filename / URL</th>
                <th class="centered">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    My awesome document
                </td>
                <td>
                    {{ html.icon('file-word-o') }} .docx
                </td>
                <td>
                    685 KB
                </td>
                <td>
                    document.docx
                </td>
                <td class="centered">
                    {{ form.checkbox({'bare': 'true'}) }}
                </td>
            </tr>

            <tr>
                <td>
                    Innocent screensaver
                </td>
                <td>
                    {{ html.icon('file-code-o') }} .exe
                </td>
                <td>
                    3.5 MB
                </td>
                <td>
                    anna_kournikova.exe
                </td>
                <td class="centered">
                    {{ form.checkbox({'bare': 'true'}) }}
                </td>
            </tr>

            <tr>
                <td>
                    My awesome PDF
                </td>
                <td>
                    {{ html.icon('file-pdf-o') }} .pdf
                </td>
                <td>
                    685 KB
                </td>
                <td>
                    sdfghjkhjifldshjkfdshajkl.pdf
                </td>
                <td class="centered">
                    {{ form.checkbox({'bare': 'true'}) }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h2>Sortable tables</h2>
    <ul>
        <li>Does not work with datatables</li>
    </ul>
    <code class="hljs">
        &lt;table class="table is-sortable table--full"&gt; &hellip; &lt;/table&gt;
    </code>
{% endblock tab_sidebar %}
