{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.button_group({
            'label': 'Button group (checkboxes)',
            'type': 'checkbox',
            'error': 'something went wrong',
            'items': [
                {
                    'id': 'foo1',
                    'label': 'Foo',
                    'name': 'foo-1'
                },
                {
                    'id': 'bar1',
                    'label': 'Bar',
                    'name': 'foo-1'
                },
                {
                    'id': 'baz1',
                    'label': 'Baz',
                    'name': 'foo-1'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'Button group (radios)',
            'type': 'radio',
            'items': [
                {
                    'id': 'foo2',
                    'label': 'Foo',
                    'name': 'foo-2'
                },
                {
                    'id': 'bar2',
                    'label': 'Bar',
                    'name': 'foo-2'
                },
                {
                    'id': 'baz2',
                    'label': 'Baz',
                    'name': 'foo-2'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'Required (radios)',
            'required': true,
            'items': [
                {
                    'id': 'foo3',
                    'label': 'Foo',
                    'name': 'foo-3'
                },
                {
                    'id': 'bar3',
                    'label': 'Bar',
                    'name': 'foo-3'
                },
                {
                    'id': 'baz3',
                    'label': 'Baz',
                    'name': 'foo-3'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'Button group with help (radios)',
            'help': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo4',
                    'label': 'Foo',
                    'name': 'foo-4'
                },
                {
                    'id': 'bar4',
                    'label': 'Bar',
                    'name': 'foo-4'
                },
                {
                    'id': 'baz4',
                    'label': 'Baz',
                    'name': 'foo-4'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'Button group with guidance (radios)',
            'guidance': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo5',
                    'label': 'Foo',
                    'name': 'foo-5'
                },
                {
                    'id': 'bar5',
                    'label': 'Bar',
                    'name': 'foo-5'
                },
                {
                    'id': 'baz5',
                    'label': 'Baz',
                    'name': 'foo-5'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'Required with guidance, with on option pre-selected (radios)',
            'guidance': 'Help text to give more information about expected input',
            'required': true,
            'items': [
                {
                    'id': 'foo6',
                    'label': 'Foo',
                    'name': 'foo-6',
                    'checked': true
                },
                {
                    'id': 'bar6',
                    'label': 'Bar',
                    'name': 'foo-6'
                },
                {
                    'id': 'baz6',
                    'label': 'Baz',
                    'name': 'foo-6'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.button_group({
            'label': 'Button group hide label (radios)',
            'show-label': false,
            'help': 'This example hides the label with the <code>show-label</code> option',
            'items': [
                {
                    'id': 'foo7',
                    'label': 'Foo',
                    'name': 'foo-7',
                    'checked': true
                },
                {
                    'id': 'bar7',
                    'label': 'Bar',
                    'name': 'foo-7'
                },
                {
                    'id': 'baz7',
                    'label': 'Baz',
                    'name': 'foo-7'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'Text input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline (radios)',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo8',
                    'label': 'Foo',
                    'name': 'foo-8',
                    'checked': true
                },
                {
                    'id': 'bar8',
                    'label': 'Bar',
                    'name': 'foo-8'
                },
                {
                    'id': 'baz8',
                    'label': 'Baz',
                    'name': 'foo-8'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'Text input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line (radios)',
            'class': 'form__group--top',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo9',
                    'label': 'Foo',
                    'name': 'foo-9',
                    'checked': true
                },
                {
                    'id': 'bar9',
                    'label': 'Bar',
                    'name': 'foo-9'
                },
                {
                    'id': 'baz9',
                    'label': 'Baz',
                    'name': 'foo-9'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge (radios)',
            'class': 'form__group--top form__group--flush',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo10',
                    'label': 'Foo',
                    'name': 'foo-10',
                    'checked': true
                },
                {
                    'id': 'bar10',
                    'label': 'Bar',
                    'name': 'foo-10'
                },
                {
                    'id': 'baz10',
                    'label': 'Baz',
                    'name': 'foo-10'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.button_group({
            'label': 'Button group with error (radios)',
            'error': 'Please choose an option',
            'items': [
                {
                    'id': 'foo12',
                    'label': 'Foo',
                    'name': 'foo-12',
                    'checked': true
                },
                {
                    'id': 'bar12',
                    'label': 'Bar',
                    'name': 'foo-12'
                },
                {
                    'id': 'baz12',
                    'label': 'Baz',
                    'name': 'foo-12'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'Button group with multiple errors (radios)',
            'error': ['Do this', 'Do this too'],
            'items': [
                {
                    'id': 'foo13',
                    'label': 'Foo',
                    'name': 'foo-13',
                    'checked': true
                },
                {
                    'id': 'bar13',
                    'label': 'Bar',
                    'name': 'foo-13'
                },
                {
                    'id': 'baz13',
                    'label': 'Baz',
                    'name': 'foo-13'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'Button group with error and help (radios)',
            'error': 'Please choose an option',
            'help': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo14',
                    'label': 'Foo',
                    'name': 'foo-14',
                    'checked': true
                },
                {
                    'id': 'bar14',
                    'label': 'Bar',
                    'name': 'foo-14'
                },
                {
                    'id': 'baz14',
                    'label': 'Baz',
                    'name': 'foo-14'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': 'Button group with help only (radios)',
            'class': 'has-error',
            'help': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo15',
                    'label': 'Foo',
                    'name': 'foo-15',
                    'checked': true
                },
                {
                    'id': 'bar15',
                    'label': 'Bar',
                    'name': 'foo-15'
                },
                {
                    'id': 'baz15',
                    'label': 'Baz',
                    'name': 'foo-15'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.button_group({
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input',
            'items': [
                {
                    'id': 'foo16',
                    'label': 'Foo',
                    'name': 'foo-16',
                    'checked': true
                },
                {
                    'id': 'bar16',
                    'label': 'Bar',
                    'name': 'foo-16'
                },
                {
                    'id': 'baz16',
                    'label': 'Baz',
                    'name': 'foo-16'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened',
            'items': [
                {
                    'id': 'foo17',
                    'label': 'Foo',
                    'name': 'foo-17',
                    'checked': true
                },
                {
                    'id': 'bar17',
                    'label': 'Bar',
                    'name': 'foo-17'
                },
                {
                    'id': 'baz17',
                    'label': 'Baz',
                    'name': 'foo-17'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened',
            'items': [
                {
                    'id': 'foo18',
                    'label': 'Foo',
                    'name': 'foo-18',
                    'checked': true
                },
                {
                    'id': 'bar18',
                    'label': 'Bar',
                    'name': 'foo-18'
                },
                {
                    'id': 'baz18',
                    'label': 'Baz',
                    'name': 'foo-18'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option',
            'items': [
                {
                    'id': 'foo19',
                    'label': 'Foo',
                    'name': 'foo-19',
                    'checked': true
                },
                {
                    'id': 'bar19',
                    'label': 'Bar',
                    'name': 'foo-19'
                },
                {
                    'id': 'baz19',
                    'label': 'Baz',
                    'name': 'foo-19'
                }
            ]
        })
    }}

    {{
        form.button_group({
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this',
            'items': [
                {
                    'id': 'foo20',
                    'label': 'Foo',
                    'name': 'foo-20',
                    'checked': true
                },
                {
                    'id': 'bar20',
                    'label': 'Bar',
                    'name': 'foo-20'
                },
                {
                    'id': 'baz20',
                    'label': 'Baz',
                    'name': 'foo-20'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.end()
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
