{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
{% set i = 1 %}

    {{
        form.create()
    }}

    {{
        form.button_group({
            'label': 'Button group ' ~ i,
            'type': 'checkbox',
            'error': 'something went wrong',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Button group ' ~ i,
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Required (radios)',
            'required': true,
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Button group with help (radios)',
            'help': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Button group with guidance (radios)',
            'guidance': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Required with guidance, with on option pre-selected (radios)',
            'guidance': 'Help text to give more information about expected input',
            'required': true,
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}
    

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.button_group({
            'label': 'Button group hide label (radios)',
            'show-label': false,
            'help': 'This example hides the label with the <code>show-label</code> option',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Text input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline (radios)',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Text input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line (radios)',
            'class': 'form__group--top',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge (radios)',
            'class': 'form__group--top form__group--flush',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Grid Sizes' }) }}

    {{
        form.button_group({
            'class': 'form__control-col--1',
            'label': 'Button group',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.button_group({
            'label': 'Button group with error (radios)',
            'error': 'Please choose an option',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Button group with multiple errors (radios)',
            'error': ['Do this', 'Do this too'],
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Button group with error and help (radios)',
            'error': 'Please choose an option',
            'help': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Button group with help only (radios)',
            'class': 'has-error',
            'help': 'Help text to give more information about expected input',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.button_group({
            'label': 'Button group with "has-changed" class',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Button group with "has-success" class',
            'class': 'has-success',
            'help': 'Something good happened',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Button group with "has-warning" class',
            'class': 'has-warning',
            'help': 'Something bad happened',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Button group with "has-error" class',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{
        form.button_group({
            'label': 'Disabled button group',
            'help': 'Stop! Can’t touch this',
            'items': [
                {
                    'id': 'foo-' ~ i,
                    'label': 'Foo ' ~ i,
                    'name': 'foo-' ~ i,
                    'checked': true
                },
                {
                    'id': 'bar-' ~ i,
                    'label': 'Bar ' ~ i,
                    'name': 'foo-' ~ i
                },
                {
                    'id': 'baz-' ~ i,
                    'label': 'Baz ' ~ i,
                    'name': 'foo-' ~  i
                }
            ]
        })
    }}
    {% set i = i + 1 %}

    {{ form.fieldset_end() }}

    {{
        form.end({
            'actions': [
                html.button({
                    'label': 'Save',
                    'class': 'btn--primary'
                }),
                html.button({
                    'label': 'Cancel',
                    'class': 'btn--naked'
                })
            ]
        })
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
