{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.checkbox({
            'id': 'checkbox-1',
            'label': 'Checkbox'
        })
    }}

    {{
        form.checkbox({
            'id': 'checkbox-2',
            'label': 'Checkbox checked',
            'checked': true
        })
    }}

    {{
        form.checkbox({
            'id': 'checkbox-3',
            'label': 'Required',
            'required': true
        })
    }}

    {{
        form.checkbox({
            'id': 'checkbox-4',
            'label': 'Checkbox with help',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.checkbox({
            'id': 'checkbox-5',
            'label': 'Checkbox with guidance',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_start({ 'legend': 'Alternative alignments with inline checkboxes' }) }}

    {{
        form.checkbox_inline({
            'id': 'checkbox-6',
            'label': 'Checkbox inline'
        })
    }}

    {{
        form.checkbox_inline({
            'id': 'checkbox-7',
            'label': 'Checkbox inline plus extras',
            'help': 'Help text to give more information about expected input',
            'guidance': 'Help text to give more information about expected input',
            'required': true
        })
    }}

    {{
        form.checkbox_inline({
            'id': 'checkbox-8',
            'label': 'Checkbox inline and indented',
            'class': 'form__group--indent form__group--full'
        })
    }}

    {{
        form.checkbox_inline({
            'id': 'checkbox-9',
            'label': 'Checkbox inline, indented plus extras',
            'class': 'form__group--indent form__group--full',
            'help': 'Help text to give more information about expected input',
            'guidance': 'Help text to give more information about expected input',
            'required': true
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.checkbox({
            'id': 'checkbox-10',
            'label': 'Checkbox with error',
            'error': 'Please complete this field'
        })
    }}

    {{
        form.checkbox({
            'id': 'checkbox-11',
            'label': 'Checkbox with multiple errors',
            'error': ['Do this', 'Do this too']
        })
    }}

    {{
        form.checkbox({
            'id': 'checkbox-12',
            'label': 'Checkbox with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.checkbox({
            'id': 'checkbox-13',
            'class': 'has-error',
            'label': 'Checkbox error with help only',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.checkbox({
            'id': 'checkbox-14',
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input'
        })
    }}
    {{
        form.checkbox({
            'id': 'checkbox-15',
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened'
        })
    }}

    {{
        form.checkbox({
            'id': 'checkbox-16',
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened'
        })
    }}
    {{
        form.checkbox({
            'id': 'checkbox-17',
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option'
        })
    }}
    {{
        form.checkbox({
            'id': 'checkbox-18',
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this'
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.end()
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157px" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
