{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.choice({
            'class': '',
            'label': 'Choice radios',
            'required': true,
            'options': [
                {
                    'label': 'One',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'Two',
                    'value': 'two',
                    'name': 'one'
                },
                {
                    'label': 'Three',
                    'value': 'three',
                    'name': 'one'
                }
            ],
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.choice({
            'class': '',
            'label': 'Choice with disabled option',
            'options': [
                {
                    'label': 'One',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'Two',
                    'value': 'two',
                    'name': 'one',
                    'disabled': true
                },
                {
                    'label': 'Three',
                    'value': 'three',
                    'name': 'one'
                }
            ],
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.choice({
            'class': '',
            'label': 'Required Choice',
            'multiple': true,
            'required': true,
            'options': [
                {
                    'label': 'One',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'Two',
                    'value': 'two',
                    'name': 'one',
                    'disabled': true
                },
                {
                    'label': 'Three',
                    'value': 'three',
                    'name': 'one'
                }
            ],
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.choice({
            'class': '',
            'label': 'Choice radios',
            'show-label': false,
            'help': 'This example hides the label with the <code>show-label</code> option',
            'options': [
                {
                    'label': 'One',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'Two',
                    'value': 'two',
                    'name': 'one'
                },
                {
                    'label': 'Three',
                    'value': 'three',
                    'name': 'one'
                }
            ],
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.choice({
            'id': 'guid-' ~ random(),
            'class': '',
            'label': 'Choice as select2',
            'help': 'Happens automatically when >5 items',
            'options': [
                {
                    'label': 'One',
                    'value': 'one',
                    'name': 'three'
                },
                {
                    'label': 'Two',
                    'value': 'two',
                    'name': 'three'
                },
                {
                    'label': 'Three',
                    'value': 'three',
                    'name': 'three'
                },
                {
                    'label': 'Four',
                    'value': 'four',
                    'name': 'three'
                },
                {
                    'label': 'Five',
                    'value': 'five',
                    'name': 'three'
                },
                {
                    'label': 'Six',
                    'value': 'six',
                    'name': 'three'
                }
            ],
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.choice({
            'class': 'choice--block',
            'label': 'Choice block radios',
            'options': [
                {
                    'label': html.icon('bold') ~ ' Bold',
                    'value': 'bold',
                    'name': 'five'
                },
                {
                    'label': html.icon('italic') ~ ' Italic',
                    'value': 'italic',
                    'name': 'five',
                    'checked': true
                },
                {
                    'label': html.icon('underline') ~ ' Underline',
                    'value': 'underline',
                    'name': 'five'
                },
            ],
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-hide-input form__control-col--6',
            'label': 'Choice block radios (hidden input)',
            'options': [
                {
                    'label': html.icon('bold') ~ ' Bold',
                    'value': 'bold',
                    'name': 'foo'
                },
                {
                    'label': html.icon('italic') ~ ' Italic',
                    'value': 'italic',
                    'name': 'foo',
                    'checked': true
                },
                {
                    'label': html.icon('underline') ~ ' Underline',
                    'value': 'underline',
                    'name': 'foo'
                },
            ],
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-inline form__control-col--2',
            'optimize': 'few',
            'label': 'Choice block radios',
            'options': [
                {
                    'label': html.icon('bold') ~ ' rah rah rah rah rah rah rah rah rah rah rah rah rah ',
                    'value': 'bold',
                    'name': 'six'
                },
                {
                    'label': html.icon('italic') ~ ' Italic',
                    'value': 'italic',
                    'name': 'six'
                },
                {
                    'label': html.icon('italic') ~ ' Italic',
                    'value': 'italic',
                    'name': 'six'
                }
            ]
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-inline',
            'label': 'Choice block checkboxes (& inline)',
            'optimize': 'few',
            'multiple': true,
            'options': [
                {
                    'label': html.icon('bold') ~ ' Bold',
                    'value': 'bold',
                    'name': 'seven'
                },
                {
                    'label': html.icon('italic') ~ ' Italic',
                    'value': 'italic',
                    'name': 'seven',
                    'checked': true
                },
                {
                    'label': html.icon('underline') ~ ' Underline',
                    'value': 'underline',
                    'name': 'seven',
                    'checked': true
                }
            ]
        })
    }}

    <p>Test right margin removed from rightermost choice block correctly</p>

    {{
        form.choice({
            'class': 'choice--block choice--block-inline form__control-col--1',
            'label': 'Choice block checkboxes (& inline)',
            'optimize': 'few',
            'multiple': true,
            'options': [
                {
                    'label': 'one',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'two',
                    'value': 'two',
                    'name': 'two'
                },
                {
                    'label': 'three',
                    'value': 'three',
                    'name': 'three'
                },
                {
                    'label': 'four',
                    'value': 'four',
                    'name': 'four'
                },
                {
                    'label': 'five',
                    'value': 'five',
                    'name': 'five'
                },
                {
                    'label': 'six',
                    'value': 'six',
                    'name': 'six'
                },
                {
                    'label': 'seven',
                    'value': 'seven',
                    'name': 'seven'
                },
                {
                    'label': 'eight',
                    'value': 'eight',
                    'name': 'eight'
                },
                {
                    'label': 'nine',
                    'value': 'nine',
                    'name': 'nine'
                },
            ]
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-inline form__control-col--2',
            'label': 'Choice block checkboxes (& inline)',
            'optimize': 'few',
            'multiple': true,
            'options': [
                {
                    'label': 'one',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'two',
                    'value': 'two',
                    'name': 'two'
                },
                {
                    'label': 'three',
                    'value': 'three',
                    'name': 'three'
                },
                {
                    'label': 'four',
                    'value': 'four',
                    'name': 'four'
                },
                {
                    'label': 'five',
                    'value': 'five',
                    'name': 'five'
                },
                {
                    'label': 'six',
                    'value': 'six',
                    'name': 'six'
                },
                {
                    'label': 'seven',
                    'value': 'seven',
                    'name': 'seven'
                },
                {
                    'label': 'eight',
                    'value': 'eight',
                    'name': 'eight'
                },
                {
                    'label': 'nine',
                    'value': 'nine',
                    'name': 'nine'
                },
            ]
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-inline form__control-col--3',
            'label': 'Choice block checkboxes (& inline)',
            'optimize': 'few',
            'multiple': true,
            'options': [
                {
                    'label': 'one',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'two',
                    'value': 'two',
                    'name': 'two'
                },
                {
                    'label': 'three',
                    'value': 'three',
                    'name': 'three'
                },
                {
                    'label': 'four',
                    'value': 'four',
                    'name': 'four'
                },
                {
                    'label': 'five',
                    'value': 'five',
                    'name': 'five'
                },
                {
                    'label': 'six',
                    'value': 'six',
                    'name': 'six'
                },
                {
                    'label': 'seven',
                    'value': 'seven',
                    'name': 'seven'
                },
                {
                    'label': 'eight',
                    'value': 'eight',
                    'name': 'eight'
                },
                {
                    'label': 'nine',
                    'value': 'nine',
                    'name': 'nine'
                },
            ]
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-inline form__control-col--4',
            'label': 'Choice block checkboxes (& inline)',
            'optimize': 'few',
            'multiple': true,
            'options': [
                {
                    'label': 'one',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'two',
                    'value': 'two',
                    'name': 'two'
                },
                {
                    'label': 'three',
                    'value': 'three',
                    'name': 'three'
                },
                {
                    'label': 'four',
                    'value': 'four',
                    'name': 'four'
                },
                {
                    'label': 'five',
                    'value': 'five',
                    'name': 'five'
                },
                {
                    'label': 'six',
                    'value': 'six',
                    'name': 'six'
                },
                {
                    'label': 'seven',
                    'value': 'seven',
                    'name': 'seven'
                },
                {
                    'label': 'eight',
                    'value': 'eight',
                    'name': 'eight'
                },
                {
                    'label': 'nine',
                    'value': 'nine',
                    'name': 'nine'
                },
            ]
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-inline form__control-col--5',
            'label': 'Choice block checkboxes (& inline)',
            'optimize': 'few',
            'multiple': true,
            'options': [
                {
                    'label': 'one',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'two',
                    'value': 'two',
                    'name': 'two'
                },
                {
                    'label': 'three',
                    'value': 'three',
                    'name': 'three'
                },
                {
                    'label': 'four',
                    'value': 'four',
                    'name': 'four'
                },
                {
                    'label': 'five',
                    'value': 'five',
                    'name': 'five'
                },
                {
                    'label': 'six',
                    'value': 'six',
                    'name': 'six'
                },
                {
                    'label': 'seven',
                    'value': 'seven',
                    'name': 'seven'
                },
                {
                    'label': 'eight',
                    'value': 'eight',
                    'name': 'eight'
                },
                {
                    'label': 'nine',
                    'value': 'nine',
                    'name': 'nine'
                },
            ]
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-inline form__control-col--6',
            'label': 'Choice block checkboxes (& inline)',
            'optimize': 'few',
            'multiple': true,
            'options': [
                {
                    'label': 'one',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'two',
                    'value': 'two',
                    'name': 'two'
                },
                {
                    'label': 'three',
                    'value': 'three',
                    'name': 'three'
                },
                {
                    'label': 'four',
                    'value': 'four',
                    'name': 'four'
                },
                {
                    'label': 'five',
                    'value': 'five',
                    'name': 'five'
                },
                {
                    'label': 'six',
                    'value': 'six',
                    'name': 'six'
                },
                {
                    'label': 'seven',
                    'value': 'seven',
                    'name': 'seven'
                },
                {
                    'label': 'eight',
                    'value': 'eight',
                    'name': 'eight'
                },
                {
                    'label': 'nine',
                    'value': 'nine',
                    'name': 'nine'
                },
            ]
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-inline form__control-col--7',
            'label': 'Choice block checkboxes (& inline)',
            'optimize': 'few',
            'multiple': true,
            'options': [
                {
                    'label': 'one',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'two',
                    'value': 'two',
                    'name': 'two'
                },
                {
                    'label': 'three',
                    'value': 'three',
                    'name': 'three'
                },
                {
                    'label': 'four',
                    'value': 'four',
                    'name': 'four'
                },
                {
                    'label': 'five',
                    'value': 'five',
                    'name': 'five'
                },
                {
                    'label': 'six',
                    'value': 'six',
                    'name': 'six'
                },
                {
                    'label': 'seven',
                    'value': 'seven',
                    'name': 'seven'
                },
                {
                    'label': 'eight',
                    'value': 'eight',
                    'name': 'eight'
                },
                {
                    'label': 'nine',
                    'value': 'nine',
                    'name': 'nine'
                },
            ]
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-inline form__control-col--8',
            'label': 'Choice block checkboxes (& inline)',
            'optimize': 'few',
            'multiple': true,
            'options': [
                {
                    'label': 'one',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'two',
                    'value': 'two',
                    'name': 'two'
                },
                {
                    'label': 'three',
                    'value': 'three',
                    'name': 'three'
                },
                {
                    'label': 'four',
                    'value': 'four',
                    'name': 'four'
                },
                {
                    'label': 'five',
                    'value': 'five',
                    'name': 'five'
                },
                {
                    'label': 'six',
                    'value': 'six',
                    'name': 'six'
                },
                {
                    'label': 'seven',
                    'value': 'seven',
                    'name': 'seven'
                },
                {
                    'label': 'eight',
                    'value': 'eight',
                    'name': 'eight'
                },
                {
                    'label': 'nine',
                    'value': 'nine',
                    'name': 'nine'
                },
            ]
        })
    }}

    {{
        form.choice({
            'class': 'choice--block choice--block-inline form__control-col--9',
            'label': 'Choice block checkboxes (& inline)',
            'optimize': 'few',
            'multiple': true,
            'options': [
                {
                    'label': 'one',
                    'value': 'one',
                    'name': 'one'
                },
                {
                    'label': 'two',
                    'value': 'two',
                    'name': 'two'
                },
                {
                    'label': 'three',
                    'value': 'three',
                    'name': 'three'
                },
                {
                    'label': 'four',
                    'value': 'four',
                    'name': 'four'
                },
                {
                    'label': 'five',
                    'value': 'five',
                    'name': 'five'
                },
                {
                    'label': 'six',
                    'value': 'six',
                    'name': 'six'
                },
                {
                    'label': 'seven',
                    'value': 'seven',
                    'name': 'seven'
                },
                {
                    'label': 'eight',
                    'value': 'eight',
                    'name': 'eight'
                },
                {
                    'label': 'nine',
                    'value': 'nine',
                    'name': 'nine'
                },
            ]
        })
    }}

    {{
        form.end({
            'actions': [
                html.button({
                    'label': 'Save',
                    'class': 'btn--primary',
                    'type': 'submit'
                }),
                html.button({
                    'label': 'Cancel',
                    'class': 'btn--naked'
                })
            ]
        })
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/choice.html'
        })
    }}

{% endblock tab_sidebar %}
