{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.color({
            'id': 'color-1',
            'label': 'Foo'
        })
    }}

    {{
        form.color({
            'id': 'color-2',
            'label': 'Color field with value',
            'value': '#c00000'
        })
    }}

    {{
        form.color({
            'id': 'color-3',
            'label': 'Required',
            'required': true
        })
    }}

    {{
        form.color({
            'id': 'color-4',
            'label': 'Placeholder',
            'placeholder': 'Oh, hello'
        })
    }}

    {{
        form.color({
            'id': 'color-5',
            'label': 'Color field with help',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.color({
            'id': 'color-6',
            'label': 'Color field with guidance',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.color({
            'id': 'color-7',
            'label': 'Required with guidance',
            'guidance': 'Help text to give more information about expected input',
            'required': true
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.color({
            'id': 'color-8',
            'label': 'Text input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.color({
            'id': 'color-9',
            'label': 'Text input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
            'class': 'form__group--top',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.color({
            'id': 'color-10',
            'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
            'class': 'form__group--top form__group--flush',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.color({
            'id': 'color-11',
            'label': 'Color field with error',
            'error': 'Please complete this field'
        })
    }}

    {{
        form.color({
            'id': 'color-12',
            'label': 'Color field with multiple errors',
            'error': ['Do this', 'Do this too']
        })
    }}

    {{
        form.color({
            'id': 'color-13',
            'label': 'Color field with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.color({
            'id': 'color-14',
            'class': 'has-error',
            'label': 'Color field error with help only',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.color({
            'id': 'color-15',
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input'
        })
    }}
    {{
        form.color({
            'id': 'color-16',
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened'
        })
    }}

    {{
        form.color({
            'id': 'color-17',
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened'
        })
    }}
    {{
        form.color({
            'id': 'color-18',
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option'
        })
    }}
    {{
        form.color({
            'id': 'color-19',
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Sizes' }) }}

    {{
        form.color({
            'id': 'color-20',
            'label': 'Mini',
            'class': 'form__group--mini',
            'name': 'inputTextMini'
        })
    }}

    {{
        form.color({
            'id': 'color-21',
            'label': 'Small',
            'class': 'form__group--small',
            'name': 'inputTextSmall'
        })
    }}

    {{
        form.color({
            'id': 'color-22',
            'label': 'Medium',
            'class': 'form__group--medium',
            'name': 'inputTextMedium'
        })
    }}

    {{
        form.color({
            'id': 'color-23',
            'label': 'Regular',
            'name': 'inputTextRegular'
        })
    }}

    {{
        form.color({
            'id': 'color-24',
            'label': 'Large',
            'class': 'form__group--large',
            'name': 'inputTextLarge'
        })
    }}

    {{
        form.color({
            'id': 'color-25',
            'label': 'Extra Large',
            'class': 'form__group--xlarge',
            'name': 'inputTextXLarge'
        })
    }}

    {{
        form.color({
            'id': 'color-26',
            'label': 'Full',
            'class': 'form__group--full',
            'name': 'inputTextFull'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Appended &amp; Prepended' }) }}

    {{
        form.color({
            'id': 'color-27',
            'label': 'Prepended',
            'prepend': '£'
        })
    }}
{#
    {{
        form.color({
            'id': 'color-28',
            'label': 'Appended',
            'append': '.00'
        })
    }}

    {{
        form.color({
            'id': 'color-29',
            'label': 'Appended with guidance',
            'append': '.00',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.color({
            'id': 'color-30',
            'label': 'Prepended &amp; Appended',
            'append': '.00',
            'prepend': '£'
        })
    }}
#}
    {{ form.fieldset_end() }}

    {{
        form.end()
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157px" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
