{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

{% block tab_content %}
    {{
        form.create()
    }}

    {{ form.fieldset_start() }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'For example: 25 12 1980',
            'label': 'Date of birth',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text'
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'label': 'Date of birth',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text'
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'How long the system should wait for a response, usually 30 seconds',
            'label': 'Timeout',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Value',
                    'id': 'value-' ~ random(),
                    'maxlength': '3',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'u-width-auto',
                    'label': 'Unit of time',
                    'id': 'Unit-' ~ random(),
                    'show-label': false,
                    'type': 'select',
                    'options': [
                        {
                            'label': 'Seconds',
                            'value': 'sec'
                        },
                        {
                            'label': 'Minutes',
                            'value': 'min'
                        }
                    ]
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'This example omits the label option entirely',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text'
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'How long the system should wait for a response, usually 30 seconds',
            'label': 'Form compound with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Value',
                    'id': 'value-' ~ random(),
                    'maxlength': '3',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'u-width-auto',
                    'label': 'Unit of time',
                    'id': 'Unit-' ~ random(),
                    'show-label': false,
                    'type': 'select',
                    'options': [
                        {
                            'label': 'Seconds',
                            'value': 'sec'
                        },
                        {
                            'label': 'Minutes',
                            'value': 'min'
                        }
                    ]
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'How long the system should wait for a response, usually 30 seconds',
            'label': 'Form compound with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
            'class': 'form__group--top',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Value',
                    'id': 'value-' ~ random(),
                    'maxlength': '3',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'u-width-auto',
                    'label': 'Unit of time',
                    'id': 'Unit-' ~ random(),
                    'show-label': false,
                    'type': 'select',
                    'options': [
                        {
                            'label': 'Seconds',
                            'value': 'sec'
                        },
                        {
                            'label': 'Minutes',
                            'value': 'min'
                        }
                    ]
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'How long the system should wait for a response, usually 30 seconds',
            'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
            'class': 'form__group--top form__group--flush',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Value',
                    'id': 'value-' ~ random(),
                    'maxlength': '3',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'u-width-auto',
                    'label': 'Unit of time',
                    'id': 'Unit-' ~ random(),
                    'show-label': false,
                    'type': 'select',
                    'options': [
                        {
                            'label': 'Seconds',
                            'value': 'sec'
                        },
                        {
                            'label': 'Minutes',
                            'value': 'min'
                        }
                    ]
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'For example: 25 12 1980',
            'label': 'Date of birth',
            'error': 'Please complete this field',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'For example: 25 12 1980',
            'label': 'Date of birth',
            'error': ['Invalid day of birth entered', 'Invalid year of borth entered'],
            'class': 'form__group--partial-state',
            'inputs': [
                {
                    'class': 'form__control-col--1 has-error',
                    'label': 'Day',
                    'id': 'dd-' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1 has-error',
                    'label': 'Year',
                    'id': 'yyyy-' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'For example: 25 12 1980',
            'label': 'Example with help text and error',
            'error': 'Please complete your date of birth',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'For example: 25 12 1980',
            'label': 'Example with one invalid field and error',
            'error': 'Please complete your month of birth',
            'class': 'form__group--partial-state',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1 has-error',
                    'label': 'Month',
                    'id': 'mm-' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text'
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'For example: 25 12 1980',
            'label': 'Example error with help text only',
            'class': 'has-error',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text',
                    'has_error': true
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'Highlight whether an action elsewhere affects an input',
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text'
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'Something good happened',
            'label': '"class": "has-success"',
            'class': 'has-success',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text'
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'Something bad happened',
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-1' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-1' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-1' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text'
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'Automatically added if using <code>error</code> option',
            'label': '"class": "has-error"',
            'class': 'has-error',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-1' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-1' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text'
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-1' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text'
                }
            ]
        })
    }}

    {{
        form.compound({
            'id': 'guid-' ~ random(),
            'help': 'Stop! Can’t touch this',
            'label': '"disabled": true',
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'Day',
                    'id': 'dd-1' ~ random(),
                    'placeholder': 'DD',
                    'show-label': false,
                    'type': 'text',
                    'disabled': true
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Month',
                    'id': 'mm-1' ~ random(),
                    'placeholder': 'MM',
                    'show-label': false,
                    'type': 'text',
                    'disabled': true
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'Year',
                    'id': 'yyyy-1' ~ random(),
                    'placeholder': 'YYYY',
                    'show-label': false,
                    'type': 'text',
                    'disabled': true
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.end({
            'actions': [
                html.button({
                    'label': 'Save',
                    'class': 'btn--primary',
                    'type': 'submit'
                }),
                html.button({
                    'label': 'Cancel',
                    'class': 'btn--naked'
                })
            ]
        })
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
