{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.date({
            'id': 'date-1',
            'label': 'Date field'
        })
    }}

    {{
        form.date({
            'id': 'date-2',
            'label': 'Date field with value',
            'value': '04/07/1981'
        })
    }}

    {{
        form.date({
            'id': 'date-3',
            'label': 'Required',
            'required': true
        })
    }}

    {{
        form.date({
            'id': 'date-4',
            'label': 'Placeholder',
            'placeholder': 'Oh, hello'
        })
    }}

    {{
        form.date({
            'id': 'date-5',
            'label': 'Date field with help',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.date({
            'id': 'date-6',
            'label': 'Date field with guidance',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.date({
            'id': 'date-7',
            'label': 'Required with guidance',
            'guidance': 'Help text to give more information about expected input',
            'required': true
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.date({
            'label': 'Date field',
            'show-label': false,
            'help': 'This example hides the label with the <code>show-label</code> option'
        })
    }}

    {{
        form.date({
            'id': 'date-8',
            'label': 'Text input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.date({
            'id': 'date-9',
            'label': 'Text input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
            'class': 'form__group--top',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.date({
            'id': 'date-10',
            'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
            'class': 'form__group--top form__group--flush',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.date({
            'id': 'date-11',
            'label': 'Date field with error',
            'error': 'Please complete this field'
        })
    }}

    {{
        form.date({
            'id': 'date-12',
            'label': 'Date field with multiple errors',
            'error': ['Do this', 'Do this too']
        })
    }}

    {{
        form.date({
            'id': 'date-13',
            'label': 'Date field with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.date({
            'id': 'date-14',
            'class': 'has-error',
            'label': 'Date field error with help only',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.date({
            'id': 'date-15',
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input'
        })
    }}
    {{
        form.date({
            'id': 'date-16',
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened'
        })
    }}

    {{
        form.date({
            'id': 'date-17',
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened'
        })
    }}
    {{
        form.date({
            'id': 'date-18',
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option'
        })
    }}
    {{
        form.date({
            'id': 'date-19',
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Grid Sizes' }) }}

    {{
        form.date({
            'id': 'date-1-col',
            'label': 'One column',
            'class': 'form__control-col--1',
            'name': 'inputDateMini',
        })
    }}

    {{
        form.date({
            'id': 'date-2-col',
            'label': 'Two columns',
            'class': 'form__control-col--2',
            'name': 'inputDateSmall'
        })
    }}

    {{
        form.date({
            'id': 'date-3-col',
            'label': 'Three columns',
            'class': 'form__control-col--3',
            'name': 'inputDateMedium'
        })
    }}

    {{
        form.date({
            'id': 'date-4-col',
            'label': 'Four columns',
            'class': 'form__control-col--4',
            'name': 'inputDateRegular'
        })
    }}

    {{
        form.date({
            'id': 'date-5-col',
            'label': 'Five columns',
            'class': 'form__control-col--5',
            'name': 'inputDateLarge'
        })
    }}

    {{
        form.date({
            'id': 'date-6-col',
            'label': 'Six columns',
            'class': 'form__control-col--6',
            'name': 'inputDateXLarge'
        })
    }}

    {{
        form.date({
            'id': 'date-7-col',
            'label': 'Seven columns',
            'class': 'form__control-col--7',
            'name': 'inputDateFull'
        })
    }}

    {{
        form.date({
            'id': 'date-8-col',
            'label': 'Eight columns',
            'class': 'form__control-col--8',
            'name': 'inputDateFull'
        })
    }}

    {{
        form.date({
            'id': 'date-9-col',
            'label': 'Nine columns',
            'class': 'form__control-col--9',
            'name': 'inputDateFull'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Legacy Sizes' }) }}

    {{
        form.date({
            'id': 'date-20',
            'label': 'Mini',
            'class': 'form__group--mini',
            'name': 'inputTextMini'
        })
    }}

    {{
        form.date({
            'id': 'date-21',
            'label': 'Small',
            'class': 'form__group--small',
            'name': 'inputTextSmall'
        })
    }}

    {{
        form.date({
            'id': 'date-22',
            'label': 'Medium',
            'class': 'form__group--medium',
            'name': 'inputTextMedium'
        })
    }}

    {{
        form.date({
            'id': 'date-23',
            'label': 'Regular',
            'class': 'form__group--regular',
            'name': 'inputTextRegular'
        })
    }}

    {{
        form.date({
            'id': 'date-24',
            'label': 'Large',
            'class': 'form__group--large',
            'name': 'inputTextLarge'
        })
    }}

    {{
        form.date({
            'id': 'date-25',
            'label': 'Extra Large',
            'class': 'form__group--xlarge',
            'name': 'inputTextXLarge'
        })
    }}

    {{
        form.date({
            'id': 'date-26',
            'label': 'Full',
            'class': 'form__group--full',
            'name': 'inputTextFull'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Appended &amp; Prepended' }) }}

    {{
        form.date({
            'id': 'date-27',
            'label': 'Prepended',
            'prepend': html.icon('calendar')
        })
    }}

    {{
        form.date({
            'id': 'date-28',
            'label': 'Appended',
            'append': html.icon('calendar')
        })
    }}

    {{
        form.date({
            'id': 'date-29',
            'label': 'Appended with guidance',
            'append': html.icon('calendar'),
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.date({
            'id': 'date-30',
            'label': 'Prepended &amp; Appended',
            'append': html.icon('calendar'),
            'prepend': html.icon('calendar')
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.end()
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157px" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
