{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'File field'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Required',
            'required': true
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'File field with help',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'File field with guidance',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Required with guidance',
            'guidance': 'Help text to give more information about expected input',
            'required': true
        })
    }}

    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'File field',
            'show-label': false,
            'help': 'This example hides the label with the <code>show-label</code> option'
        })
    }}

    {{
            form.file({
                'id': 'guid-' ~ random(),
                'label': 'Text input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here',
                'guidance': 'Help text to give more information about expected input'
            })
        }}

        {{
            form.file({
                'id': 'guid-' ~ random(),
                'label': 'Text input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
                'class': 'form__group--top',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here',
                'guidance': 'Help text to give more information about expected input'
            })
        }}

        {{
            form.file({
                'id': 'guid-' ~ random(),
                'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
                'class': 'form__group--top form__group--flush',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here',
                'guidance': 'Help text to give more information about expected input'
            })
        }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'File field with error',
            'error': 'Please complete this field'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'File field with multiple errors',
            'error': ['Do this', 'Do this too']
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'File field with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'class': 'has-error',
            'label': 'File field error with help only',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input'
        })
    }}
    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened'
        })
    }}
    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option'
        })
    }}
    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Grid Sizes' }) }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'One column',
            'class': 'form__control-col--1',
            'name': 'inputFileMini',
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Two columns',
            'class': 'form__control-col--2',
            'name': 'inputFileSmall'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Three columns',
            'class': 'form__control-col--3',
            'name': 'inputFileMedium'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Four columns',
            'class': 'form__control-col--4',
            'name': 'inputFileRegular'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Five columns',
            'class': 'form__control-col--5',
            'name': 'inputFileLarge'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Six columns',
            'class': 'form__control-col--6',
            'name': 'inputFileXLarge'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Seven columns',
            'class': 'form__control-col--7',
            'name': 'inputFileFull'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Eight columns',
            'class': 'form__control-col--8',
            'name': 'inputFileFull'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Nine columns',
            'class': 'form__control-col--9',
            'name': 'inputFileFull'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Legacy Sizes' }) }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Mini',
            'class': 'form__group--mini',
            'name': 'inputTextMini'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Small',
            'class': 'form__group--small',
            'name': 'inputTextSmall'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Medium',
            'class': 'form__group--medium',
            'name': 'inputTextMedium'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Regular',
            'name': 'inputTextRegular'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Large',
            'class': 'form__group--large',
            'name': 'inputTextLarge'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Extra Large',
            'class': 'form__group--xlarge',
            'name': 'inputTextXLarge'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Full',
            'class': 'form__group--full',
            'name': 'inputTextFull'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Appended &amp; Prepended' }) }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Prepended',
            'prepend': '£'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Appended',
            'append': '.00'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Appended with guidance',
            'append': '.00',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.file({
            'id': 'guid-' ~ random(),
            'label': 'Prepended &amp; Appended',
            'append': '.00',
            'prepend': '£'
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.end({
            'actions': [
                html.button({
                    'label': 'Save',
                    'class': 'btn--primary',
                    'type': 'submit'
                }),
                html.button({
                    'label': 'Cancel',
                    'class': 'btn--naked'
                })
            ]
        })
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
