{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.password({
            'id': 'password-1',
            'label': 'Password field'
        })
    }}

    {{
        form.password({
            'id': 'password-2',
            'label': 'Required',
            'required': true
        })
    }}

    {{
        form.password({
            'id': 'password-3',
            'label': 'Password field with value',
            'value': 'My value'
        })
    }}

    {{
        form.password({
            'id': 'password-4',
            'label': 'Placeholder',
            'placeholder': 'Oh, hello'
        })
    }}

    {{
        form.password({
            'id': 'password-5',
            'label': 'Password field with help',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.password({
            'id': 'password-6',
            'label': 'Password field with guidance',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.password({
            'id': 'password-7',
            'label': 'Text input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.password({
            'id': 'password-8',
            'label': 'Text input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
            'class': 'form__group--top',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.password({
            'id': 'password-9',
            'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
            'class': 'form__group--top form__group--flush',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.password({
            'id': 'password-10',
            'label': 'Password field with error',
            'error': 'Please complete this field'
        })
    }}

    {{
        form.password({
            'id': 'password-11',
            'label': 'Password field with multiple errors',
            'error': ['Do this', 'Do this too']
        })
    }}

    {{
        form.password({
            'id': 'password-12',
            'label': 'Password field with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.password({
            'id': 'password-13',
            'class': 'has-error',
            'label': 'Password field error with help only',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.password({
            'id': 'password-14',
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input'
        })
    }}
    {{
        form.password({
            'id': 'password-15',
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened'
        })
    }}

    {{
        form.password({
            'id': 'password-16',
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened'
        })
    }}
    {{
        form.password({
            'id': 'password-17',
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option'
        })
    }}
    {{
        form.password({
            'id': 'password-18',
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Sizes' }) }}

    {{
        form.password({
            'id': 'password-19',
            'label': 'Mini',
            'class': 'form__group--mini',
            'name': 'inputTextMini'
        })
    }}

    {{
        form.password({
            'id': 'password-20',
            'label': 'Small',
            'class': 'form__group--small',
            'name': 'inputTextSmall'
        })
    }}

    {{
        form.password({
            'id': 'password-21',
            'label': 'Medium',
            'class': 'form__group--medium',
            'name': 'inputTextMedium'
        })
    }}

    {{
        form.password({
            'id': 'password-22',
            'label': 'Regular',
            'name': 'inputTextRegular'
        })
    }}

    {{
        form.password({
            'id': 'password-23',
            'label': 'Large',
            'class': 'form__group--large',
            'name': 'inputTextLarge'
        })
    }}

    {{
        form.password({
            'id': 'password-24',
            'label': 'Extra Large',
            'class': 'form__group--xlarge',
            'name': 'inputTextXLarge'
        })
    }}

    {{
        form.password({
            'id': 'password-25',
            'label': 'Full',
            'class': 'form__group--full',
            'name': 'inputTextFull'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Appended &amp; Prepended' }) }}

    {{
        form.password({
            'id': 'password-26',
            'label': 'Prepended',
            'prepend': html.icon('key')
        })
    }}

    {{
        form.password({
            'id': 'password-27',
            'label': 'Appended',
            'append': html.icon('ok')
        })
    }}

    {{
        form.password({
            'id': 'password-28',
            'label': 'Appended with guidance',
            'append': html.icon('remove'),
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.password({
            'id': 'password-29',
            'label': 'Prepended &amp; Appended',
            'append': html.icon('ok'),
            'prepend': html.icon('key')
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.end()
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157px" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
