{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
    <h2 class="heading">Repeater</h2>

    {{ form.create({
        'id': 'repeater-submit-debug'
    }) }}

        {{ form.repeater_start({
            'label': 'The Pulsar team',
            'empty': 'You have not added any team members',
            'headings': [
                { name: 'text', label: 'text' },
                { name: 'choice', label: 'choice' },
                { name: 'colour', label: 'colour' },
                { name: 'password', label: 'password' },
                { name: 'radio', label: 'radio' },
                { name: 'select', label: 'select' },
                { name: 'select2', label: 'select2' },
                { name: 'select2multi', label: 'select2multi' }
            ],
            'max-entries': 3,
            'add-new-group-text': 'Add',
            'add-another-group-text': 'Add another'
        }) }}

            {{
                form.fieldset_start({
                    'legend': 'Team Member'
                })
            }}

            {{
                form.text({
                    'label': 'text',
                    'id': 'repeater-text',
                    'name': 'text'
                })
            }}

            {{
                form.choice({
                    'label': 'choice',
                    'id': 'repeater-choice',
                    'options': [
                        {
                            'label': 'foo',
                            'value': 'foo',
                            'name': 'choice'
                        },
                        {
                            'label': 'bar',
                            'value': 'bar',
                            'name': 'choice'
                        },
                        {
                            'label': 'baz',
                            'value': 'baz',
                            'name': 'choice'
                        }
                    ]
                })
            }}

            {{
                form.color({
                    'label': 'colour',
                    'id': 'repeater-colour',
                    'value': '123456',
                    'name': 'colour'
                })
            }}

            {{
                form.password({
                    'label': 'password',
                    'id': 'repeater-password',
                    'name': 'password'
                })
            }}

            {{
                form.radio({
                    'label': 'radio',
                    'id': 'repeater-radio',
                    'name': 'radio',
                    'value': 'radio'
                })
            }}

            {{
                form.select({
                    'label': 'select',
                    'id': 'repeater-select',
                    'name': 'select',
                    options: [
                        {
                            'label': 'Choose',
                            'value': ''
                        },
                        {
                            'label': 'Red',
                            'value': 'colour_red'
                        },
                        {
                            'label': 'Blue',
                            'value': 'colour_blue'
                        }
                    ]
                })
            }}

            {{
                form.select2({
                    'label': 'select2',
                    'id': 'repeater-select2',
                    'name': 'select2',
                    'options': {
                        '': 'Choose',
                        'colour_red': 'Red',
                        'colour_blue': 'Blue'
                    }
                })
            }}

            {{
                form.select2({
                    'label': 'select2multi',
                    'id': 'repeater-select2multi',
                    'name': 'select2multi',
                    'multiple': true,
                    'options': [
                        { value: 'colour_red', label: 'Red' },
                        { value: 'colour_blue', label: 'Blue' }
                    ]
                })
            }}

        {{ form.repeater_end() }}

    {{ form.end() }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
