{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
    <h2 class="heading">Repeatable</h2>

    {{ form.create({
        'id': 'repeater-submit-debug'
    }) }}

        {{ form.repeatable_start({
            'label': 'The Pulsar team',
            'empty': 'You have not added any team members',
            'headings': [
                { name: 'text', label: 'text' },
                { name: 'checkbox', label: 'checkbox' },
                { name: 'choice', label: 'choice' },
                { name: 'colour', label: 'colour' },
                { name: 'date', label: 'date' },
                { name: 'file', label: 'file' },
                { name: 'password', label: 'password' },
                { name: 'radio', label: 'radio' },
                { name: 'radio_simple', label: 'radio_simple' },
                { name: 'range', label: 'range' },
                { name: 'select', label: 'select' },
                { name: 'select2', label: 'select2' },
                { name: 'select2multi', label: 'select2multi' },
                { name: 'textarea', label: 'textarea' },
                { name: 'time', label: 'time' },
                { name: 'toggle', label: 'toggle' }
            ],
            'max-entries': 3,
            'add-new-group-text': 'Add',
            'add-another-group-text': 'Add another'
        }) }}

        {{
            form.fieldset_start({
                'legend': 'Team Member'
            })
        }}

        {{
            form.text({
                'label': 'text',
                'id': 'repeater-text',
                'name': 'text'
            })
        }}

        {{
            form.checkbox({
                'label': 'checkbox',
                'id': 'repeater-checkbox',
                'name': 'checkbox'
            })
        }}

        {{
            form.choice({
                'label': 'choice',
                'id': 'repeater-choice',
                'options': [
                    {
                        'label': 'foo',
                        'value': 'foo',
                        'name': 'choice'
                    },
                    {
                        'label': 'bar',
                        'value': 'bar',
                        'name': 'choice'
                    },
                    {
                        'label': 'baz',
                        'value': 'baz',
                        'name': 'choice'
                    }
                ]
            })
        }}

        {{
            form.color({
                'label': 'colour',
                'id': 'repeater-colour',
                'value': '123456',
                'name': 'colour'
            })
        }}

        {{
            form.date({
                'label': 'date',
                'id': 'repeater-date',
                'name': 'date'
            })
        }}

        {{
            form.file({
                'label': 'file',
                'id': 'repeater-file',
                'name': 'file'
            })
        }}

        {{
            form.password({
                'label': 'password',
                'id': 'repeater-password',
                'name': 'password'
            })
        }}

        {{
            form.radio({
                'label': 'radio',
                'id': 'repeater-radio',
                'name': 'radio',
                'value': 'radio'
            })
        }}

            {{
            form.radio_simple({
                'label': 'radio_simple',
                'id': 'repeater-radio_simple',
                'name': 'radio_simple',
                'value': 'radio_simple'
            })
        }}

        {{
            form.range({
                'label': 'range',
                'id': 'repeater-range',
                'name': 'range'
            })
        }}

        {{
            form.select({
                'label': 'select',
                'id': 'repeater-select',
                'name': 'select',
                options: [
                    {
                        'label': 'Choose',
                        'value': ''
                    },
                    {
                        'label': 'Red',
                        'value': 'colour_red'
                    },
                    {
                        'label': 'Blue',
                        'value': 'colour_blue'
                    }
                ]
            })
        }}

        {{
            form.select2({
                'label': 'select2',
                'id': 'repeater-select2',
                'name': 'select2',
                'options': {
                    '': 'Choose',
                    'colour_red': 'Red',
                    'colour_blue': 'Blue'
                }
            })
        }}

        {{
            form.select2({
                'label': 'select2multi',
                'id': 'repeater-select2multi',
                'name': 'select2multi',
                'multiple': true,
                'options': {
                    'colour_red': 'Red',
                    'colour_blue': 'Blue'
                }
            })
        }}

        {{
            form.textarea({
                'label': 'textarea',
                'id': 'repeater-textarea',
                'name': 'textarea'
            })
        }}

        {{
            form.time({
                'label': 'time',
                'id': 'repeater-time',
                'name': 'time'
            })
        }}

        {{
            form.toggle_switch({
                'label': 'toggle',
                'id': 'toggle',
                'name': 'toggle'
            })
        }}

        {{ form.repeatable_end() }}

        <input type="submit"/>

    {{ form.end() }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
