{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
    <h2 class="heading">Repeatable</h2>

    {{ form.create({
        'id': 'repeater-submit-debug'
    }) }}

        {{ form.repeatable_start({
            'label': 'The Pulsar team',
            'empty': 'You have not added any team members',
            'headings': [
                { name: 'checkbox', label: 'checkbox' },
                { name: 'text', label: 'text' },
                { name: 'radio', label: 'radio' }
            ],
            'max-entries': 3,
            'add-new-group-text': 'Add',
            'add-another-group-text': 'Add another'
        }) }}

            {{
                form.fieldset_start({
                    'legend': 'Team Member'
                })
            }}

            {{
                form.text({
                    'label': 'text',
                    'id': 'text',
                    'name': 'text'
                })
            }}

            {{
                form.checkbox({
                    'label': 'checkbox',
                    'id': 'checkbox',
                    'name': 'checkbox'
                })
            }}

            {{
                form.choice({
                    'label': 'radio',
                    'id': 'radio',
                    'options': [
                        {
                            'label': 'foo',
                            'value': 'foo',
                            'name': 'radio'
                        },
                        {
                            'label': 'bar',
                            'value': 'bar',
                            'name': 'radio'
                        },
                        {
                            'label': 'baz',
                            'value': 'baz',
                            'name': 'radio'
                        }
                    ]
                })
            }}
        {{ form.repeatable_end() }}

        <input type="submit"/>

    {{ form.end() }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
