{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
    <h2 class="heading">Repeatable</h2>

    {{ form.create({
        'id': 'repeater-submit-debug'
    }) }}

        {{ form.repeatable_start({
            'label': 'The Pulsar team',
            'empty': 'You have not added any team members',
            'headings': [
                { name: 'checkbox', label: 'Checkbox' },
                { name: 'date_picker', label: 'Date' },
                { name: 'password', label: 'Password' },
                { name: 'size', label: 'Range' },
                { name: 'text', label: 'Text' },
                { name: 'textarea', label: 'Textarea' },
                { name: 'time', label: 'Time' },
                { name: 'switch', label: 'Switch' }
            ],
            'max-entries': 3,
            'add-new-group-text': 'Add',
            'add-another-group-text': 'Add another'
        }) }}

            {{
                form.fieldset_start({
                    'legend': 'Team Member'
                })
            }}

            {{
                form.checkbox({
                    'label': 'Default checkbox',
                    'id': 'checkbox',
                    'name': 'checkbox'
                })
            }}

            {{
                form.date({
                    'label': 'Date picker',
                    'id': 'date_picker',
                    'name': 'date_picker'
                })
            }}

            {{
                form.password({
                    'label': 'Your password',
                    'id': 'password',
                    'name': 'password'
                })
            }}

            {{
                form.range({
                    'label': 'Size',
                    'id': 'size',
                    'name': 'size'
                })
            }}

            {{
                form.text({
                    'label': 'text',
                    'id': 'text',
                    'name': 'text'
                })
            }}

            {{
                form.textarea({
                    'label': 'Textarea',
                    'id': 'textarea',
                    'name': 'textarea'
                })
            }}

            {{
                form.time({
                    'label': 'Time',
                    'id': 'time',
                    'name': 'time'
                })
            }}

            {{
                form.toggle_switch({
                    'checked': false,
                    'id': 'switch',
                    'label': 'Switch',
                    'name': 'switch'
                })
            }}

        {{ form.repeatable_end() }}

        <input type="submit"/>

    {{ form.end() }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
