{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
    <h2 class="heading">Repeater</h2>

    {{ form.create({
        'id': 'repeater-submit-debug'
    }) }}

        {{ form.repeater_start({
            'label': 'The Pulsar team',
            'empty': 'You have not added any team members',
            'headings': [
                { name: 'text', label: 'Name' },
                { name: 'select2multi', label: 'Favourite food' }
            ],
            'max-entries': 3,
            'add-new-group-text': 'Add',
            'add-another-group-text': 'Add another',
            'values': [
                [{ name: 'text', value: 'Mike' }, { name: 'select2multi', value: ['food_gravy'] }],
                [{ name: 'text', value: 'James' }, { name: 'select2multi', value: ['food_gravy', 'food_pizza'] }],
            ]
        }) }}

            {{
                form.fieldset_start({
                    'legend': 'Team Member'
                })
            }}

            {{
                form.text({
                    'label': 'name',
                    'id': 'repeater-text',
                    'name': 'text'
                })
            }}

            {{
                form.select2({
                    'label': 'Favourite food',
                    'id': 'select2-' ~ random(),
                    'name': 'select2multi',
                    'multiple': true,
                    'options': [
                        { value: 'food_pizza', label: 'Pizza' },
                        { value: 'food_gravy', label: 'Gravy' },
                        { value: 'food_puds', label: 'Yorkshire Pudding' }
                    ]
                })
            }}

            {{ form.fieldset_end() }}

        {{ form.repeater_end() }}

    {{
        form.end({
            'actions': [
                html.button({
                    'label': 'Save',
                    'class': 'btn--primary',
                    'type': 'submit'
                }),
                html.button({
                    'label': 'Cancel',
                    'class': 'btn--naked'
                })
            ]
        })
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
