{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
    <h2 class="heading">Repeatable</h2>

    {{ form.create({
        'id': 'repeater-submit-debug'
    }) }}

        {{ form.repeatable_start({
            'label': 'The Pulsar team',
            'empty': 'You have not added any team members',
            'headings': [
                { 'label': 'Name', 'name': 'full_name' }
            ],
            'max-entries': 3,
            'add-new-group-text': 'Add',
            'add-another-group-text': 'Add another'
        }) }}

            {{
                form.fieldset_start({
                    'legend': 'Team Member'
                })
            }}

            {{
                form.text({
                    'label': 'Full name',
                    'class': 'form__control-col--8',
                    'name': 'full_name'
                })
            }}

        {{ form.repeatable_end() }}

        <input type="submit"/>

    {{ form.end() }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
