{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    <a data-toggle="modal" href="#test-widths" class="btn">Test Select2 Widths in Modals</a>

    {{
        form.select2({
            'id': 'select2-1',
            'label': 'Select field',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                },
                {
                    'label': 'Value three',
                    'value': 'value1'
                },
                {
                    'label': 'Value four',
                    'value': 'value2'
                },
                {
                    'label': 'Value five',
                    'value': 'value1'
                },
                {
                    'label': 'Value six',
                    'value': 'value2'
                }
            ]

        })
    }}

    {{
        form.select2({
            'id': 'select2-2',
            'label': 'Select multiple',
            'multiple': true,
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                },
                {
                    'label': 'Value three',
                    'value': 'value1'
                },
                {
                    'label': 'Value four',
                    'value': 'value2'
                },
                {
                    'label': 'Value five',
                    'value': 'value1'
                },
                {
                    'label': 'Value six',
                    'value': 'value2'
                }
            ]

        })
    }}

    {{
        form.select2({
            'id': 'select2-3',
            'label': 'Required',
            'required': true,
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-4',
            'label': 'Select field with help',
            'help': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-5',
            'label': 'Select field with guidance',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-6',
            'label': 'Required with guidance',
            'guidance': 'Help text to give more information about expected input',
            'required': true,
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'label': 'Select2 with optgroups',
            'options':
            [
                {
                    'label': 'optgroup-1',
                    'options': [
                        {
                            'label': '1-foo',
                            'value': '1-foo-value'
                        },
                        {
                            'label': '1-bar',
                            'value': '1-bar-value'
                        }
                    ]
                },
                {
                    'label': 'optgroup-2',
                    'options': [
                        {
                            'label': '2-foo',
                            'value': '2-foo-value'
                        },
                        {
                            'label': '2-bar',
                            'value': '2-bar-value'
                        }
                    ]
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.select2({
            'label': 'Select field',
            'show-label': false,
            'help': 'This example hides the label with the <code>show-label</code> option',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-7',
            'label': 'Select input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
            'name': 'inputSelectLong',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-8',
            'label': 'Select input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
            'class': 'form__group--top',
            'name': 'inputSelectLong',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-9',
            'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
            'class': 'form__group--top form__group--flush',
            'name': 'inputSelectLong',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.select2({
            'id': 'select2-10',
            'label': 'Select field with error',
            'error': 'Please complete this field',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-11',
            'label': 'Select field with multiple errors',
            'error': ['Do this', 'Do this too'],
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-12',
            'label': 'Select field with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-13',
            'class': 'has-error',
            'label': 'Select field error with help only',
            'help': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.select2({
            'id': 'select2-14',
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}
    {{
        form.select2({
            'id': 'select2-15',
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-16',
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}
    {{
        form.select2({
            'id': 'select2-17',
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}
    {{
        form.select2({
            'id': 'select2-18',
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-19',
            'label': 'Disabled option',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2',
                    'disabled': true
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Grid Sizes' }) }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-1',
            'label': 'One column',
            'class': 'form__control-col--1',
            'name': 'inputSelectColOne',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-2',
            'label': 'Two columns',
            'class': 'form__control-col--2',
            'name': 'inputSelectColTwo',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-3',
            'label': 'Three columns',
            'class': 'form__control-col--3',
            'name': 'inputSelectColThree',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-4',
            'label': 'Four columns',
            'class': 'form__control-col--4',
            'name': 'inputSelectColFour',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-5',
            'label': 'Five columns',
            'class': 'form__control-col--5',
            'name': 'inputSelectColFive',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-6',
            'label': 'Six columns',
            'class': 'form__control-col--6',
            'name': 'inputSelectColSix',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-7',
            'label': 'Seven columns',
            'class': 'form__control-col--7',
            'name': 'inputSelectColSeven',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-8',
            'label': 'Eight columns',
            'class': 'form__control-col--8',
            'name': 'inputSelectColEight',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-9',
            'label': 'Nine columns',
            'class': 'form__control-col--9',
            'name': 'inputSelectColNine',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Legacy Sizes' }) }}

    {{
        form.select2({
            'id': 'select2-20',
            'label': 'Mini',
            'class': 'form__group--mini',
            'name': 'inputSelectMini',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-21',
            'label': 'Small',
            'class': 'form__group--small',
            'name': 'inputSelectSmall',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-22',
            'label': 'Medium',
            'class': 'form__group--medium',
            'name': 'inputSelectMedium',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-23',
            'label': 'Regular',
            'name': 'inputSelectRegular',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-24',
            'label': 'Large',
            'class': 'form__group--large',
            'name': 'inputSelectLarge',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-25',
            'label': 'Extra Large',
            'class': 'form__group--xlarge',
            'name': 'inputSelectXLarge',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-26',
            'label': 'Full',
            'class': 'form__group--full',
            'name': 'inputSelectFull',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Appended &amp; Prepended' }) }}

    {{
        form.select2({
            'id': 'select2-27',
            'label': 'Prepended',
            'prepend': '£',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-28',
            'label': 'Appended',
            'append': '.00',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-29',
            'label': 'Appended with guidance',
            'append': '.00',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-30',
            'label': 'Prepended &amp; Appended',
            'append': '.00',
            'prepend': '£',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select2-31',
            'label': 'Prepended button',
            'prepend': html.button({ 'label': 'foo' }),
            'prepend_type': 'button',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select2-32',
            'label': 'Appended button',
            'append': html.button({ 'label': 'foo' }),
            'append_type': 'button',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.select2({
            'id': 'select2-33',
            'label': 'data-init="false"',
            'class': 'foo',
            'data-init': 'false',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.end()
    }}

<div class="modal modal--large modal__example" id="test-widths">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal__title">A simple example</h4>
            </div>
            <div class="modal__body">
            {{ form.fieldset_start({ 'legend': 'Grid Sizes' }) }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-10',
            'label': 'One column',
            'class': 'form__control-col--1',
            'name': 'inputSelectColOne',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-11',
            'label': 'Two columns',
            'class': 'form__control-col--2',
            'name': 'inputSelectColTwo',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-12',
            'label': 'Three columns',
            'class': 'form__control-col--3',
            'name': 'inputSelectColThree',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-13',
            'label': 'Four columns',
            'class': 'form__control-col--4',
            'name': 'inputSelectColFour',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-14',
            'label': 'Five columns',
            'class': 'form__control-col--5',
            'name': 'inputSelectColFive',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-15',
            'label': 'Six columns',
            'class': 'form__control-col--6',
            'name': 'inputSelectColSix',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-16',
            'label': 'Seven columns',
            'class': 'form__control-col--7',
            'name': 'inputSelectColSeven',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-17',
            'label': 'Eight columns',
            'class': 'form__control-col--8',
            'name': 'inputSelectColEight',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-grid-sizes-18',
            'label': 'Nine columns',
            'class': 'form__control-col--9',
            'name': 'inputSelectColNine',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Legacy Sizes' }) }}

    {{
        form.select2({
            'id': 'select2-34',
            'label': 'Mini',
            'class': 'form__group--mini',
            'name': 'inputSelectMini',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-35',
            'label': 'Small',
            'class': 'form__group--small',
            'name': 'inputSelectSmall',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-36',
            'label': 'Medium',
            'class': 'form__group--medium',
            'name': 'inputSelectMedium',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-37',
            'label': 'Regular',
            'name': 'inputSelectRegular',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-38',
            'label': 'Large',
            'class': 'form__group--large',
            'name': 'inputSelectLarge',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-39',
            'label': 'Extra Large',
            'class': 'form__group--xlarge',
            'name': 'inputSelectXLarge',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select2({
            'id': 'select2-40',
            'label': 'Full',
            'class': 'form__group--full',
            'name': 'inputSelectFull',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
            </div>
            <div class="modal__footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn--primary">Save Changes</button>
            </div>
        </div><!-- /.modal__content -->
    </div><!-- /.modal__dialog -->
</div><!-- /.modal -->

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/Select.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/Select.html'
        })
    }}

{% endblock tab_sidebar %}
