{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Select field',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Required',
            'required': true,
            'options': [
                {
                    'label': 'Choose',
                    'value': ''
                },
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Select field with help',
            'help': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Select field with guidance',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Required with guidance',
            'guidance': 'Help text to give more information about expected input',
            'required': true,
            'options': [
                {
                    'label': 'Choose',
                    'value': ''
                },
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Select with optgroups',
            'options':
            [
                {
                    'label': 'optgroup-1',
                    'options': [
                        {
                            'label': '1-foo',
                            'value': '1-foo-value'
                        },
                        {
                            'label': '1-bar',
                            'value': '1-bar-value'
                        }
                    ]
                },
                {
                    'label': 'optgroup-2',
                    'options': [
                        {
                            'label': '2-foo',
                            'value': '2-foo-value'
                        },
                        {
                            'label': '2-bar',
                            'value': '2-bar-value'
                        }
                    ]
                }
            ]
        })
    }}

    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Select field',
            'show-label': false,
            'help': 'This example hides the label with the <code>show-label</code> option',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Select input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
            'name': 'inputSelectLong',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Select input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
            'class': 'form__group--top',
            'name': 'inputSelectLong',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
            'class': 'form__group--top form__group--flush',
            'name': 'inputSelectLong',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Select field with error',
            'error': 'Please complete this field',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Select field with multiple errors',
            'error': ['Do this', 'Do this too'],
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Select field with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'class': 'has-error',
            'label': 'Select field error with help only',
            'help': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}
    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Disabled option',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2',
                    'disabled': true
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Grid sizes' }) }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'One column',
            'class': 'form__control-col--1',
            'name': 'inputSelectOneCol',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Two columns',
            'class': 'form__control-col--2',
            'name': 'inputSelectTwoCol',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Three columns',
            'class': 'form__control-col--3',
            'name': 'inputSelectThreeCol',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Four columns',
            'class': 'form__control-col--4',
            'name': 'inputSelectFourCol',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Five columns',
            'class': 'form__control-col--5',
            'name': 'inputSelectFiveCol',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Six columns',
            'class': 'form__control-col--6',
            'name': 'inputSelectSixCol',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Seven columns',
            'class': 'form__control-col--7',
            'name': 'inputSelectSevenCol',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Eight columns',
            'class': 'form__control-col--8',
            'name': 'inputSelectEightCol',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Full',
            'class': 'form__control-col--9',
            'name': 'inputSelectNineCol',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Legacy sizes' }) }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Mini',
            'class': 'form__group--mini',
            'name': 'inputSelectMini',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Small',
            'class': 'form__group--small',
            'name': 'inputSelectSmall',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Medium',
            'class': 'form__group--medium',
            'name': 'inputSelectMedium',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Regular',
            'name': 'inputSelectRegular',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Large',
            'class': 'form__group--large',
            'name': 'inputSelectLarge',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Extra Large',
            'class': 'form__group--xlarge',
            'name': 'inputSelectXLarge',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Full',
            'class': 'form__group--full',
            'name': 'inputSelectFull',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Appended &amp; Prepended' }) }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Prepended',
            'prepend': '£',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Appended',
            'append': '.00',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Appended with guidance',
            'append': '.00',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Prepended &amp; Appended',
            'append': '.00',
            'prepend': '£',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Prepended button',
            'prepend': html.button({ 'label': 'foo' }),
            'prepend_type': 'button',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'guid-' ~ random(),
            'label': 'Appended button',
            'append': html.button({ 'label': 'foo' }),
            'append_type': 'button',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}

    {% set options = [
            {
                'label': 'Value one',
                'value': 'value1'
            },
            {
                'label': 'Value two',
                'value': 'value2'
            }
        ]
    %}

    {{ form.fieldset_start({ 'legend': 'Prepended Grid Sizes' }) }}
    {% for i in 1..9 %}
        {{
            form.select({
                'id': 'prepended-' ~ random(),
                'name': 'prepended-' ~ random(),
                'prepend': 'Prepend',
                'label': i ~ ' columns',
                'class': 'form__control-col--' ~ i,
                'options': options
            })
        }}
    {% endfor %}
    {{ form.fieldset_end() }}

    {{ form.fieldset_start({ 'legend': 'Prepended Legacy Grid Sizes' }) }}
    {% set legacyGrid = ['mini', 'small', 'medium', 'regular', 'large', 'xlarge', 'full'] %}
    {% for width in legacyGrid %}
        {{
            form.select({
                'id': 'prepended-' ~ random(),
                'name': 'prepended-' ~ random(),
                'prepend': 'Prepend',
                'label': width,
                'class': 'form__group--' ~ width,
                'options': options
            })
        }}
    {% endfor %}
   {{ form.fieldset_end() }}

    {{ form.fieldset_start({ 'legend': 'Appended Grid Sizes' }) }}
    {% for i in 1..9 %}
        {{
            form.select({
                'id': 'appended-' ~ random(),
                'name': 'appended-' ~ random(),
                'append': 'Append',
                'label': i ~ ' columns',
                'class': 'form__control-col--' ~ i,
                'options': options
            })
        }}
    {% endfor %}
    {{ form.fieldset_end() }}

    {{ form.fieldset_start({ 'legend': 'Appended Legacy Grid Sizes' }) }}
    {% set legacyGrid = ['mini', 'small', 'medium', 'regular', 'large', 'xlarge', 'full'] %}
    {% for width in legacyGrid %}
        {{
            form.select({
                'id': 'appended-' ~ random(),
                'name': 'appended-' ~ random(),
                'append': 'Append',
                'label': width,
                'class': 'form__group--' ~ width,
                'options': options
            })
        }}
    {% endfor %}
    {{ form.fieldset_end() }}

    {{ form.fieldset_start({ 'legend': 'Prepended & Appended Grid Sizes' }) }}
    {% for i in 1..9 %}
        {{
            form.select({
                'id': 'appended-prepended-' ~ random(),
                'name': 'appended-prepended-' ~ random(),
                'append': 'Append',
                'prepend': 'Prepend',
                'label': i ~ ' columns',
                'class': 'form__control-col--' ~ i,
                'options': options
            })
        }}
    {% endfor %}
    {{ form.fieldset_end() }}

    {{ form.fieldset_start({ 'legend': 'Prepended Legacy Grid Sizes' }) }}
    {% set legacyGrid = ['mini', 'small', 'medium', 'regular', 'large', 'xlarge', 'full'] %}
    {% for width in legacyGrid %}
        {{
            form.select({
                'id': 'appended-prepended-' ~ random(),
                'name': 'appended-prepended-' ~ random(),
                'append': 'Append',
                'prepend': 'Prepend',
                'label': width,
                'class': 'form__group--' ~ width,
                'options': options
            })
        }}
    {% endfor %}
    {{ form.fieldset_end() }}

    {{
        form.end({
            'actions': [
                html.button({
                    'label': 'Save',
                    'class': 'btn--primary',
                    'type': 'submit'
                }),
                html.button({
                    'label': 'Cancel',
                    'class': 'btn--naked'
                })
            ]
        })
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/Select.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/Select.html'
        })
    }}

{% endblock tab_sidebar %}
