{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.select({
            'id': 'select-1',
            'label': 'Select field',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-2',
            'label': 'Required',
            'required': true,
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-3',
            'label': 'Select field with help',
            'help': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-4',
            'label': 'Select field with guidance',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-5',
            'label': 'Required with guidance',
            'guidance': 'Help text to give more information about expected input',
            'required': true,
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'label': 'Select with optgroups',
            'options':
            [
                {
                    'label': 'optgroup-1',
                    'options': [
                        {
                            'label': '1-foo',
                            'value': '1-foo-value'
                        },
                        {
                            'label': '1-bar',
                            'value': '1-bar-value'
                        }
                    ]
                },
                {
                    'label': 'optgroup-2',
                    'options': [
                        {
                            'label': '2-foo',
                            'value': '2-foo-value'
                        },
                        {
                            'label': '2-bar',
                            'value': '2-bar-value'
                        }
                    ]
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.select({
            'label': 'Select field',
            'show-label': false,
            'help': 'This example hides the label with the <code>show-label</code> option',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-6',
            'label': 'Select input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
            'name': 'inputSelectLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-7',
            'label': 'Select input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
            'class': 'form__group--top',
            'name': 'inputSelectLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-8',
            'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
            'class': 'form__group--top form__group--flush',
            'name': 'inputSelectLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.select({
            'id': 'select-9',
            'label': 'Select field with error',
            'error': 'Please complete this field',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-10',
            'label': 'Select field with multiple errors',
            'error': ['Do this', 'Do this too'],
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-11',
            'label': 'Select field with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-12',
            'class': 'has-error',
            'label': 'Select field error with help only',
            'help': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.select({
            'id': 'select-13',
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}
    {{
        form.select({
            'id': 'select-14',
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-15',
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-16',
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-17',
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-18',
            'label': 'Disabled option',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2',
                    'disabled': true
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Sizes' }) }}

    {{
        form.select({
            'id': 'select-19',
            'label': 'Mini',
            'class': 'form__group--mini',
            'name': 'inputSelectMini',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-20',
            'label': 'Small',
            'class': 'form__group--small',
            'name': 'inputSelectSmall',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-21',
            'label': 'Medium',
            'class': 'form__group--medium',
            'name': 'inputSelectMedium',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-22',
            'label': 'Regular',
            'name': 'inputSelectRegular',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-23',
            'label': 'Large',
            'class': 'form__group--large',
            'name': 'inputSelectLarge',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-24',
            'label': 'Extra Large',
            'class': 'form__group--xlarge',
            'name': 'inputSelectXLarge',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-25',
            'label': 'Full',
            'class': 'form__group--full',
            'name': 'inputSelectFull',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Appended &amp; Prepended' }) }}

    {{
        form.select({
            'id': 'select-26',
            'label': 'Prepended',
            'prepend': '£',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-27',
            'label': 'Appended',
            'append': '.00',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-28',
            'label': 'Appended with guidance',
            'append': '.00',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{
        form.select({
            'id': 'select-29',
            'label': 'Prepended &amp; Appended',
            'append': '.00',
            'prepend': '£',
            'options': [
                {
                    'label': 'Value one',
                    'value': 'value1'
                },
                {
                    'label': 'Value two',
                    'value': 'value2'
                }
            ]
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.end()
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/Select.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157px" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/Select.html'
        })
    }}

{% endblock tab_sidebar %}
