{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.textarea({
            'id': 'textarea-1',
            'label': 'Textarea'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-2',
            'label': 'Textarea with value',
            'value': 'My value'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-3',
            'label': 'Required',
            'required': true
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-4',
            'label': 'Placeholder',
            'placeholder': 'Oh, hello'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-5',
            'label': 'Textarea with help',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-6',
            'label': 'Textarea with guidance',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-7',
            'label': 'Required with guidance',
            'guidance': 'Help text to give more information about expected input',
            'required': true
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
            form.textarea({
                'id': 'textarea-8',
                'label': 'Text input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here',
                'guidance': 'Help text to give more information about expected input'
            })
        }}

        {{
            form.textarea({
                'id': 'textarea-9',
                'label': 'Text input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
                'class': 'form__group--top',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here',
                'guidance': 'Help text to give more information about expected input'
            })
        }}

        {{
            form.textarea({
                'id': 'textarea-10',
                'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
                'class': 'form__group--top form__group--flush',
                'name': 'inputTextLong',
                'placeholder': 'Placeholder',
                'help': 'Example block-level help text here',
                'guidance': 'Help text to give more information about expected input'
            })
        }}

    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.textarea({
            'id': 'textarea-11',
            'label': 'Textarea with error',
            'error': 'Please complete this field'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-12',
            'label': 'Textarea with multiple errors',
            'error': ['Do this', 'Do this too']
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-13',
            'label': 'Textarea with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-14',
            'class': 'has-error',
            'label': 'Textarea error with help only',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.textarea({
            'id': 'textarea-15',
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input'
        })
    }}
    {{
        form.textarea({
            'id': 'textarea-16',
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-17',
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened'
        })
    }}
    {{
        form.textarea({
            'id': 'textarea-18',
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option'
        })
    }}
    {{
        form.textarea({
            'id': 'textarea-19',
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Sizes' }) }}

    {{
        form.textarea({
            'id': 'textarea-20',
            'label': 'Mini',
            'class': 'form__group--mini',
            'name': 'inputTextMini'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-21',
            'label': 'Small',
            'class': 'form__group--small',
            'name': 'inputTextSmall'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-22',
            'label': 'Medium',
            'class': 'form__group--medium',
            'name': 'inputTextMedium'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-23',
            'label': 'Regular',
            'name': 'inputTextRegular'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-24',
            'label': 'Large',
            'class': 'form__group--large',
            'name': 'inputTextLarge'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-25',
            'label': 'Extra Large',
            'class': 'form__group--xlarge',
            'name': 'inputTextXLarge'
        })
    }}

    {{
        form.textarea({
            'id': 'textarea-26',
            'label': 'Full',
            'class': 'form__group--full',
            'name': 'inputTextFull'
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.end()
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157px" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
