{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.text({
            'id': 'text-1',
            'label': 'Text field'
        })
    }}

    {{
        form.text({
            'id': 'text-2',
            'label': 'Text field with value',
            'value': 'My value'
        })
    }}

    {{
        form.text({
            'id': 'text-3',
            'label': 'Required',
            'required': true
        })
    }}

    {{
        form.text({
            'id': 'text-4',
            'label': 'Placeholder',
            'placeholder': 'Oh, hello'
        })
    }}

    {{
        form.text({
            'id': 'text-5',
            'label': 'Text field with help',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.text({
            'id': 'text-6',
            'label': 'Text field with guidance',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.text({
            'id': 'text-7',
            'label': 'Required with guidance',
            'guidance': 'Help text to give more information about expected input',
            'required': true
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.text({
            'id': 'text-1',
            'label': 'Text field',
            'show-label': false,
            'help': 'This example hides the label with the <code>show-label</code> option'
        })
    }}

    {{
        form.text({
            'id': 'text-8',
            'label': 'Text input with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.text({
            'id': 'text-9',
            'label': 'Text input with a longer than expected label but this time we use the form__group--top class to keep the label on a single line',
            'class': 'form__group--top',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.text({
            'id': 'text-10',
            'label': 'The same as above, but this time we also add the .form__group--flush class to keep everything on the left edge',
            'class': 'form__group--top form__group--flush',
            'name': 'inputTextLong',
            'placeholder': 'Placeholder',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.text({
            'id': 'text-11',
            'label': 'Text field with error',
            'error': 'Please complete this field'
        })
    }}

    {{
        form.text({
            'id': 'text-12',
            'label': 'Text field with multiple errors',
            'error': ['Do this', 'Do this too']
        })
    }}

    {{
        form.text({
            'id': 'text-13',
            'label': 'Text field with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.text({
            'id': 'text-14',
            'class': 'has-error',
            'label': 'Text field error with help only',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.text({
            'id': 'text-15',
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input'
        })
    }}
    {{
        form.text({
            'id': 'text-16',
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened'
        })
    }}

    {{
        form.text({
            'id': 'text-17',
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened'
        })
    }}
    {{
        form.text({
            'id': 'text-18',
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option'
        })
    }}
    {{
        form.text({
            'id': 'text-19',
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Grid Sizes' }) }}

    {{
        form.text({
            'id': 'text-1-col',
            'label': 'One column',
            'class': 'form__control-col--1',
            'name': 'inputTextMini',
        })
    }}

    {{
        form.text({
            'id': 'text-2-col',
            'label': 'Two columns',
            'class': 'form__control-col--2',
            'name': 'inputTextSmall'
        })
    }}

    {{
        form.text({
            'id': 'text-3-col',
            'label': 'Three columns',
            'class': 'form__control-col--3',
            'name': 'inputTextMedium'
        })
    }}

    {{
        form.text({
            'id': 'text-4-col',
            'label': 'Four columns',
            'class': 'form__control-col--4',
            'name': 'inputTextRegular'
        })
    }}

    {{
        form.text({
            'id': 'text-5-col',
            'label': 'Five columns',
            'class': 'form__control-col--5',
            'name': 'inputTextLarge'
        })
    }}

    {{
        form.text({
            'id': 'text-6-col',
            'label': 'Six columns',
            'class': 'form__control-col--6',
            'name': 'inputTextXLarge'
        })
    }}

    {{
        form.text({
            'id': 'text-7-col',
            'label': 'Seven columns',
            'class': 'form__control-col--7',
            'name': 'inputTextFull'
        })
    }}

    {{
        form.text({
            'id': 'text-8-col',
            'label': 'Eight columns',
            'class': 'form__control-col--8',
            'name': 'inputTextFull'
        })
    }}

    {{
        form.text({
            'id': 'text-9-col',
            'label': 'Nine columns',
            'class': 'form__control-col--9',
            'name': 'inputTextFull'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Legacy Sizes' }) }}

    {{
        form.text({
            'id': 'text-20',
            'label': 'Mini',
            'class': 'form__group--mini',
            'name': 'inputTextMini'
        })
    }}

    {{
        form.text({
            'id': 'text-21',
            'label': 'Small',
            'class': 'form__group--small',
            'name': 'inputTextSmall'
        })
    }}

    {{
        form.text({
            'id': 'text-22',
            'label': 'Medium',
            'class': 'form__group--medium',
            'name': 'inputTextMedium'
        })
    }}

    {{
        form.text({
            'id': 'text-23',
            'label': 'Regular',
            'class': 'form__group--regular',
            'name': 'inputTextRegular'
        })
    }}

    {{
        form.text({
            'id': 'text-24',
            'label': 'Large',
            'class': 'form__group--large',
            'name': 'inputTextLarge'
        })
    }}

    {{
        form.text({
            'id': 'text-25',
            'label': 'Extra Large',
            'class': 'form__group--xlarge',
            'name': 'inputTextXLarge'
        })
    }}

    {{
        form.text({
            'id': 'text-26',
            'label': 'Full',
            'class': 'form__group--full',
            'name': 'inputTextFull'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Appended &amp; Prepended' }) }}

    {{
        form.text({
            'id': 'text-27',
            'label': 'Prepended',
            'prepend': '£'
        })
    }}

    {{
        form.text({
            'id': 'text-28',
            'label': 'Appended',
            'append': '.00'
        })
    }}

    {{
        form.text({
            'id': 'text-29',
            'label': 'Appended with guidance',
            'append': '.00',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.text({
            'id': 'text-30',
            'label': 'Prepended &amp; Appended',
            'append': '.00',
            'prepend': '£'
        })
    }}

    {{ form.fieldset_end() }}

    {{ form.fieldset_start({ 'legend': 'HTML5 Input Types' }) }}

    {{
        form.text({
            'id': 'number',
            'label': 'Number',
            'type': 'number'
        })
    }}

    {{
        form.text({
            'id': 'tel',
            'label': 'Tel',
            'type': 'tel'
        })
    }}

    {{
        form.text({
            'id': 'url',
            'label': 'Url',
            'type': 'url'
        })
    }}

    {{
        form.text({
            'id': 'email',
            'label': 'Email',
            'type': 'email'
        })
    }}

    {{
        form.text({
            'id': 'date',
            'label': 'Date',
            'type': 'date'
        })
    }}

    {{
        form.text({
            'id': 'month',
            'label': 'Month',
            'type': 'month'
        })
    }}

    {{
        form.text({
            'id': 'week',
            'label': 'Week',
            'type': 'week'
        })
    }}

    {{
        form.text({
            'id': 'time',
            'label': 'Time',
            'type': 'time'
        })
    }}

    {{
        form.text({
            'id': 'search',
            'label': 'Search',
            'type': 'search'
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.end()
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157px" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
