{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    {{
        form.create()
    }}

    {{
        form.toggle_switch({
            'id': 'toggle-1',
            'label': 'Toggle switch'
        })
    }}

    {{
        form.toggle_switch({
            'id': 'toggle-2',
            'label': 'Required',
            'required': true
        })
    }}

    {{
        form.toggle_switch({
            'id': 'toggle-3',
            'label': 'Toggle switch with help',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.toggle_switch({
            'id': 'toggle-4',
            'label': 'Toggle switch with guidance',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.toggle_switch({
            'id': 'toggle-5',
            'label': 'Required guidance',
            'guidance': 'Help text to give more information about expected input',
            'required': true
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'Alignment' }) }}

    {{
        form.toggle_switch({
            'label': 'Toggle switch',
            'show-label': false,
            'help': 'This example hides the label with the <code>show-label</code> option'
        })
    }}

    {{
        form.toggle_switch({
            'id': 'toggle-6',
            'label': 'Toggle switch with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_start({ 'legend': 'Errors &amp; Validation' }) }}

    {{
        form.toggle_switch({
            'id': 'toggle-7',
            'label': 'Text field with error',
            'error': 'Please complete this field'
        })
    }}

    {{
        form.toggle_switch({
            'id': 'toggle-8',
            'label': 'Text field with multiple errors',
            'error': ['Do this', 'Do this too']
        })
    }}

    {{
        form.toggle_switch({
            'id': 'toggle-9',
            'label': 'Text field with error and help',
            'error': 'Please complete this field',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{
        form.toggle_switch({
            'id': 'toggle-10',
            'class': 'has-error',
            'label': 'Text field error with help only',
            'help': 'Help text to give more information about expected input'
        })
    }}

    {{ form.fieldset_end() }}
    {{ form.fieldset_start({ 'legend': 'States' }) }}

    {{
        form.toggle_switch({
            'id': 'toggle-11',
            'label': '"class": "has-changed"',
            'class': 'has-changed',
            'help': 'Highlight whether an action elsewhere affects an input'
        })
    }}
    {{
        form.toggle_switch({
            'id': 'toggle-12',
            'label': '"class": "has-success"',
            'class': 'has-success',
            'help': 'Something good happened'
        })
    }}

    {{
        form.toggle_switch({
            'id': 'toggle-13',
            'label': '"class": "has-warning"',
            'class': 'has-warning',
            'help': 'Something bad happened'
        })
    }}
    {{
        form.toggle_switch({
            'id': 'toggle-14',
            'label': '"class": "has-error"',
            'class': 'has-error',
            'help': 'Automatically added if using <code>error</code> option'
        })
    }}
    {{
        form.toggle_switch({
            'id': 'toggle-15',
            'label': '"disabled": true',
            'disabled': true,
            'help': 'Stop! Can’t touch this'
        })
    }}

    {{ form.fieldset_end() }}

    {{
        form.end()
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157px" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
