{% extends "layout.html.twig" %}
{% import 'helpers/html.html.twig' as html %}

{% block title %}Testing stuffs | {{ parent() }}{% endblock %}

{% set heading = 'This is my heading' %}

{% block tabs_list %}
    {{ 
        html.tabs([
            html.icon('angle-right') ~ ' Typography',
            html.icon('angle-right') ~ ' Buttons',
            html.icon('angle-right') ~ ' Data grid view'
        ], 3)
    }}
{% endblock %}

{% set tab_typography %}  
    
    <h2>Paragraphs</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium lectus vitae tincidunt commodo. Cras sodales interdum est vel lobortis. Vivamus urna dolor, gravida vel dolor non, lacinia lobortis eros. Integer euismod elementum justo non tempor. Duis libero erat, iaculis ac nulla sit amet, vulputate sodales erat. Integer elementum metus sagittis turpis varius tristique. Nullam in est rhoncus, porttitor felis ac, viverra nibh. Donec euismod egestas congue. Pellentesque non blandit quam, non semper felis. Curabitur facilisis sem felis, vel vestibulum nunc bibendum vitae. Morbi placerat purus nec velit condimentum, nec commodo diam semper. Aenean non diam dolor. Nulla justo massa, feugiat in posuere vitae, scelerisque id massa. Nam venenatis tortor vel luctus varius.<p>

    <p>Aliquam erat volutpat. Nunc laoreet suscipit nisl a pulvinar. Praesent nec vulputate velit. Etiam vitae ipsum ullamcorper, egestas turpis et, rutrum nulla. Quisque est sem, consequat in ante quis, mattis sodales lacus. In hac habitasse platea dictumst. Nam facilisis vitae metus at blandit. Aenean imperdiet faucibus felis, et vestibulum nulla laoreet quis. Quisque eget ligula at nisl feugiat adipiscing ac eget purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam imperdiet venenatis faucibus. Vestibulum et molestie orci, non suscipit turpis. Mauris nec ligula sit amet nisi pulvinar condimentum. Morbi ornare adipiscing mollis. Vivamus vestibulum lectus ac cursus facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

    <h2>Text types</h2>

    <ul>
        <li><strong>strong &lt;strong&gt; &lt;b&gt;</strong></li>
        <li><em>emphasized &lt;em&gt; &lt;i&gt;</em></li>
        <li><u>underlined &lt;u&gt;</u></li>
        <li><abbr title="Abbreviation title">Abbreviation &lt;abbr&gt;</abbr></li>
        <li><code>code &lt;code&gt; &lt;kbd&gt; &lt;pre&gt; &lt;samp&gt;</code></li>
        <li><dfn>Definition &lt;dfn&gt;</dfn></li>
        <li><q>Quote &lt;q&gt;</q></li>
        <li><small>Small &lt;small&gt;</small></li>
        <li><sub>Sub</sub>script &lt;sub&gt;</li>
        <li><sup>Super</sup>script &lt;sup&gt;</li>        
    </ul>

{% endset %}

{% set tab_buttons %}
    <h2>Button variations</h2>

    <p>
        <!-- The normal type of button you should use -->
        {{ html.button('Default') }}

        <!-- In the context of a full UI, this is the main thing we want the user to do next -->
        {{ html.button('Primary', 'btn--primary') }}

        <!-- Indicates a successful or positive action -->
        {{ html.button('Success', 'btn--success') }}

        <!-- Indicates a dangerous or destructive action -->
        {{ html.button('Danger', 'btn--danger') }}

        <!-- Indicates caution should be taken here -->
        {{ html.button('Warning', 'btn--warning') }}

        <!-- Contextual button for informational alert messages -->
        {{ html.button('Info', 'btn--info') }}

        <!-- Rarely used, a good example is a 'locked content' button -->
        {{ html.button('Inverse', 'btn--inverse') }}

        {{ html.button('Disabled', 'is-disabled') }}
    </p>

    <h2>Button groups</h2>
    <p>
        {{
            html.button_group([ 
                html.button('Left'), 
                html.button('Middle'),
                html.button('Right') 
            ]) 
        }}
    </p>
{% endset %}

{% set tab_data_grid %}
    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Actions</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
        </tbody>
    </table>
{% endset %}

{% block tabs_content %}
    {{ html.tabs_content([tab_typography, tab_buttons, tab_data_grid], 3) }}
{% endblock %}