{% import 'pulsar/helpers/html.html.twig' as html %}
{% import 'pulsar/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}
{% set cssPath  = base_path ~ 'css/' %}
{% set jsPath   = base_path ~ 'javascripts/' %}
{% set libsPath = base_path ~ 'libs/' %}
<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js ie7"><![endif]-->
<!--[if gt IE 7]><!--> <html class="no-js"><!--<![endif]-->
<html class="no-js">
<head>
    <title>{% block title %}Pulsar Lexicon{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie7.css' }}" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie8.css' }}" /><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie9.css' }}" /><![endif]-->
    <!--[if gt IE 9]><!--> <link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar.css' }}" /> <!--<![endif]-->
    
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ libsPath ~ 'ie7-js/IE9.js' }}" />
    <link rel="stylesheet" type="text/css" href="{{ libsPath ~ 'font-awesome/css/font-awesome-ie7.min.css' }}" />
    <![endif]-->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ libsPath ~ 'html5shiv/dist/html5shiv.js' }}"></script>
    <script type="text/javascript" src="{{ libsPath ~ 'respond/respond.min.js' }}"></script>
    <![endif]-->

    <script src="{{ libsPath ~ 'requirejs/require.js' }}"></script>
    <script src="{{ jsPath ~ '/main.js' }}"></script>
</head>
<body class="language-html">

    <header id="top">
        {% include 'pulsar/components/toolbar.html.twig' %}
        {% include 'pulsar/components/breadcrumb.html.twig' %}
        {% include 'pulsar/components/flash.html.twig' %}
    </header>

    <div class="summary hide" data-tab="#summary">
        <div id="container"></div>
        {% block summary %}{% endblock %}
    </div>

    <div class="actionsbar actionsbar--left">
        <div class="btn__toolbar">
            <div class="btn__group">
                <a class="btn btn__back" href="#back" onclick="history.back(); return false;"><i class="icon-arrow-left"></i></a>
                {% if actions_menu is not empty %}
                    {{ html.button_dropdown('Actions', null, 'tour-actions', actions_menu) }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="actionsbar actionsbar--right">
        {{ html.button(label = html.icon('desktop') ~ ' Pulsar Lexicon', href = '/lexicon', type = 'link') }}
    </div>
    
    <h2 class="heading">{{ heading }}</h2>

    <div role="main" class="container">
        <div class="tabs">
            {% block tabs_list %}{% endblock %}
            {% block tabs_content %}{% endblock %}
        </div>
        {% block decks %}{% endblock %}
    </div>

    <footer>
        {{ html.link(label = html.icon('long-arrow-up') ~ ' Top', href = '#top') }}
        {{ html.link(label = 'Jadu 1.12 &copy; 2013', href = '/credits') }}
    </footer> 
    <!--<script src="http://localhost:8000/libs/livereload-js/dist/livereload.js?host=localhost"></script>-->
</body>
</html>