{% import 'pulsar/v2/helpers/html.html.twig' as html %}
{% import 'pulsar/v2/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}

<h2 class="heading">Two-step verification</h2>

<div class="tab__inner">

    {{
        form.create()
    }}

    {{
        form.checkbox({
            'label': 'Set up two-factor verification',
            'class': 'masterswitch-control'
        })
    }}

    <hr />

    <section class="masterswitch-content is-disabled">

        <div class="progress-list">
            <a href="#" class="progress-list__item progress-list__item--current">
                <span class="progress-list__label">
                    <span class="badge badge--round badge--outline">1</span>
                    Get the app
                </span>
                <span class="progress-list__arrow">&gt;</span>
            </a>

            <a href="#" class="progress-list__item is-disabled">
                <span class="progress-list__label">
                    <span class="badge badge--round badge--outline">2</span>
                    Set it up
                </span>
                <span class="progress-list__arrow">&gt;</span>
            </a>

            <a href="#" class="progress-list__item is-disabled">
                <span class="progress-list__label">
                    <span class="badge badge--round badge--outline">3</span>
                    Test it
                </span>
                <span class="progress-list__arrow">&gt;</span>
            </a>

            <a href="#" class="progress-list__item is-disabled">
                <span class="progress-list__label">
                    <span class="badge badge--round badge--outline">4</span>
                    Finished!
                </span>
                <span class="progress-list__arrow">&gt;</span>
            </a>
        </div>

        <p>To use two-step verification you will need to install an app on your mobile phone.</p>

        <p>First, let us know what type of phone you have:</p>

<div class="tab-panel tab-panel--contrast">

        <ul class="tabs__list tabs__list--horizontal tabs__list--full medium-type" role="tablist">

            <li role="presentation">
                <a href="#iphone" data-toggle="tab" role="tab" aria-controls="iphone">
                    {{ html.icon('apple') }} iPhone
                </a>
            </li>
            <li role="presentation">
                <a href="#android" data-toggle="tab" role="tab" aria-controls="android">
                    {{ html.icon('android') }} Android
                </a>
            </li>
            <li role="presentation">
                <a href="#windows" data-toggle="tab" role="tab" aria-controls="windows">
                    {{ html.icon('windows') }} Windows
                </a>
            </li>
            <li role="presentation">
                <a href="#blackberry" data-toggle="tab" role="tab" aria-controls="blackberry">
                    {{ html.icon('frown') }} BlackBerry
                </a>
            </li>

        </ul>

        <div class="tabs__content">
            <div role="tabpanel" class="tab__pane" id="iphone">

                <h4>Requirements:</h4>
                <p>To use Google Authenticator on your iPhone, iPod Touch, or iPad, you must have iOS 5.0 or later. In addition, in order to set up the app on your iPhone using a QR code, you must have a 3G model or later.</p>

                <h4>Installing the app:</h4>
                <ul class="inline-block">
                    <li>Go to the App Store on your phone</li>
                    <li>Search for 'google authenticator'</li>
                    <li>Get the app</li>
                </ul>

                <a href="https://itunes.apple.com/gb/app/google-authenticator/id388497605?mt=8" class="inline-block align-top margin-left"><img alt="Download on the App Store" src="../../../images/services/apple_app_store.svg" /></a>

            </div>
            <div role="tabpanel" class="tab__pane" id="android">

                <h4>Requirements:</h4>
                <p>To use Google Authenticator on your Android device, it must be running Android version 2.1 or later.</p>

                <h4>Installing the app:</h4>
                <ul class="inline-block">
                    <li>Go to the Google Play Store on your phone</li>
                    <li>Search for 'google authenticator'</li>
                    <li>Install the app</li>
                </ul>

                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en" class="inline-block margin-left"><img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" /></a>

            </div>

            <div role="tabpanel" class="tab__pane" id="windows">

            <h4>Installing the app:</h4>
                <ul class="inline-block">
                    <li>Go to the Windows Phone Store on your phone</li>
                    <li>Search for 'google authenticator'</li>
                    <li>Install the app</li>
                </ul>

                <a href="http://www.windowsphone.com/en-gb/store/app/authenticator/021dd79f-0598-e011-986b-78e7d1fa76f8" class="inline-block align-top margin-left"><img alt="Get it on the Windows Phone Store" src="../../../images/services/windows_phone_store.png" /></a>

            </div>

            <div role="tabpanel" class="tab__pane" id="blackberry">

                <h4>Requirements:</h4>
                <p>To use Google Authenticator on your BlackBerry device, you must have OS 4.5-7.0. In addition, make sure your BlackBerry device is configured for US English -- you might not be able to download Google Authenticator if your device is operating in another language.</p>

                <h4>Installing the app:</h4>
                <ul>
                    <li>Open browser on your BlackBerry device</li>
                    <li>Load <a href="http://m.google.com/authenticator">m.google.com/authenticator</a></li>
                    <li>Download and install the Google Authenticator app</li>
                </ul>

            </div>
        </div>

</div>

        <a href="#" class="pull-right small-type" data-toggle="popover" title="Download authenticator" data-content="<p>You can install a program which will let you create authenticator codes from your web browser or from Windows.</p><div class='block-list block-list--bordered'>
    <a class='block-list__item' href='https://chrome.google.com/webstore/detail/authenticator/bhghoamapcdpbohphigoooaddinpkbai?hl=en'>
        Chrome
    </a>
    <a class='block-list__item' href='https://marketplace.firefox.com/app/gauth'>
        Firefox
    </a>
    <a class='block-list__item' href='https://winauth.com'>
        Windows
    </a>
    <a class='block-list__item' href='http://en.wikipedia.org/wiki/Google_Authenticator#Implementations'>
        Others (Wikipedia page)
    </a>
</div>" data-placement="left" data-html="true">Don’t want to use your phone?</a>

        <h3 class="double-top bottomless">Got the app?</h3>
        <p>Once you've done this step, or if you already have Google Authenticator installed then you can go ahead and verify the code.</p>
        {{
            form.end({
                'class': 'form__actions--flush',
                'actions': [
                    form.submit({
                        'label': 'Verify the Code ' ~ html.icon('caret-right'),
                        'class': 'btn--primary'
                    }),
                    html.button({
                        'label': 'Cancel',
                        'class': 'btn--naked'
                    })
                ]
            })
        }}
    </section>

</div>
