{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
    <style>
        .table td.cell--inverse,
        .table td.cell--inverse:hover {
            background-color: #2d86b3 !important;
        }
    </style>

    <h2>Labels</h2>

    <table class="table">
        <thead>
            <tr>
                <td></td>
                <th>Default</th>
                <th>Primary</th>
                <th>Success</th>
                <th>Warning</th>
                <th>Danger</th>
                <th>Inverse</th>
                <th>White</th>
                <th>Custom</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Default</td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--primary'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--success'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--warning'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--danger'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--inverse'
                        })
                    }}
                </td>
                <td class="centered cell--inverse">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--white'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'style': 'background-color: pink; color: red;'
                        })
                    }}
                </td>
            </tr>

            <tr>
                <td>Icons</td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--primary'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--success'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--warning'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--danger'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--inverse'
                        })
                    }}
                </td>
                <td class="centered cell--inverse">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--white'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'style': 'background-color: pink; color: red;'
                        })
                    }}
                </td>
            </tr>

            <tr>
                <td>Large</td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--large'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--large label--primary'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--large label--success'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--large label--warning'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--large label--danger'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--large label--inverse'
                        })
                    }}
                </td>
                <td class="centered cell--inverse">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--large label--white'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--large',
                            'style': 'background-color: pink; color: red;'
                        })
                    }}
                </td>
            </tr>

        </tbody>
    </table>
{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157px" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}
{% endblock tab_sidebar %}
