{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    <h2>Labels</h2>

    <table class="table lex-table">
        <thead>
            <tr>
                <td></td>
                <th>Default</th>
                <th>Primary</th>
                <th>Success</th>
                <th>Warning</th>
                <th>Danger</th>
                <th>Inverse</th>
                <th>White</th>
                <th>Custom</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Default</td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--primary'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--success'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--warning'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--danger'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--inverse'
                        })
                    }}
                </td>
                <td class="centered cell--inverse">
                    {{
                        html.label({
                            'label': 'Foo',
                            'class': 'label--white'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'style': 'background-color: pink; color: red;'
                        })
                    }}
                </td>
            </tr>

            <tr>
                <td>Icons</td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--primary'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--success'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--warning'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--danger'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--inverse'
                        })
                    }}
                </td>
                <td class="centered cell--inverse">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'class': 'label--white'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.label({
                            'label': 'Foo',
                            'removable': 'true',
                            'style': 'background-color: pink; color: red;'
                        })
                    }}
                </td>
            </tr>

            <tr>
                <td>Links</td>
                <td class="centered">
                    {{
                        html.link({
                            'label': html.label({ 'label': 'Foo' }),
                            'href': '#example'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.link({
                            'label': html.label({ 'label': 'Foo', 'class': 'label--primary' }),
                            'href': '#example'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.link({
                            'label': html.label({ 'label': 'Foo', 'class': 'label--success' }),
                            'href': '#example'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.link({
                            'label': html.label({ 'label': 'Foo', 'class': 'label--warning' }),
                            'href': '#example'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.link({
                            'label': html.label({ 'label': 'Foo', 'class': 'label--danger' }),
                            'href': '#example'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.link({
                            'label': html.label({ 'label': 'Foo', 'class': 'label--inverse' }),
                            'href': '#example'
                        })
                    }}
                </td>
                <td class="centered cell--inverse">
                    {{
                        html.link({
                            'label': html.label({ 'label': 'Foo', 'class': 'label--white' }),
                            'href': '#example'
                        })
                    }}
                </td>
                <td class="centered">
                    {{
                        html.link({
                            'label': html.label({ 'label': 'Foo', 'style': 'background-color: pink; color: red;'}),
                            'href': '#example'
                        })
                    }}
                </td>
            </tr>

        </tbody>
    </table>
{% endblock tab_content %}

{% block tab_sidebar %}
   
{% endblock tab_sidebar %}
