{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{%
    set data = {
        'columns': [
            { 'title': 'Content title' },
            { 'title': 'Type' },
            { 'title': 'Created'},
        ],
        'data': [
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            },
            {
                'Title': 'My awesome document title',
                'Type': 'document',
                'Created': '01/02/2016 12:34',
            }
        ]
    }
%}

{%- block actions_left -%}
    {{
        html.actions_menu({
            'raw': true,
            'items': [
                [
                    {
                        'label': 'Edit report settings',
                        'href': '#',
                        'icon': 'pencil'
                    },
                    {
                        'label': 'New clone of this report',
                        'href': '#',
                        'icon': 'copy'
                    }
                ],
                [
                    {
                        'label': 'Add schedule',
                        'href': '#schedule-add',
                        'icon': 'time',
                        'data-toggle': 'modal'
                    }
                ],
                [
                    {
                        'label': 'Export as CSV',
                        'href': '#',
                        'icon': 'file'
                    },
                    {
                        'label': 'Export as PDF',
                        'href': '#',
                        'icon': 'file'
                    },
                    {
                        'label': 'Print',
                        'href': '#',
                        'icon': 'print'
                    }
                ],
                [
                    {
                        'label': 'Delete',
                        'href': '#',
                        'icon': 'remove'
                    }
                ],
            ]
        })
    }}
{%- endblock -%}

{%- block actions_right -%}
    {{
        html.button({
            'label': 'Export',
            'class': 'btn--primary'
        })
    }}
{%- endblock -%}

{% block tab_content %}

    <div class="report">
        <div class="report__settings">
            <span class="report__timeframe">Created within last 30 days</span>
            {{
                form.text({
                    'aria-label': 'Change date range',
                    'value': '01/01/2015 - 01/31/2015',
                    'prepend': html.icon('calendar'),
                    'name': 'daterange',
                    'bare': true
                })
            }}
        </div>

        <h1 class="report__title">All content owned by Paul Stanton</h1>

        <div class="report__query">
            Show me {{ html.label({ 'label': 'content created in the last 30 days', 'class': 'label--primary' }) }}
            where {{ html.label({ 'label': 'administrator is Paul Stanton', 'class': 'label--primary' }) }}
            and {{ html.label({ 'label': 'content type is all content types', 'class': 'label--primary' }) }}
            {{
                html.button({
                    'label': html.icon('pencil', { 'label': 'Edit query' }),
                    'class': 'btn--naked'
                })
            }}
        </div>
        <span class="report__info">56 items found &mdash; Last run 01/08/2016 12:34pm by Paul Stanton</span>

        <div class="report__data">

            <div aria-hidden="true" class="report__chart ct-chart lexicon-report-chart">Chart goes here</div>

            {{
                html.datatable({
                    'data-order': '[[ 3, "desc" ]]',
                    'overflow': 'collapse',
                    'data': data,
                    'caption': 'A list of content owned by Paul Stanton',
                    'data-select': 'false'
                })
            }}

        </div>
    </div>
    <div class="modal modal--large" id="schedule-add" role="dialog" aria-modal="true" aria-labelledby="dialog-title" aria-describedby="dialog-description">
        <div class="modal__dialog">
            <div class="modal__content">
                {{ form.create() }}
                    <div class="modal__header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close modal dialog"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal__title" id="dialog-title">Add Schedule</h1>
                    </div>
                    <div class="modal__body">
                        <p id="dialog-description" class="hide">Here goes a short description (a couple of lines) about the modal's purpose, if needed.</p>

                            {{
                                form.text({
                                    'id': 'text-' ~ random(),
                                    'label': 'Schedule name',
                                    'class': 'form__group--full',
                                    'help': 'Used in the email subject line. Must be unique',
                                    'required': true,
                                    'autofocus': true
                                })
                            }}

                            {{
                                form.choice({
                                    'id': 'choice-' ~ random(),
                                    'label': 'Run report on',
                                    'class': 'choice--bubbles choice--bubbles-inline',
                                    'multiple': true,
                                    'optimize': 'few',
                                    'required': true,
                                    'options': [
                                        {
                                            'label': 'MO',
                                            'value': 'mon',
                                            'name': 'days'
                                        },
                                        {
                                            'label': 'TU',
                                            'value': 'tue',
                                            'name': 'days'
                                        },
                                        {
                                            'label': 'WE',
                                            'value': 'wed',
                                            'name': 'days'
                                        },
                                        {
                                            'label': 'TH',
                                            'value': 'thu',
                                            'name': 'days'
                                        },
                                        {
                                            'label': 'FR',
                                            'value': 'fri',
                                            'name': 'days'
                                        },
                                        {
                                            'label': 'SA',
                                            'value': 'sat',
                                            'name': 'days'
                                        },
                                        {
                                            'label': 'SU',
                                            'value': 'sun',
                                            'name': 'days'
                                        }
                                    ]
                                })
                            }}

                            {{
                                form.text({
                                    'id': 'text-' ~ random(),
                                    'label': 'At',
                                    'class': 'form__group--small',
                                    'placeholder': 'hh:mm',
                                    'required': true,
                                    'help': 'Emails will be sent when the report has finished building'
                                })
                            }}

                            {{
                                form.content({
                                    'label': 'Start schedule',
                                    'value': 'Immediately ' ~ html.button({'label': 'change', 'type': 'button', 'class': 'btn--small'}),
                                    'class': 'form__group--full'
                                })
                            }}

                            {{
                                form.choice({
                                    'id': 'choice-' ~ random(),
                                    'label': 'Repeat',
                                    'options': [
                                        {
                                            'label': 'Every week',
                                            'value': 'weekly'
                                        },
                                        {
                                            'label': 'Every 2 weeks',
                                            'value': 'fortnightly'
                                        },
                                        {
                                            'label': 'Every month',
                                            'value': 'monthly'
                                        },
                                        {
                                            'label': 'Every 6 months',
                                            'value': 'six-monthly'
                                        },
                                        {
                                            'label': 'Every year',
                                            'value': 'yearly'
                                        }
                                    ]
                                })
                            }}

                            {{
                                form.content({
                                    'label': 'End repeat',
                                    'value': 'Never (run indefinitely) ' ~ html.button({'label': 'change', 'type': 'button', 'class': 'btn--small'}),
                                    'class': 'form__group--full'
                                })
                            }}

                            {{
                                form.text({
                                    'id': 'text-' ~ random(),
                                    'label': 'Email report to',
                                    'class': 'form__group--full',
                                    'placeholder': 'Email address',
                                    'guidance': 'Recipients will be BCC’d',
                                    'required': true
                                })
                            }}

                    </div>
                    <div class="modal__footer">
                        {{
                            form.submit({
                                'class': 'btn--primary',
                                'label': 'Save'
                            })
                        }}

                        {{
                            html.button({
                                'label': 'Cancel',
                                'class': 'btn--naked',
                                'data-dismiss': 'modal'
                            })
                        }}
                    </div>
                {{ form.end() }}
            </div><!-- /.modal__content -->
        </div><!-- /.modal__dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block javascript %}

{% endblock %}
