{% extends "@pulsar/pulsar/components/tab.html.twig" %}

{% block tab_content %}

    <div class="is-sortable">
    {{
        form.text({
            'label': 'One',
            'value': 'My value'
        })
    }}
    {{
        form.choice({
            'class': '',
            'label': 'Choice with guidance',
            'guidance': 'Help text to give more information about expected input',
            'options': [
                {
                    'label': 'One',
                    'value': 'one',
                    'name': 'foo'
                },
                {
                    'label': 'Two',
                    'value': 'two',
                    'name': 'foo'
                },
                {
                    'label': 'Three',
                    'value': 'three',
                    'name': 'foo'
                }
            ]
        })
    }}
    {{
        form.toggle_switch({
            'label': 'Toggle switch with a longer than expected label which will probably wrap multple lines and push the following input onto the next baseline',
            'id': '5',
            'help': 'Example block-level help text here',
            'guidance': 'Help text to give more information about expected input'
        })
    }}
    </div>

    <br /><hr>

    <h2>Sortable tables</h2>

    <table class="table is-sortable table--full">
        <thead>
            <tr>
                <th>File title</th>
                <th>Type</th>
                <th>Size</th>
                <th>Filename / URL</th>
                <th class="centered">Delete</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                My awesome document
            </td>
            <td>
                {{ html.icon('file-word-o') }} .docx
            </td>
            <td>
                685 KB
            </td>
            <td>
                document.docx
            </td>
            <td class="centered">
                {{ form.checkbox({'bare': 'true'}) }}
            </td>
        </tr>

        <tr>
            <td>
                Innocent screensaver
            </td>
            <td>
                {{ html.icon('file-code-o') }} .exe
            </td>
            <td>
                3.5 MB
            </td>
            <td>
                anna_kournikova.exe
            </td>
            <td class="centered">
                {{ form.checkbox({'bare': 'true'}) }}
            </td>
        </tr>

        <tr>
            <td>
                My awesome PDF
            </td>
            <td>
                {{ html.icon('file-pdf-o') }} .pdf
            </td>
            <td>
                685 KB
            </td>
            <td>
                sdfghjkhjifldshjkfdshajkl.pdf
            </td>
            <td class="centered">
                {{ form.checkbox({'bare': 'true'}) }}
            </td>
        </tr>

        </tbody>
    </table>



{% endblock %}
