{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% set i = 1 %}

{% set heading = "My Example Document DRAFT" %}

{%- block actions_left -%}
    {{
        html.actions_menu({
            'items': [
                [
                    {
                        'label': 'Create New Page',
                        'href': '#create',
                        'icon': 'file-text-o'
                    }
                ],
                [
                    {
                        'label': 'Save',
                        'href': '#save',
                        'icon': 'save'
                    },
                    {
                        'label': 'Send for approval',
                        'href': '#workflow-submit',
                        'data-toggle': 'modal',
                        'icon': 'hand-o-right'
                    }
                ],
                [
                    {
                        'label': 'Lock',
                        'href': '#lock',
                        'icon': 'lock'
                    },
                    {
                        'label': 'Collaborate',
                        'href': '#collaborate',
                        'icon': 'user-plus'
                    }
                ],
                [
                    {
                        'label': 'Preview',
                        'href': '#preview',
                        'icon': 'eye-open'
                    },
                    {
                        'label': 'View history',
                        'href': '#history',
                        'icon': 'history'
                    }
                ],
                [
                    {
                        'class': 'link--danger',
                        'label': 'Delete',
                        'href': '#delete',
                        'icon': 'remove'
                    }
                ],
            ]
        })
    }}
{%- endblock -%}

{%- block actions_right -%}
    {{
        html.button({
            'label': 'Send for Approval',
            'class': '',
            'data-toggle': 'modal',
            'type': 'link',
            'href': '#workflow-submit'
        })
    }}
    {{
        html.button({
            'label': 'Save',
            'class': 'btn--primary'
        })
    }}
{%- endblock -%}

{% block tab_content %}

    <div class="u-text-align-center">UI CONTENT GOES HERE</div>

    <div id="workflow-submit" class="modal modal__large">
        <div class="modal__dialog">
            {{
                form.create({
                    'method': 'GET',
                    'id': 'submit',
                    'name': 'submit',
                    'action': 'final'
                })
            }}

            {# FOLLOWING HIDDEN FIELD ONLY REQUIRED FOR PULSAR DEMO #}
            {{
                form.hidden({
                    'id': 'tab',
                    'name': 'tab',
                    'value': 'editor_pending'
                })
            }}

            <div class="modal__content">
                <div class="modal__header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal__title">Send for Approval</h1>
                </div>
                <div class="modal__body">
                    {{
                        form.textarea({
                            'label': 'Note to reviewer (optional)',
                            'form': 'submit',
                            'id': 'note',
                            'name': 'note',
                            'class': 'form__group--full form__group--top form__group--flush u-margin-bottom-none',
                            'rows': 5
                        })
                    }}
                </div>
                <div class="modal__footer">
                    {{
                        html.button({
                            'class': 'btn--primary',
                            'label': 'Send for Approval',
                            'type': 'submit'
                        })
                    }}
                    {{
                        html.button({
                            'class': 'btn--naked',
                            'data-dismiss': 'modal',
                            'label': 'Cancel'
                        })
                    }}
                </div>
            </div><!-- /.modal__content -->
            {{ form.end() }}
        </div><!-- /.modal__dialog -->
    </div><!-- /.modal -->

{% endblock %}
