{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% set i = 300 %}

{% block actions_left %}
    {{
        html.actions_menu({
            'items': [
                [
                    {
                        'label': 'Create New Page',
                        'href': '#create',
                        'icon': 'file-text-o'
                    }
                ],
                [
                    {
                        'label': 'Save',
                        'href': '#save',
                        'icon': 'save'
                    }
                ],
                [
                    {
                        'label': 'Approve &amp; Publish',
                        'href': '#workflow-approve',
                        'data-toggle': 'modal',
                        'icon': 'thumbs-o-up'
                    },
                    {
                        'label': 'Reject',
                        'href': '#workflow-reject',
                        'data-toggle': 'modal',
                        'icon': 'thumbs-o-down'
                    }
                ],
                [
                    {
                        'label': 'Lock',
                        'href': '#lock',
                        'icon': 'lock'
                    },
                    {
                        'label': 'Collaborate',
                        'href': '#collaborate',
                        'icon': 'user-plus'
                    }
                ],
                [
                    {
                        'label': 'Preview',
                        'href': '#preview',
                        'icon': 'eye-open'
                    },
                    {
                        'label': 'View history',
                        'href': '#history',
                        'icon': 'history'
                    }
                ],
                [
                    {
                        'class': 'link--danger',
                        'label': 'Delete',
                        'href': '#delete',
                        'icon': 'remove'
                    }
                ],
            ]
        })
    }}
{% endblock %}

{%- block actions_right -%}
    {{
        html.button({
            'label': 'Save',
            'class': 'btn--primary'
        })
    }}
{%- endblock -%}

{% block tab_content %}
    <div class="panel with-timeline u-margin-top-none">
        <div class="panel__title u-display-inline-block">Content Pending Approval</div>

        <div class="panel__body">
            <div class="timeline__item" data-timestamp="2018-03-29T10:59:04+00:00" data-id="2650349">
                <div class="timeline-avatar timeline-avatar--user"><span>AB</span></div>
                <div class="timeline-content">
                    <div class="timeline-content__inner">
                        <span class="timeline-content__title">Alex Boring [Editor]:</span>
                        <div class="timeline-content__date"><i aria-hidden="true" class="icon-clock-o icon--info u-hidden-print cursor-help"></i><time class="u-visible-print-inline">29 Mar 2018, 11:59 AM</time><time class="timeago u-hidden-print" datetime="Thu, 29 Mar 2018 11:59:04 +0100" data-timezone="Europe/London"> Thursday 29th March 2018 (11:59)</time></div>
                        <div class="timeline-content__body" data-id="2650349"><p id="message-120530" class="timeline-content__text">"Please review this content."</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel__actions">
                {{
                    html.button({
                        'label': 'Approve &amp; Publish',
                        'class': 'btn--success',
                        'type': 'link',
                        'href': '#workflow-approve',
                        'data-toggle': 'modal'
                    })
                }}
                {{
                    html.button({
                        'label': 'Reject',
                        'class': 'btn--danger',
                        'type': 'link',
                        'href': '#workflow-reject',
                        'data-toggle': 'modal'
                    })
                }}
                {{
                    html.button({
                        'label': 'View detailed history of comments',
                        'class': 'btn--naked u-float-right',
                        'type': 'link',
                        'href': '#document-history'
                    })
                }}
            </div>
        </div>
    </div>

    <div class="u-text-align-center">PANEL VARIATION WITH NO MESSAGE</div>

    <div class="panel u-margin-top-none">
        <div class="panel__title u-display-inline-block">Content Pending Approval</div>

        <div class="panel__body">
            <div class="panel__actions">
                {{
                    html.button({
                        'label': 'Approve &amp; Publish',
                        'class': 'btn--success',
                        'type': 'link',
                        'href': '#workflow-approve',
                        'data-toggle': 'modal'
                    })
                }}
                {{
                    html.button({
                        'label': 'Reject',
                        'class': 'btn--danger',
                        'type': 'link',
                        'href': '#workflow-reject',
                        'data-toggle': 'modal'
                    })
                }}
                {{
                    html.button({
                        'label': 'View detailed history of comments',
                        'class': 'btn--naked u-float-right',
                        'type': 'link',
                        'href': '#document-history'
                    })
                }}
            </div>
        </div>
    </div>
    
    <div class="u-text-align-center">UI CONTENT GOES HERE</div>

    <div id="workflow-approve" class="modal modal__large">
        <div class="modal__dialog">
            {{
                form.create({
                    'method': 'GET',
                    'id': 'submit-approve',
                    'name': 'submit-approve',
                    'action': 'index_approve.html.twig'
                })
            }}
            <div class="modal__content">
                <div class="modal__header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal__title">Approve Content</h1>
                </div>
                <div class="modal__body">
                    {{
                        form.textarea({
                            'label': 'Note to author (optional)',
                            'id': 'note',
                            'name': 'note',
                            'help': 'Maximum 255 characters',
                            'class': 'form__group--full form__group--top form__group--flush u-margin-bottom-none',
                            'rows': 5,
                            'maxlength': 255
                        })
                    }}
                </div>
                <div class="modal__footer">
                    {{
                        html.button({
                            'class': 'btn--success',
                            'label': 'Approve &amp; Publish',
                            'type': 'submit'
                        })
                    }}
                    {{
                        html.button({
                            'class': 'btn--naked',
                            'data-dismiss': 'modal',
                            'label': 'Cancel'
                        })
                    }}
                </div>
            </div><!-- /.modal__content -->
            {{ form.end() }}
        </div><!-- /.modal__dialog -->
    </div><!-- /.modal -->

    <div id="workflow-reject" class="modal modal__large modal--danger">
        <div class="modal__dialog">
            {{
                form.create({
                    'method': 'GET',
                    'id': 'submit-reject',
                    'name': 'submit-reject',
                    'action': 'index_reject.html.twig'
                })
            }}
            <div class="modal__content">
                <div class="modal__header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal__title">Reject Content</h1>
                </div>
                <div class="modal__body">
                    {{
                        form.textarea({
                            'label': 'Reasons for rejection (optional)',
                            'id': 'note',
                            'name': 'note',
                            'help': 'Maximum 255 characters',
                            'class': 'form__group--full form__group--top form__group--flush u-margin-bottom-none',
                            'rows': 5,
                            'maxlength': 255
                        })
                    }}
                </div>
                <div class="modal__footer">
                    {{
                        html.button({
                            'class': 'btn--danger',
                            'label': 'Reject',
                            'type': 'submit'
                        })
                    }}
                    {{
                        html.button({
                            'class': 'btn--naked',
                            'data-dismiss': 'modal',
                            'label': 'Cancel'
                        })
                    }}
                </div>
            </div><!-- /.modal__content -->
            {{ form.end() }}
        </div><!-- /.modal__dialog -->
    </div><!-- /.modal -->

{% endblock %}
