{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% set i = 400 %}

{%- block actions_left -%}
    {{
        html.actions_menu({
            'items': [
                [
                    {
                        'label': 'Create New Page',
                        'href': '#one',
                        'icon': 'file-text-o'
                    }
                ],
                [
                    {
                        'label': 'Save',
                        'href': '#save',
                        'icon': 'save'
                    },
                    {
                        'label': 'Send for approval',
                        'href': 'index.html.twig',
                        'icon': 'hand-o-right'
                    }
                ],
                [
                    {
                        'label': 'Lock',
                        'href': '#lock',
                        'icon': 'lock'
                    },
                    {
                        'label': 'Collaborate',
                        'href': '#collaborate',
                        'icon': 'user-plus'
                    }
                ],
                [
                    {
                        'label': 'Preview',
                        'href': '#preview',
                        'icon': 'eye-open'
                    },
                    {
                        'label': 'View history',
                        'href': '#history',
                        'icon': 'history'
                    }
                ],
                [
                    {
                        'class': 'link--danger',
                        'label': 'Delete',
                        'href': '#delete',
                        'icon': 'remove'
                    }
                ],
            ]
        })
    }}
{%- endblock -%}

{%- block actions_right -%}
    {{
        html.button({
            'label': 'Send for Approval',
        })
    }}
    {{
        html.button({
            'label': 'Save',
            'class': 'btn--primary'
        })
    }}
{%- endblock -%}

{% block tab_content %}

    <div class="panel with-timeline panel--danger u-margin-top-none">
        <i aria-hidden="true" class="icon-times-circle panel__icon"></i>
        <div class="panel__title u-display-inline-block">Approval Rejected</div>
        <div class="panel__body">
            <div class="timeline__item" data-timestamp="2018-03-29T10:59:04+00:00" data-id="2650349">
                <div class="timeline-avatar timeline-avatar--user"><span>YZ</span></div>
                <div class="timeline-content">
                    <div class="timeline-content__inner"><h4 class="timeline-content__title">Yves Zelman [Admin]:</h4>
                        <div class="timeline-content__date"><i aria-hidden="true" class="icon-clock-o icon--info u-hidden-print cursor-help"></i><time class="u-visible-print-inline">29 Mar 2018, 11:59 AM</time><time class="timeago u-hidden-print" datetime="Thu, 29 Mar 2018 11:59:04 +0100" data-timezone="Europe/London"> Thursday 29th March 2018 (11:59)</time></div>
                        <div class="timeline-content__body" data-id="2650349">
                            <p id="message-120530" class="timeline-content__text">"Test"</p>
                        </div>
                    </div>
                </div>
                <div class="panel__actions">
                    {{
                        html.button({
                            'label': 'View detailed history of comments',
                            'class': 'btn--naked view-history-link',
                            'type': 'link',
                            'href': '#document-history'
                        })
                    }}
                </div>
            </div>
        </div>
    </div>

    <div class="u-text-align-center">PANEL VARIATION WITH NO MESSAGE</div>

    <div class="panel panel--danger u-margin-top-none">
        <i aria-hidden="true" class="icon-times-circle panel__icon"></i>
        <div class="panel__title u-display-inline-block">Approval Rejected</div>
        <div class="panel__body">
            <div class="panel__actions">
                {{
                    html.button({
                        'label': 'View detailed history of comments',
                        'class': 'btn--naked view-history-link',
                        'type': 'link',
                        'href': '#document-history'
                    })
                }}
            </div>
        </div>
    </div>

    <div class="u-text-align-center">UI CONTENT GOES HERE</div>

{% endblock %}
