{% import 'pulsar/v2/helpers/html.html.twig' as html %}
{% import 'pulsar/v2/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/datagrid.html.twig' as datagrid %}

<div class="tab__inner">

    <h1 class="tab__title">Comets</h1>

    <div class="actionsbar">
        <div class="float--left">
            {{
                html.button_dropdown({
                    'label': 'Actions'
                })
            }}
        </div>
        <div class="float--right">
            {{
                html.button({
                    'label': html.icon('plus') ~ ' New VM',
                    'class': 'btn--primary'
                })
            }}
        </div>
    </div>

    <table class="table datatable responsive">
        <thead class="table__thead">
            <tr class="table__tr">
                <th class="table-selection table__th">

                </th>

                <th class="table__th"><a href="#" class="table-link">Name</a></th>
                <th class="table__th"><a href="#" class="table-link">IP</a></th>
                <th class="table__th"><a href="#" class="table-link">Status</a></th>
                <th class="table__th"><a href="#" class="table-link">Uptime</a></th>
                <th class="table__th"><a href="#" class="table-link">Image</a></th>
                <th class="table__th"><a href="#" class="table-link">RAM</a></th>
                <th class="table__th centered"><a href="#" class="table-link">CPUs</a></th>
                <th class="table__th"><a href="#" class="table-link">Actions</a></th>

            </tr>
        </thead>
        <tbody class="table__tbody">
{% for i in 0..999 %}
            <tr class="table__tr">
                <td class="table__td table-selection">
                    {{ html.icon('plus-sign', { 'class': 'table-child-toggle' }) }}
                    {{ html.icon('unchecked', { 'class': 'table-row-select js-select' }) }}
                </td>
                <td class="table__td"><a href="#" class="table-link">{{ random(['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']) }} {{ random(10) }}</a></td>
                <td class="table__td monospace"><a href="#" class="table-link">10.{{ random(110) }}.{{random(255)}}.{{random(255)}}</a></td>
                <td class="table__td">
                    {{
                        random([
                            html.label({ 'label': 'running', 'class': 'label--success' }),
                            html.label({ 'label': 'suspended' }),
                            html.label({ 'label': 'low disk space', 'class': 'label--danger' }),
                            html.label({ 'label': 'shutdown', 'class': 'label--inverse' })
                        ])
                    }}

                </td>
                <td class="table__td">{{ random(24) }}d {{ random(24) }}h {{ random(59) }}m</td>
                <td class="table__td">{{ random([
                    html.icon('linux') ~ ' Centos 6 v1.0.2',
                    html.icon('linux') ~ ' Debian 8',
                    html.icon('linux') ~ ' Debian 7',
                    html.icon('windows') ~ ' Windows Server',
                    html.icon('windows') ~ ' Windows 98 SE',
                    html.icon('linux') ~ ' Umbongo 14.04.03 LTS',
                    html.icon('windows') ~ ' Microsoft Bob',
                    html.icon('facebook-sign') ~ ' Skynet',
                    html.icon('apple') ~ ' OSX Server'
                ])|raw }}</td>
                <td class="table__td">{{ random(['1', '2', '4', '8', '16']) }} GB</td>
                <td class="table__td centered">{{ random(['1', '2', '4']) }}</td>
                <td class="table__td">
                    {{ html.link({ 'label': 'Reboot', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Suspend', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Shutdown', 'class': 'table-action' }) }}<!--
                    -->{{ html.link({ 'label': 'Console', 'class': 'table-action' }) }}
                </td>

            </tr>
{% endfor %}
        </tbody>
    </table>

</div>
