{% macro message(options) %}
{% spaceless %}
    {% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}

    {% if options.type is defined and options.type == 'success' %}
        {% set icon = 'ok' %}
    {% elseif options.type is defined and options.type == 'warning' %}
        {% set icon = 'warning-sign' %}
    {% elseif options.type is defined and options.type == 'error' %}
        {% set icon = 'warning-sign' %}
    {% else %}
        {% set icon = 'info-sign' %}
    {% endif %}

    {% set flash_guid = 'guid-' ~ random() %}

    <section class="flash flash--{{ options.type|default('default') }}" aria-labelledby="{{ flash_guid }}">

        {%
            if options.dismissable is not defined or options.dismissable == true
        %}
            <button class="close" data-dismiss="flash" tabindex="1">
                {{ html.icon('remove', { 'label': 'Close' }) }}
            </button>
        {% endif %}

        {{ html.icon(icon) }}

        <h2 id="{{ flash_guid }}">{{ options.message|raw }}</h2>

    </section>

{% endspaceless %}
{% endmacro %}
