{% macro primary(options) %}
{% spaceless %}
    {% import _self as nav %}
    {% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}

<nav class="nav-main" aria-label="Primary" id="aria-main-nav">
    <div class="nav-primary t-nav-primary">
        <a href="{{ options.brand_link|default('#') }}" class="jadu-branding">
            <span class="jadu-logomark"></span>
            <span class="jadu-wordmark">Jadu</span>
        </a>
        <ul class="nav-items">
            {% set heading_id = null %}
            {% set aria_controls = 'aria-secondary-nav' %}
            {% if options.data is iterable %}
                {% for label, options in options.data %}
                    {{ nav.nav_item(options, heading_id, aria_controls) }}
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <div class="nav-secondary t-nav-secondary" id="aria-secondary-nav">

        <a href="#close" class="nav-close" data-nav-action="close">{{ html.icon('remove', { 'label': 'Close expanded menu' }) }}</a>

        {% if options.data is iterable %}
            {% for options in options.data %}
                {% if options.items is defined and options.items is iterable %}

                    <div class="nav-list" data-nav="{{ options.href }}">
                        <h2 class="nav-item nav-item--header t-nav-header" id="aria-secondary-nav-heading-{{ options.label|raw }}">{{ options.label|raw }}</h2>

                        <ul class="nav-items">
                            {% set heading_id = 'aria-secondary-nav-heading-' ~ options.label|raw %}
                            {% for menu_blocks in options.items %}
                                {% for item_options in menu_blocks %}
                                    {{ nav.nav_item(item_options, heading_id) }}
                                {% endfor %}
                                {% if not loop.last %}
                                    <li class="nav-item nav-item__divider">
                                        <hr class="nav-divider t-nav-divider" />
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

    <div class="nav-tertiary t-nav-tertiary" id="aria-tertiary-nav">

        <a href="#close" class="nav-close" data-nav-action="close">{{ html.icon('remove', { 'label': 'Close expanded menu' }) }}</a>

        <div class="nav-list">
            <h2 class="nav-item nav-item--header t-nav-header" id="aria-tertiary-nav-heading">More Categories</h2>
            {% set heading_id = 'aria-tertiary-nav-heading' %}
            {% set aria_controls = 'aria-quaternary-nav' %}
            {% if options.data is iterable %}
                <ul class="nav-items">
                    {% for label, options in options.data %}
                        {{ nav.nav_item(options, heading_id, aria_controls) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    </div>

    <div class="nav-quaternary t-nav-quaternary" id="aria-quaternary-nav">

        <a href="#close" class="nav-close-ltr" data-nav-action="close">{{ html.icon('remove', { 'label': 'Close expanded menu' }) }}</a>

           {% if options.data is iterable %}
               {% for options in options.data %}
                   {% if options.items is defined and options.items is iterable %}

                       <div class="nav-list" data-nav="{{ options.href }}">
                           <h2 class="nav-item nav-item--header t-nav-header" id="aria-quaternary-nav-heading-{{options.label|raw}}">{{ options.label|raw }}</h2>
                           {% set heading_id = 'aria-quaternary-nav-heading-' ~ options.label|raw %}

                           <ul class="nav-items">
                               {% for menu_blocks in options.items %}
                                   {% for item_options in menu_blocks %}
                                       {{ nav.nav_item(item_options, heading_id) }}
                                   {% endfor %}
                                   {% if not loop.last %}
                                       <li class="nav-item nav-item__divider">
                                           <hr class="nav-divider t-nav-divider" />
                                       </li>
                                   {% endif %}
                               {% endfor %}
                           </ul>
                       </div>

                   {% endif %}
               {% endfor %}
           {% endif %}
    </div>
</nav>

{% endspaceless %}
{% endmacro %}


{% macro nav_item(options, heading_id, aria_controls) %}
{% spaceless %}
    {% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
    {% import '@pulsar/pulsar/v2/helpers/util.html.twig' as util %}

    <li
        {{
            attributes(options
                |exclude('data-toggle href icon label')
                |defaults({ 'class': 'nav-item t-nav-item' })
            )
        }}
    >
        <a {{ attributes(options|only('href data-toggle')) }} {% if heading_id is not null %} aria-labelledby="{{ heading_id }}"{% endif %} class="nav-link t-nav-link" {% if options.class is defined and 'is-active' in options.class %} aria-current="page" {% endif %} {% if options.href starts with '#' %} aria-haspopup="true" aria-expanded="false" {% if aria_controls is not null %}aria-controls="{{ aria_controls }}"{% endif %}{% endif %}>
            {% if options.icon is defined and options.icon is not empty %}
                {{ html.icon(options.icon, { 'class': 'icon-fw nav-link__icon t-nav-icon' }) }}
            {% elseif options.image is defined and options.image is not empty %}
                <img src="{{ options.image }}" alt="{{ options.image_alt|default }}" class="nav-link__image" />
            {% endif %}
            <span class="nav-link__label">{{ options.label|raw }}</span>
        </a>
    </li>

{% endspaceless %}
{% endmacro %}

{%- macro breadcrumbs(items) -%}
    {% spaceless %}    
    {% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
    {%- for item in items -%}
        {% if loop.last %}
            {% set item = item|merge({
                'aria-current': 'page'
            }) %}
        {% endif %}
        
        {{ html.link(item) }}
        
        {%- if not loop.last -%}/{%- endif -%}
    {%- endfor -%}
    </nav>
    {% endspaceless %}
{%- endmacro -%}


{%- macro help(options) -%}
    {% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
    {% if options.items is defined and options.items is iterable %}
    <div class="toolbar-help toolbar-icon">
        <div class="dropdown">
            {{
                html.link({
                    'class': 'toolbar-help-link',
                    'href': '#user-guides',
                    'icon': 'question-sign',
                    'label': options.label|default('user guides'),
                    'data-toggle': 'dropdown'
                })
            }}

            <div class="dropdown__menu">
            {% for item in options.items %}
                {{
                    html.media(item|merge({
                        'target': '_blank',
                        'type': 'link'
                    }))
                }}
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{%- endmacro -%}
