{% macro primary(options) %}
{% spaceless %}
    {% import _self as nav %}
    {% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}

<nav class="nav-main"><!--
 --><div class="nav-primary"><!--

     --><a href="{{ options.brand_link|default('#') }}" class="jadu-branding">
            <span class="jadu-logomark"></span><!--
         --><span class="jadu-wordmark">Jadu</span>
        </a><!--

     --><ul class="nav-items">

            {% if options.data is iterable %}
                {% for label, options in options.data %}
                    {{ nav.nav_item(options) }}
                {% endfor %}
            {% endif %}
        </ul>
     </div><!--

 --><div class="nav-secondary">

        <a href="#close" class="nav-close" data-nav-action="close">{{ html.icon('remove') }}</a>

        {% if options.data is iterable %}
            {% for options in options.data %}
                {% if options.items is defined and options.items is iterable %}

        <div class="nav-list" data-nav="{{ options.href }}">
            <span class="nav-item nav-item--header">{{ options.label|raw }}</span>
            <ul class="nav-items">
                {% for menu_blocks in options.items %}
                    {% for item_options in menu_blocks %}
                        {{ nav.nav_item(item_options) }}
                    {% endfor %}
                    {% if not loop.last %}
                        <li class="nav-item nav-item__divider">
                            <hr class="nav-divider" />
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

                {% endif %}
            {% endfor %}
        {% endif %}

    </div>
</nav>

{% endspaceless %}
{% endmacro %}


{% macro nav_item(options) %}
{% spaceless %}
    {% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
    {% import '@pulsar/pulsar/v2/helpers/util.html.twig' as util %}

    <li
        {{
            attributes(options
                |exclude('href data-toggle')
                |defaults({ 'class': 'nav-item' })
            )
        }}
    >
        <a {{ attributes(options|only('href data-toggle')) }} class="nav-link">
            {% if options.icon is defined and options.icon is not empty %}
                {{ html.icon(options.icon, { 'class': 'nav-link__icon' }) }}
            {% endif %}
            {{ options.label|raw }}
        </a>
    </li>

{% endspaceless %}
{% endmacro %}


{%- macro tabs(tabs, active_tab = null) -%}
    {% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
    {% set active_tab_id = get_active_tab(tabs, active_tab) %}

    <div class="nav-inline">
        <ul class="nav-inline__list">
    {%- for tab in tabs -%}
            <li class="nav-inline__item{% if active_tab_id == tab.id %} nav-inline__item--is-active is-active{% endif %}{% if tab.hidden is defined and tab.hidden == true %} hide{% endif %}">
            {{
                html.link({
                    'label': tab.label,
                    'class': 'nav-inline__link',
                    'href': '#' ~ tab.id,
                    'data-toggle': 'tab'
                })
            }}
            </li>
    {%- endfor -%}
        </ul>
    </div>
{%- endmacro -%}
