{% macro primary_nav(options) %}
{% spaceless %}
	{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}

	<div
		class="nav-item {% if options.open %} open{% endif %}"
	 >

	{% if options.menu_items is iterable %}
	<a class="nav-link nav-link__toggle" data-toggle="dropdown">
		{{- options.label|raw -}}
	</a>
	<ul class="dropdown__menu inverse">
	{% for label, items in options.menu_items %}
	  <li>
		{% if items is not iterable %}
		  {% set href = items %}
		{% else %}
		  {% set href = '#' %}
		{% endif %}
		<a href="{{ href }}">{{ label|raw }}</a>
		{% for label, item in items %}

		  {% if item is iterable %}
			{% if loop.first %}
			  <div data-subnav="true" class="subnav-container">
			{% endif %}
				{{
					html.link_list({
						'items': {
							'items': 'item'
						}
					})
				}}
			{% if loop.last %}
			  </div>
			{% endif %}

		  {% else %}

			{% if loop.first %}
			  <ul data-subnav="true">
			{% endif %}
				{{
					html.li({
						'value': html.link({
							'label': label,
							'href': item
						})
					})
				}}
			{% if loop.last %}
			  </ul>
			{% endif %}
		  {% endif %}

		{% endfor %}

	  </li>
	{% endfor %}
	</ul>
  {% else %}
	<a class="nav-link nav-link__toggle" href="{{ options.menu_items }}">
	  {{ options.label|raw }}
	</a>
  {% endif %}
  </div>

{% endspaceless %}
{% endmacro %}


{% macro notifications(options) %}
{% spaceless %}
	{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}

	<div class="notifications btn__group pull-right {% if options.open %} open{% endif %}">
		<button type="button" class="btn dropdown__toggle">
			<span class="badge">
			{% if options.count is null %}
			  {{ options.items|length }}
			{% else %}
			  {{ options.count }}
			{% endif %}
		  </span>
		</button>
		<ul class="dropdown__menu">
			<li class="notifications__header">
			{{
			  html.link({
				'label': html.icon('check-sign'),
				'class': 'notifications__dismiss',
				'title': 'Mark all as read',
				'data': {
					'toggle': 'tooltips',
					'placement': 'left'
				}
			  })
			}}
			<h1>Notifications</h1>
			</li>

		  	{% for item in options.items %}
				{{ item }}
			{% endfor %}
		</ul>
	</div>

{% endspaceless %}
{% endmacro %}


{% macro notification(options) %}
{% spaceless %}

  <li class="notification{% if options.class %} {{ options.class }}{% endif %}">
	<a href="{{ options.href }}">
	  <p class="notification__title">{{ options.icon|raw }} {{ options.title|raw }}</p>
	  <p class="notification__description">{{ options.description }}</p>
	  <time class="notification__time">{{ options.time }}</time>
	</a>
  </li>

{% endspaceless %}
{%- endmacro -%}
