{% macro addon(value) %}
{% apply spaceless %}
    {% if value is not empty %}
    {{- value -}}
    {% endif %}
{% endapply %}
{% endmacro %}


{% macro caret(visible) %}
{% apply spaceless %}
    {% if visible is defined and visible != 0 and visible != null %}
        &nbsp;<span class="caret"></span>
    {% endif  %}
{% endapply %}
{% endmacro %}


{% macro class(default, options) %}
{% apply spaceless %}
    {% set classes = [] %}

    {%
        if options.bare is not defined
        or options.bare == false
    %}
        {% set classes = classes|merge([default]) %}
    {% endif %}

    {% set classes = classes|merge([options.class|default]) %}

    class="{{ classes|join(' ')|trim }}"

{% endapply %}
{% endmacro %}


{% macro checked(value) %}
{% apply spaceless %}
    {% if value is not empty %}
        checked="{{ value }}"
    {% endif %}
{% endapply %}
{% endmacro %}


{% macro data(attributes) %}
{% apply spaceless %}
    {% if value is not empty %}
        {% for key, value in attributes %}
            {% if key == 'checked' %}
                checked
            {% else %}
                data-{{ key }}="{{ value }}"
            {% endif %}
        {% endfor %}
    {% endif %}
{% endapply %}
{% endmacro %}


{% macro for(value) %}
{% apply spaceless %}
    {% if value is not empty %}
        for="{{ value }}"
    {% endif %}
{% endapply %}
{% endmacro %}


{% macro form(value) %}
{% apply spaceless %}
    {% if value is not empty %}
        form="{{ value }}"
    {% endif %}
{% endapply %}
{% endmacro %}


{% macro href(value) %}
{% apply spaceless %}
    {% if value is null %}
        {% set href = '#missing-href-attribute' %}
    {% else %}
        {% set href = value %}
    {% endif %}

    href="{{ href }}"
{% endapply %}
{% endmacro %}


{% macro id(value) %}
{% apply spaceless %}
    {% if value is not empty %}
        id="{{ value }}"
    {% endif  %}
{% endapply %}
{% endmacro %}


{% macro label(value) %}
{% apply spaceless %}
    {% if value is not empty %}
        label="{{ value }}"
    {% endif %}
{% endapply %}
{% endmacro %}


{% macro multiple(value) %}
{% apply spaceless %}
    {% if value is not empty %}
        multiple="{{ value }}"
    {% endif %}
{% endapply %}
{% endmacro %}


{% macro name(value) %}
{% apply spaceless %}
    {% if value is not empty %}
        name="{{ value }}"
    {% endif  %}
{% endapply %}
{% endmacro %}


{% macro placeholder(value) %}
{% apply spaceless %}
    {% if value is not empty %}
        placeholder="{{ value }}"
    {% endif  %}
{% endapply %}
{% endmacro %}


{% macro required(required) %}
{% apply spaceless %}
    {% if required %}
        &nbsp;<span aria-hidden="true" class="required-indicator" data-tippy-content="required">*</span>
    {% endif  %}
{% endapply %}
{% endmacro %}


{% macro type(value) %}
{% apply spaceless %}
    {% if value is not empty %}
        type="{{ value }}"
    {% endif  %}
{% endapply %}
{% endmacro %}


{% macro value(value) %}
{% apply spaceless %}
    value="{{ value|default }}"
{% endapply %}
{% endmacro %}
