{% macro addon(value) %}
{% spaceless %}
    {% if value is not empty %}
    {{- value -}}
    {% endif %}
{% endspaceless %}
{% endmacro %}


{% macro caret(visible) %}
{% spaceless %}
    {% if visible|default(false) %}
        &nbsp;<span class="caret"></span>
    {% endif  %}
{% endspaceless %}
{% endmacro %}


{% macro class(default, options) %}
{% spaceless %}
    {% set classes = [] %}

    {%
        if options.bare is not defined
        or options.bare == false
    %}
        {% set classes = classes|merge([default]) %}
    {% endif %}

    {% set classes = classes|merge([options.class|default]) %}

    class="{{ classes|join(' ')|trim }}"

{% endspaceless %}
{% endmacro %}


{% macro checked(value) %}
{% spaceless %}
    {% if value is not empty %}
        checked="{{ value }}"
    {% endif %}
{% endspaceless %}
{% endmacro %}


{% macro data(attributes) %}
{% spaceless %}
    {% for key, value in attributes if value is not empty %}
        {% if key == 'checked' %}
            checked
        {% else %}
            data-{{ key }}="{{ value }}"
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endmacro %}


{% macro for(value) %}
{% spaceless %}
    {% if value is not empty %}
        for="{{ value }}"
    {% endif %}
{% endspaceless %}
{% endmacro %}


{% macro form(value) %}
{% spaceless %}
    {% if value is not empty %}
        form="{{ value }}"
    {% endif %}
{% endspaceless %}
{% endmacro %}


{% macro guidance(value) %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% spaceless %}
    {% if value is not empty %}
    {{
        html.icon('question-sign', {
            'class': 'input-group-guidance',
            'data-container': 'body',
            'data-content': value,
            'data-placement': 'top',
            'rel': 'clickover',
        })
    }}
    {% endif %}
{% endspaceless %}
{% endmacro %}


{% macro href(value) %}
{% spaceless %}
    {% if value is null %}
        {% set href = '#missing-href-attribute' %}
    {% else %}
        {% set href = value %}
    {% endif %}

    href="{{ href }}"
{% endspaceless %}
{% endmacro %}


{% macro id(value) %}
{% spaceless %}
    {% if value is not empty %}
        id="{{ value }}"
    {% endif  %}
{% endspaceless %}
{% endmacro %}


{% macro label(value) %}
{% spaceless %}
    {% if value is not empty %}
        label="{{ value }}"
    {% endif %}
{% endspaceless %}
{% endmacro %}


{% macro multiple(value) %}
{% spaceless %}
    {% if value is not empty %}
        multiple="{{ value }}"
    {% endif %}
{% endspaceless %}
{% endmacro %}


{% macro name(value) %}
{% spaceless %}
    {% if value is not empty %}
        name="{{ value }}"
    {% endif  %}
{% endspaceless %}
{% endmacro %}


{% macro placeholder(value) %}
{% spaceless %}
    {% if value is not empty %}
        placeholder="{{ value }}"
    {% endif  %}
{% endspaceless %}
{% endmacro %}


{% macro required(required) %}
{% spaceless %}
    {% if required %}
        &nbsp;<span class="required-indicator" rel="tooltip" data-toggle="tooltips" title="required">*</span>
    {% endif  %}
{% endspaceless %}
{% endmacro %}


{% macro type(value) %}
{% spaceless %}
    {% if value is not empty %}
        type="{{ value }}"
    {% endif  %}
{% endspaceless %}
{% endmacro %}


{% macro value(value) %}
{% spaceless %}
    value="{{ value|default }}"
{% endspaceless %}
{% endmacro %}
