{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/util.html.twig' as util %}
{% import '@pulsar/pulsar/v2/helpers/elem.html.twig' as elem %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/datagrid.html.twig' as datagrid %}

{% set _hasSettings = false %}
{% set _hasSidebar = false %}

{% set _settings = block('tab_settings') %}
{% if _settings is not empty %}
    {% set _hasSettings = true %}
{% endif %}

{% set _sidebar = block('tab_sidebar') %}
{% if _sidebar is not empty %}
    {% set _hasSidebar = true %}
{% endif %}

{% set _tab_javascript = block('tab_js') %}
{% if _tab_javascript is not empty %}
    {% block tab_javascript %}
        {{ _tab_javascript }}
    {% endblock %}
{% endif %}

{% set _actions_left = block('actions_left') %}
{% set _actions_right = block('actions_right') %}

<div class="tab__container{% if _hasSettings == true %} has-settings{% endif %}{% if _hasSidebar == true %} has-sidebar{% endif %}">

    {% if _actions_left is not empty or _actions_right is not empty %}
    <section class="actionsbar" aria-labelledby="aria-page-actions">
        <h2 class="hide" id="aria-page-actions">Page actions</h2>
        {% if _actions_left is not empty %}
        <div class="float--left">
            {{ _actions_left|raw }}
        </div>
        {% endif %}
        {% if _actions_right is not empty %}
        <div class="float--right">
            {{ _actions_right|raw }}
        </div>
        {% endif %}
    </section>
    {% endif %}

    <div class="tab__inner">
        {% if _hasSidebar == true %}
        <aside class="tab__sidebar" aria-label="additional information">
            {{ _sidebar|raw }}
        </aside>
        {% endif %}
        {% if _hasSettings == true %}
        <section class="tab__settings" {# consider use of context specific label here to convert to region #}>
            {{ _settings|raw }}
        </section>
        {% endif %}
        <main class="tab__content" id="skip-target">
            {% block tab_content %}{% endblock %}
        </main>
    </div>
</div>


