{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/util.html.twig' as util %}
{% import '@pulsar/pulsar/v2/helpers/elem.html.twig' as elem %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/datagrid.html.twig' as datagrid %}

{% set _hasHeader = false %}
{% set _hasSettings = false %}
{% set _hasSidebar = false %}

{% if block('tab_header') is defined %}
    {% set _header = block('tab_header') %}
    {% if _header is not empty %}
        {% set _hasHeader = true %}
    {% endif %}
{% endif %}

{% if block('tab_settings') is defined %}
    {% set _settings = block('tab_settings') %}
    {% if _settings is not empty %}
        {% set _hasSettings = true %}
    {% endif %}
{% endif %}

{% if block('tab_sidebar') is defined %}
    {% set _sidebar = block('tab_sidebar') %}
    {% if _sidebar is not empty %}
        {% set _hasSidebar = true %}
    {% endif %}
{% endif %}

{% if block('tab_js') is defined %}
    {% set _tab_javascript = block('tab_js') %}
    {% if _tab_javascript is not empty %}
        {% block tab_javascript %}
            {{ _tab_javascript }}
        {% endblock %}
    {% endif %}
{% endif %}

{% set _actions_left = null %}
{% set _actions_right = null %}
{% if block('actions_left') is defined %}
    {% set _actions_left = block('actions_left') %}
{% endif %}
{% if block('actions_right') is defined %}
    {% set _actions_right = block('actions_right') %}
{% endif %}
<div class="tab__container{% if _hasSettings == true %} has-settings{% endif %}{% if _hasSidebar == true %} has-sidebar{% endif %}">

    {% if _actions_left is not empty or _actions_right is not empty %}
    <section class="actionsbar" aria-label="page actions">
        {% if block('actions_left') is defined %}
        <div class="float--left">
            {{ block('actions_left') }}
        </div>
        {% endif %}
        {% if block('actions_left') is defined %}
        <div class="float--right">
            {{ block('actions_right') }}
        </div>
        {% endif %}
    </section>
    {% endif %}

    <div class="tab__inner">
        {% if _hasHeader == true %}
        <div class="tab__header">
            {{ block('tab_header') }}
        </div>
        {% endif %}
        {% if _hasSettings == true %}
        <section class="tab__settings" aria-label="settings">
            {{ block('tab_settings') }}
        </section>
        {% endif %}
        <div class="tab__content" id="skip-target" role="main">
            {% block tab_content %}{% endblock %}
        </div>
        {% if _hasSidebar == true %}
        <aside class="tab__sidebar" aria-label="additional information">
            {{ block('tab_sidebar') }}
        </aside>
        {% endif %}
    </div>
</div>
