{% extends "@pulsar/pulsar/components/tab.html.twig" %}

{% block tab_content %}

{{
    form.create()
}}

    <div class="masterswitch">

        {{
            form.toggle_switch({
                'class': 'masterswitch-control',
                'label': 'Enable masterswitch content',
                'id': 'toggle-' ~ random(),
                'checked': true,
                'name': 'masterswitch-enabled-form-wrapper'
            })
        }}

        <hr />

        <section class="masterswitch-content is-disabled">

            <p>This content should be disabled until the masterswitch is turned on.</p>

            {{ form.fieldset_start({'legend': 'Masterswitch content'}) }}

            {{
                form.text({
                    'label': 'Text input',
                    'id': 'text-' ~ random(),
                    'name': 'inputText',
                    'placeholder': 'Placeholder'
                })
            }}

            {{
                html.link({
                    'label': 'Link',
                    'href': '#'
                })
            }}

            {{
                form.checkbox({
                    'id': 'checkbox-' ~ random(),
                    'label': 'Normal checkbox'
                })
            }}

            {{
                form.checkbox({
                    'id': 'checkbox-' ~ random(),
                    'label': 'Disabled checkbox',
                    'disabled': true
                })
            }}

            {{
                html.link({
                    'label': 'Disabled link',
                    'href': '#',
                    'disabled': true
                })
            }}

            {{ form.fieldset_end() }}<!--
     --></section>
    </div>

{{
    form.end({
        'class': 'form__actions',
        'actions': [
            html.button({
                'label': 'Save Changes',
                'class': 'btn--primary',
                'type': 'submit'
            }),
            html.button({
                'label': 'Cancel',
                'class': 'btn--naked'
            })
        ]
    })
}}

{% endblock tab_content %}

{% block tab_sidebar %}
    <h2 class="heading">{{ html.icon('info-sign', { 'class': 'sidebar-icon'}) }} Disabling a UI</h2>

    <p>Disable an entire UI until the main masterswitch is turned on. You should make sure that turning the masterswitch off disables the functionality contained with the rest of the UI.</p>
{% endblock tab_sidebar %}
