{% macro button(label = 'button', class, type, id, href, attributes) %}
  {%- if type == 'link' -%}

    <a href="{{ href|default('#') }}" class="btn{% if class is not empty %} {{ class }}{% endif %}"{% if id is not empty %} id="{{ id }}"{% endif %} role="button" {% if attributes is not empty %} {{ attributes|raw }}{% endif %}>{{ label|raw }}</a>

  {%- elseif type == 'input' -%}

    <input type="button" class="btn{% if class is not empty %} {{ class }}{% endif %}"{% if id is not empty %} id="{{ id }}"{% endif %} value="{{ label|raw }}"{% if attributes is not empty %} {{ attributes|raw }}{% endif %}{% if 'is-disabled' in class %} disabled="disabled"{% endif %} />

  {%- elseif type == 'submit' -%}

    <button type="submit" class="btn{% if class is not empty %} {{ class }}{% endif %}"{% if id is not empty %} id="{{ id }}"{% endif %} {% if attributes is not empty %} {{ attributes|raw }}{% endif %}{% if 'is-disabled' in class %} disabled="disabled"{% endif %}>{{ label|raw }}</button>

  {%- else -%}

    <button type="button" class="btn{% if class is not empty %} {{ class }}{% endif %}"{% if id is not empty %} id="{{ id }}"{% endif %}{% if attributes is not empty %} {{ attributes|raw }}{% endif %}{% if 'is-disabled' in class %} disabled="disabled"{% endif %}>{{ label|raw }}</button>

  {%- endif -%}
{% endmacro %}


{%- macro button_group(buttons, class, attributes) -%}
  <div class="btn__group{% if class %} {{ class }}{% endif %}"{% if attributes %} {{ attributes|raw }}{% endif %}>
  {%- for button in buttons -%}
    {{ button }}
  {%- endfor -%}
  </div>
{%- endmacro -%}


{%- macro button_dropdown(label = 'label', class, id, menu_items, open = false, caret = true) -%}
  {% import _self as html %}
  <div class="btn__group{% if open %} open{% endif %}{% if class %} {{ class }}{% endif %}">
    <button type="button" class="btn dropdown__toggle" {% if id is not empty %} id="{{ id }}"{% endif %} data-toggle="dropdown">
        {{ label|raw }}{% if (caret == true and menu_items is not empty) %} <span class="caret"></span>{% endif %}
    </button>
    {% if menu_items is not empty %}
    <ul class="dropdown__menu">
      {% for menu_item in menu_items %}
        <li>{{ menu_item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
{%- endmacro -%}


{%- macro button_dropup(label = 'label', class, id, menu_items, caret = false) -%}
  {% import _self as html %}
  <div class="btn__group dropup{% if class %} {{ class }}{% endif %}">
    <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
        {{ label|raw }}{% if (caret == true and menu_items is not empty) %} <span class="caret"></span>{% endif %}
    </button>
    {% if menu_items is not empty %}
    <ul class="dropdown__menu">
      {% for menu_item in menu_items %}
        <li>{{ menu_item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
{%- endmacro -%}


{%- macro link(label, href, class, id, title, attributes, progress) -%}
  {% import _self as html %}
  <a href="{{ href|default('#') }}"{% if class is not empty %} class="{{ class }}"{% endif %}{% if id is not empty %} id="{{ id }}"{% endif %}{% if title is not empty %} title="{{ title }}"{% endif %}{% if attributes is not empty %} {{ attributes|raw }}{% endif %}>
    {{ label|default('link')|raw }}
    {% if progress %}
      {{ html.progress(progress) }}
    {% endif %}
  </a>
{%- endmacro -%}


{%- macro tabs(tabs, editable = false) -%}
  {% import _self as html %}
  {% set active_tab_id = get_active_tab(tabs, active_tab) %}
  <ul class="tabs__list">
  {%- for tab in tabs -%}

      <li{% if (active_tab_id == null and loop.first) or (active_tab_id == tab.id) %} class="is-active"{% endif %}>

        {{ html.link(
          label = tab.label,
          href = '#' ~ tab.id,
          attributes = 'data-toggle="tab"') }}

        {%- if tab.sub_tabs != null %}
          <ul class="tabs__list">

            {%- for sub_tab in tab.sub_tabs -%}
              <li{% if (active_tab_id == null and loop.parent.loop.first and loop.first) or (active_tab == sub_tab.id) %} class="is-active"{% endif %}>
                {{ html.link(
                  label = sub_tab.label,
                  href = '#' ~ sub_tab.id,
                  attributes = 'data-toggle="tab"') }}
              </li>
            {%- endfor -%}

          </ul>
        {%- endif -%}

      </li>
    {%- endfor -%}

    {% if editable == true %}
    <li class="new hide">
      <input
        type="text"
        value="My New Tab"
        autofocus
        data-filter-action="save"
        data-animation="true"
        data-toggle="popover"
        title="Give your tab a nice name"
        data-content='<button class="btn btn--primary">Save</button> <button class="btn" data-filter-action="dismiss-save-as">Cancel</button>'
        data-html=true
      />
    </li>

      {{
        html.list_item(
          html.link(
            label = 'Add a new tab',
            href = '#',
            attributes = 'data-show=#new-tab'
          )
        )
      }}
  {% endif %}

  </ul>

{%- endmacro -%}


{%- macro tabs_content(tabs) -%}
  <div class="tabs__content">
  {%- for tab in tabs -%}

    {%- if tab.src != null -%}
      <div class="tab__pane{% if (active_tab_id == null and loop.first) or (active_tab_id == tab.id) %} is-active{% endif %}" id="{{ tab.id }}"{% if tab.attr != null %} {{ tab.attr|raw }}{% endif %}>
        {{ tab.src|raw }}
      </div>
    {%- endif -%}

    {%- for sub_tab in tab.sub_tabs -%}

        <div class="tab__pane{% if (active_tab == null and loop.parent.loop.first and loop.first) or (active_tab == sub_tab.id) %} is-active{% endif %}" id="{{ sub_tab.id }}"{% if sub_tab.attr != null %} {{ sub_tab.attr|raw }}{% endif %}>
          {{ sub_tab.src|raw }}
        </div>

    {%- endfor -%}

  {%- endfor -%}
  </div>
{%- endmacro -%}


{%- macro list(list_items, class, active_item) -%}
  {% import _self as html %}
  <ul class="{{ class }}">
  {%- for list_item in list_items -%}

    {% if loop.index == active_item %}
      {% set class = ' class=is-active' %}
    {% else %}
      {% set class = '' %}
    {% endif %}

    <li{{ class }}>{{ list_item }}</li>
  {%- endfor -%}
  </ul>
{%- endmacro -%}


{%- macro link_list(items, class, active_item) -%}
  {% import _self as html %}
  <ul{% if class is not empty %} class="{{ class }}"{% endif %}>
  {%- for label, href in items -%}

    {% if loop.index == active_item %}
      {% set class = ' class=is-active' %}
    {% else %}
      {% set class = '' %}
    {% endif %}

    {{ _self.listItem(_self.link(label, href)) }}
  {%- endfor -%}
  </ul>
{%- endmacro -%}


{%- macro list_item(item, class) -%}
  <li {% if class is not empty %} class="{{ class }}"{% endif %}>{{ item }}</li>
{%- endmacro -%}


{%- macro progress(value, class, label, value_visible = false) -%}
  <div class="progress">
    <div class="progress-bar{% if class is not empty %} {{ class }}{% endif %}" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%;">
      {% if value_visible == false %}<span class="sr-only">{% endif %}{{ value }}%{% if value_visible == false %}</span>{% endif %}
      {% if label is not empty %}{{ label|raw }}{% endif %}
    </div>
  </div>
{%- endmacro -%}


{%- macro icon(icon_name, class) -%}
  <i class="icon-{{ icon_name }}{% if class is not empty %} {{ class }}{% endif %}"></i>
{%- endmacro -%}


{%- macro label(label = 'label', class, tooltip_title, tooltip_placement = 'top', attributes) -%}
  {% import _self as html %}
  <span class="label{% if class is not empty %} {{ class }}{% endif %}" {% if tooltip_title %}{{ _self.tooltip(tooltip_title, tooltip_placement) }}{% endif %} {% if attributes %} {{ attributes|raw }}{% endif %}>{{ label|raw }}</span>
{%- endmacro -%}

{%- macro label_group(labels, class, attributes) -%}
  <div class="label-group{% if class %} {{ class }}{% endif %}"{% if attributes %} {{ attributes|raw }}{% endif %}>
  {%- for label in labels -%}
    {{ label }}
  {%- endfor -%}
  </div>
{%- endmacro -%}


{%- macro badge(label = 'label', class, attributes) -%}
  <span class="badge{% if class is not empty %} {{ class }}{% endif %}"{% if attributes is not empty %} {{ attributes|raw }}{% endif %}>{{ label }}</span>
{%- endmacro -%}

{%- macro divider() -%}
  <span class="divider"></span>
{%- endmacro -%}

{%- macro loading(visible = true) -%}
  <div class="loading loading--circle{% if visible == false %} hide{% endif %}">
    <i></i>
  </div>
{%- endmacro -%}

{%- macro tooltip(title, placement = 'top') -%}
  {% if title %}
    data-toggle="tooltips" data-placement="{{ placement }}" title="{{ title }}"
  {% endif %}
{%- endmacro -%}

{%- macro remove_button(target, class = '', type = 'button', tooltip = 'Remove this item') -%}
  {% import _self as html %}

  <button
    type="{{ type }}"
    class="remove-button{% if class is not empty %} {{ class }}{% endif %}"
    data-toggle="tooltips"
    data-placement=right
    title="{{ tooltip }}"
    data-action=remove
    data-action-target="' ~ target ~ '"
  >{{ html.icon('remove-sign') }}</button>

{%- endmacro -%}


{%- macro metadata(items, class) -%}
  <dl class="metadata{% if class is not empty %} {{ class }}{% endif %}">
    {%- for key, value in items -%}
    <dt class="metadata__key">{{ key }}</dt><!--
 --><dd class="metadata__value">{{ value }}</dd>
    {% endfor %}
  </dl>
{%- endmacro -%}


{%- macro panel(title, body, class, icon = 'comment-alt') -%}
  {% import _self as html %}
  <div class="panel{% if class is not empty %} {{ class }}{% endif %}">
    <div class="panel__title">
        {{ _self.icon(icon) }}{{ title }}
    </div>
    <div class="panel__body">
        {{ body|raw }}
    </div>
</div>
{%- endmacro -%}
