{% macro button(label = 'button', class, type, id, href, attributes) %}
  {%- if type == 'link' -%}

    <a href="{{ href|default('#') }}" class="btn{% if class is not empty %} {{ class }}{% endif %}"{% if id is not empty %} id="{{ id }}"{% endif %} role="button" {% if attributes is not empty %} {{ attributes|raw }}{% endif %}>{{ label|raw }}</a>

  {%- elseif type == 'input' -%}

    <input type="button" class="btn{% if class is not empty %} {{ class }}{% endif %}"{% if id is not empty %} id="{{ id }}"{% endif %} value="{{ label|raw }}"{% if attributes is not empty %} {{ attributes|raw }}{% endif %}{% if 'is-disabled' in class %} disabled="disabled"{% endif %} />

  {%- elseif type == 'submit' -%}

    <input type="submit" class="btn{% if class is not empty %} {{ class }}{% endif %}"{% if id is not empty %} id="{{ id }}"{% endif %} value="{{ label|raw }}"{% if attributes is not empty %} {{ attributes|raw }}{% endif %}{% if 'is-disabled' in class %} disabled="disabled"{% endif %} />

  {%- else -%}

    <button class="btn{% if class is not empty %} {{ class }}{% endif %}"{% if id is not empty %} id="{{ id }}"{% endif %}{% if attributes is not empty %} {{ attributes|raw }}{% endif %}{% if 'is-disabled' in class %} disabled="disabled"{% endif %}>{{ label|raw }}</button>

  {%- endif -%}
{% endmacro %}


{%- macro button_group(buttons) -%}
  <div class="btn__group">
  {%- for button in buttons -%}
    {{ button }}
  {%- endfor -%}
  </div>
{%- endmacro -%}


{%- macro button_dropdown(label = 'label', class, id, menu_items, open = false) -%}
  {% import _self as html %}
  <div class="btn__group{% if open %} open{% endif %}">
    <button type="button" class="btn dropdown__toggle {{ class }}" {% if id is not empty %} id="{{ id }}"{% endif %} data-toggle="dropdown">
        {{ label|raw }}{% if menu_items is not empty %} <span class="badge badge--primary hide"></span> <span class="caret"></span>{% endif %}
    </button>
    {% if menu_items is not empty %}
    <ul class="dropdown__menu">
      {% for menu_item in menu_items %}
        <li>{{ menu_item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
{%- endmacro -%}


{%- macro button_dropup(label = 'label', class, id, menu_items) -%}
  {% import _self as html %}
  <div class="btn__group dropup">
    <button type="button" class="btn dropdown__toggle {{ class }}" data-toggle="dropdown">
        {{ label|raw }}{% if menu_items is not empty %} <span class="caret"></span>{% endif %}
    </button>
    {% if menu_items is not empty %}
    <ul class="dropdown__menu">
      {% for menu_item in menu_items %}
        <li>{{ menu_item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
{%- endmacro -%}


{%- macro link(label, href, class, id, title, attributes) -%}
  <a href="{{ href|default('#') }}"{% if class is not empty %} class="{{ class }}"{% endif %}{% if id is not empty %} id="{{ id }}"{% endif %}{% if title is not empty %} title="{{ title }}"{% endif %}{% if attributes is not empty %} {{ attributes|raw }}{% endif %}>{{ label|default('link')|raw }}</a>
{%- endmacro -%}


{%- macro tabs(tabs) -%}
  {% import _self as html %}
  {% set active_tab_id = get_active_tab(tabs, active_tab) %}
  <ul class="tabs__list">
  {%- for tab in tabs -%}

      <li{% if (active_tab_id == null and loop.first) or (active_tab_id == tab.id) %} class="is-active"{% endif %}>

        {{ html.link(
          label = tab.label, 
          href = '#' ~ tab.id, 
          attributes = 'data-toggle="tab"') }}

        {%- if tab.sub_tabs != null %}
          <ul class="tabs__list">

            {%- for sub_tab in tab.sub_tabs -%}
              <li{% if (active_tab_id == null and loop.parent.loop.first and loop.first) or (active_tab == sub_tab.id) %} class="is-active"{% endif %}>
                {{ html.link(
                  label = sub_tab.label, 
                  href = '#' ~ sub_tab.id, 
                  attributes = 'data-toggle="tab"') }}
              </li>
            {%- endfor -%}

          </ul>
        {%- endif -%}

      </li>
    {%- endfor -%}
  </ul>
  
{%- endmacro -%}


{%- macro tabs_content(tabs) -%}
  <div class="tabs__content">
  {%- for tab in tabs -%}

    {%- if tab.src != null -%}
      <div class="tab__pane{% if (active_tab_id == null and loop.first) or (active_tab_id == tab.id) %} is-active{% endif %}" id="{{ tab.id }}"{% if tab.attr != null %} {{ tab.attr|raw }}{% endif %}>
        {{ tab.src|raw }}
      </div>
    {%- endif -%}

    {%- for sub_tab in tab.sub_tabs -%}
        
        <div class="tab__pane{% if (active_tab == null and loop.parent.loop.first and loop.first) or (active_tab == sub_tab.id) %} is-active{% endif %}" id="{{ sub_tab.id }}"{% if sub_tab.attr != null %} {{ sub_tab.attr|raw }}{% endif %}>
          {{ sub_tab.src|raw }}
        </div>

    {%- endfor -%}

  {%- endfor -%}
  </div>
{%- endmacro -%}


{%- macro list(list_items, class, active_item) -%}
  {% import _self as html %}
  <ul class="{{ class }}">
  {%- for list_item in list_items -%}
    
    {% if loop.index == active_item %}
      {% set class = ' class=is-active' %}
    {% else %}
      {% set class = '' %}
    {% endif %}

    <li{{ class }}>{{ list_item }}</li>
  {%- endfor -%}
  </ul>
{%- endmacro -%}


{%- macro link_list(items, class, active_item) -%}
  {% import _self as html %}
  <ul{% if class is not empty %} class="{{ class }}"{% endif %}>
  {%- for label, href in items -%}
    
    {% if loop.index == active_item %}
      {% set class = ' class=is-active' %}
    {% else %}
      {% set class = '' %}
    {% endif %}

    {{ _self.listItem(_self.link(label, href)) }}
  {%- endfor -%}
  </ul>
{%- endmacro -%}


{%- macro list_item(item, class) -%}
  <li {% if class is not empty %} class="{{ class }}"{% endif %}>{{ item }}</li>
{%- endmacro -%}


{%- macro progress(value, class, label, value_visible = false) -%}
  <div class="progress">
    <div class="progress-bar{% if class is not empty %} {{ class }}{% endif %}" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%;">
      {% if value_visible == false %}<span class="sr-only">{% endif %}{{ value }}%{% if value_visible == false %}</span>{% endif %}
      {% if label is not empty %}{{ label|raw }}{% endif %}
    </div>
  </div>
{%- endmacro -%}


{%- macro icon(icon_name, class) -%}
  <i class="icon-{{ icon_name }}{% if class is not empty %} {{ class }}{% endif %}"></i>
{%- endmacro -%}


{%- macro label(label = 'label', class) -%}
  <span class="label{% if class is not empty %} {{ class }}{% endif %}">{{ label }}</span>
{%- endmacro -%}


{%- macro badge(label = 'label', class, attributes) -%}
  <span class="badge{% if class is not empty %} {{ class }}{% endif %}"{% if attributes is not empty %} {{ attributes|raw }}{% endif %}>{{ label }}</span>
{%- endmacro -%}

{%- macro divider() -%}
  <span class="divider"></span>
{%- endmacro -%}
