{%- macro primary_nav(label = 'label', class, id, menu_items, open = false) -%}
  {% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
  <div class="nav-item {% if open %} open{% endif %}">
  {% if menu_items is iterable %}
    <a class="nav-link nav-link__toggle" data-toggle="dropdown">
        {{ label|raw }}
    </a>
    <ul class="dropdown__menu inverse">
    {% for label, items in menu_items %}
      <li>
        {% if items is not iterable %}
          {% set href = items %}
        {% else %}
          {% set href = '#' %}
        {% endif %}
        <a href="{{ href }}">{{ label|raw }}</a>
        {% for label, item in items %}

          {% if item is iterable %}
            {% if loop.first %}
              <div data-subnav="true" class="subnav-container">
            {% endif %}
              {{ html.link_list(item) }}
            {% if loop.last %}
              </div>
            {% endif %}

          {% else %}

            {% if loop.first %}
              <ul data-subnav="true">
            {% endif %}
              {{ html.list_item(html.link(label, item)) }}
            {% if loop.last %}
              </ul>
            {% endif %}
          {% endif %}

        {% endfor %}

      </li>
    {% endfor %}
    </ul>
  {% else %}
    <a class="nav-link nav-link__toggle" href="{{ menu_items }}">
      {{ label|raw }}
    </a>
  {% endif %}
  </div>
{%- endmacro -%}


{%- macro notifications(items, count = null, open = false) -%}
  {% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
  <div class="notifications btn__group pull-right {% if open %} open{% endif %}">
    <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
        <span class="badge badge--danger">
        {% if count is null %}
          {{ items|length }}
        {% else %}
          {{ count }}
        {% endif %}
      </span>
    </button>
    <ul class="dropdown__menu">
      <li class="notifications__header">
        {{
          html.link(
            label = html.icon('check-sign'),
            class = 'notifications__dismiss',
            attributes = 'data-toggle="tooltips" title="Mark all as read" data-placement="left"'
          )
        }}
        <h1>Notifications</h1>
      </li>
      {% for item in items %}
        {{ item }}
        {% endfor %}
    </ul>
  </div>
{%- endmacro -%}


{%- macro notification(icon, href, title, description, time, class) -%}
  <li class="notification{% if class %} {{ class }}{% endif %}">
    <a href="{{ href }}">
      <p class="notification__title">{{ icon|raw }} {{ title|raw }}</p>
      <p class="notification__description">{{ description }}</p>
      <time class="notification__time">{{ time }}</time>
    </a>
  </li>
{%- endmacro -%}


{%- macro widget_list(widgets, context = 'Dashboard') -%}
  {% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
  <div id="tray" class="tray">
    <div class="tray__column tray__categories">
      <ul>
    {% for widget in widgets %}
        <li data-group=".widget__list" data-switch="#category_{{ widget.id }}">{{ widget.title|raw }} {{ html.icon('angle-right') }}</li>
    {% endfor %}
      </ul>
    </div>

    <div class="tray__column tray__widgets">
    {% for widget in widgets %}
      <ul id="category_{{ widget.id }}" class="widget__list hide">
        {% for widget in widget.widgets %}
          {% if widget.price == 0 %}
            {% set widget_price = 'Free' %}
          {% else %}
            {% set widget_price = '£' ~ widget.price %}
          {% endif %}
          <li class="widget__list-item" data-widget-guid="{{ widget.guid }}" data-widget-version="{{ widget.version }}" data-widget-title="{{ widget.title }}" data-widget-price="{{ widget_price }}" data-widget-description="{{ widget.description }}" data-widget-grid-span="{{ widget.gridspan }}">{{ widget.title }} {{ html.icon('angle-right') }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
    </div>

    <div class="tray__detail">
  {#
        {% if first_widget.price == 0 %}
          {{ html.button(label = 'Free', class = 'widget__price') }}
        {% else %}
          {{ html.button(label = '£9.99', class = 'widget__price') }}
        {% endif %}
  #}
      <h3 class="widget__title"></h3>
      <p class="widget__description"></p>
      <div class="widget hide" data-widget-guid="" data-widget-version="" data-widget-title="" data-widget-description="" data-last-appended="true"><i class="icon-move"></i> Drag Me to your {{ context }}</div>
    </div>
  </div>
  <input type="hidden" id="widget__data" />
{%- endmacro -%}
