{%- macro primary_nav(label = 'label', class, id, menu_items, open = false) -%}
  {% import 'pulsar/helpers/html.html.twig' as html %}
  <div class="nav-item {% if open %} open{% endif %}">
    {% if menu_items is iterable %}
    <a class="nav-link nav-link__toggle" data-toggle="dropdown">
      {{ label|raw }}
    </a>
    {% else %}
      <a class="nav-link nav-link__toggle" href="{{ menu_items }}">
      {{ label|raw }}
    </a>
    {% endif %}
    {% if menu_items is iterable %}
    <ul class="dropdown__menu inverse">
      {% for label, items in menu_items %}
      <li>
        {% if items is not iterable %}
          {% set href = items %}
        {% else %}
          {% set href = '#' %}
        {% endif %}
        <a href="{{ href }}">{{ label|raw }}</a>
        {% for label, item in items %}

          {% if item is iterable %}
            {% if loop.first %}
              <div data-subnav="true" class="subnav-container">
            {% endif %}
              {{ html.link_list(item) }}
            {% if loop.last %}
              </div>
            {% endif %}

          {% else %}

            {% if loop.first %}
              <ul data-subnav="true">
            {% endif %}
              {{ html.list_item(html.link(label, item)) }}
            {% if loop.last %}
              </ul>
            {% endif %}
          {% endif %}

        {% endfor %}

      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{%- endmacro -%}