{%- macro tabs(tabs) -%}
	{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}

	<ul class="tabs__list">
	{%- for tab in tabs -%}
		<li class="{% if tab.active is defined and tab.active == tab.id %}is-active{% endif %}{% if tab.hidden is defined and tab.hidden == true %} hide{% endif %}">

		{%
			set options = {
				'label': tab.label,
				'href': '#' ~ tab.id,
				'data-toggle': 'tab'
			}
		%}

		{{
			html.link(options|merge(tab.data|default({})))
		}}

		{%-
			if tab.sub_tabs is defined
			and tab.sub_tabs != null
		%}
			<ul class="tabs__list">

			{%- for sub_tab in tab.sub_tabs -%}
				<li class="{% if sub_tab.active is defined and tab.active == sub_tab.id %}is-active{% endif %}{% if tab.hidden is defined and sub_tab.hidden == true %} hide{% endif %}">
				{{
					html.link({
						'label': sub_tab.label,
						'href': '#' ~ sub_tab.id,
						'data-toggle': 'tab'
					})
				}}
				</li>
			{%- endfor -%}

			</ul>
		{%- endif -%}

		</li>
	{%- endfor -%}

	</ul>

{%- endmacro -%}


{%- macro tabs_content(tabs) -%}
	{%- for tab in tabs -%}

		{%-
			if tab.src is defined
			and tab.src != null
		-%}
			<div class="tab__pane{% if tab.active is defined and tab.active == tab.id %} is-active{% endif %}" id="{{ tab.id }}"{% if tab.attr is defined and tab.attr != null %} {{ tab.attr|raw }}{% endif %}>
				{{ tab.src|raw }}
			</div>
		{%- endif -%}

		{% if tab.sub_tabs is defined %}
			{%- for sub_tab in tab.sub_tabs -%}

			<div class="tab__pane{% if sub_tab.active is defined and tab.active == sub_tab.id %} is-active{% endif %}" id="{{ sub_tab.id }}"{% if sub_tab.attr is defined and sub_tab.attr != null %} {{ sub_tab.attr|raw }}{% endif %}>
				{{ sub_tab.src|raw }}
			</div>

			{%- endfor -%}
		{% endif %}
	{%- endfor -%}
{%- endmacro -%}







