{% extends "@pulsar/pulsar/components/tab.html.twig" %}

{% block tab_settings %}

    <div class="settings-section settings-section--primary">

        {{
            form.toggle_switch({
                'id': 'live',
                'label': 'Live'
            })
        }}

        {{
            form.toggle_switch({
                'disabled': true,
                'id': 'visible',
                'label': 'Visible'
            })
        }}

        <p>Some copy that might describe what the controls in the primary section might do, and why they're here.</p>

        <p>Some more copy to demonstrate what multiple paragraphs might look like.</p>

        {{
            html.button({
                'class': 'btn--primary',
                'id': 'save',
                'label': 'Save'
            })
        }}

        {{
            html.button({
                'class': 'float--right',
                'id': 'view-live',
                'label': 'View Live ' ~ html.icon('external-link'),
                'type': 'link'
            })
        }}

    </div>

    <div class="settings-section">

        {{
            form.textarea({
                'class': 'form__group--flush form__group--full form__group--top',
                'id': 'codeSnippet',
                'label': 'Embed code'
            })
        }}

    </div>

    <div class="settings-section">

        <h2 class="settings-section__heading">Theme options</h2>

        {{
            form.create()
        }}

        {{
            form.text({
                'id': 'theme',
                'label': 'Theme',
                'required': true
            })
        }}

        {{
            form.button_group({
                'guidance': 'An example guidance popover',
                'id': 'themeType',
                'items': [
                    form.radio_simple({
                        'id': 'themeTypeSimple',
                        'label': 'Simple',
                        'name': 'themeType',
                        'value': 'simple'
                    }),
                    form.radio_simple({
                        'id': 'themeTypeFile',
                        'label': 'File',
                        'name': 'themeType',
                        'value': 'file'
                    }),
                    form.radio_simple({
                        'id': 'themeTypeExternal',
                        'label': 'External',
                        'name': 'themeType',
                        'value': 'external'

                    })
                ],
                'label': 'Type'
            })
        }}

        {{
            form.select({
                'help': 'Some example help text',
                'id': 'fontFamily',
                'label': 'Font family',
                'name': 'fontFamily',
                'options': {
                    'fontArial': 'Arial',
                    'fontArialBlack': 'Arial Black',
                    'fontCourier': 'Courier',
                    'fontGeorgia': 'Georgia',
                    'fontLucida': 'Lucida',
                    'fontTahoma': 'Tahoma',
                    'fontTimes': 'Times',
                    'fontTrebuchet': 'Trebuchet',
                    'fontTahoma': 'Tahoma'
                }
            })
        }}

        {{
            form.text({
                'append': html.button({
                    'label': '##'
                }),
                'append_type': 'button',
                'class': 'form__group--medium',
                'id': 'colourBackground',
                'label': 'Background',
                'name': 'colourBackground',
                'prepend': '#'
            })
        }}

        {{
            form.end({
                'actions': [
                    html.button_dropdown({
                        'class': 'btn--primary',
                        'items': [
                            html.link({
                                'label': 'Update Existing Theme',
                                'href': '#'
                            }),
                            html.link({
                                'label': 'Save As New Theme',
                                'href': '#'
                            })
                        ],
                        'label': 'Save'
                    }),
                    html.button({
                        'class': 'btn--naked',
                        'label': 'Cancel'
                    }),
                    html.button({
                        'class': 'btn--danger float--right',
                        'label': 'Delete'
                    })
                ],
                'class': 'form__actions--flush'
            })
        }}

    </div>

{% endblock tab_settings %}

{% block tab_content %}

    <div class="content-header">

        <div class="content-actions">
            <div class="content-actions__pages">
                Page
                    {{
                        form.select({
                            'id': 'pageSelection',
                            'options': {
                                'page1': '1',
                                'page2': '2',
                                'page3': '3'
                            }
                        })
                    }}
                of 3
            </div>
            <nav class="content-actions__buttons">
                {{
                    html.button({
                        'disabled': true,
                        'id': 'pagePrevious',
                        'label': html.icon('long-arrow-left'),
                        'title': 'Previous page',
                        'type': 'link'
                    })
                }}
                {{
                    html.button({
                        'id': 'pageNext',
                        'label': html.icon('long-arrow-right'),
                        'title': 'Next page',
                        'type': 'link'
                    })
                }}
            </nav>
        </div>

        <h2 class="content-heading">Content Heading</h2>

    </div>

{#
    <div class="no-results">
        <div class="no-results__message">
            <p>Example for when no content exists in this area.</p>
        </div>
    </div>
 #}

    <table class="table table--full">
        <thead>
            <tr>
                <th width="20%">
                    When form is
                </th>
                <th>
                    And has status
                </th>
                <th>
                    And submission type is
                </th>
                <th width="12%"></th>
            </tr>
        </thead>
        <tbody id="tbl_policies">
            <tr id="no-results-row">
                <td class="no-results" colspan="4">
                    <div class="no-results__message">
                        There are currently no policies to display.
                    </div>
                    <a href="#" class="btn btn--primary no-results__action" onclick="ui.showPolicyForm()">Create Policy</a>
                </td>
            </tr>
        </tbody>
        <tfoot id="table__tfoot" class="hide">
            <tr>
                <td>
                    <a class="btn" id="add-new-policy" href="#">Add Another</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
