{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import "@pulsar/pulsar/v2/helpers/html.html.twig" as html %}

{%- block actions_left -%}
    {{
        html.actions_menu({
            'class': 'bulk-actions',
            'items': [
                [
                    {
                        'label': 'Create thing',
                        'href': '#creatething',
                        'icon': 'plus'
                    },
                    {
                        'label': 'New filter',
                        'href': '#newfilter',
                        'icon': 'filter',
                        'data-ui': 'show-filter-bar'
                    }
                ],
                [
                    {
                        'label': 'Make a copy',
                        'href': '#makecopy',
                        'icon': 'copy',
                        'data-bulk-action': true
                    },
                    {
                        'label': 'Change owner',
                        'href': '#Changeowner',
                        'icon': 'user',
                        'data-bulk-action': true
                    }
                ],
                [
                    {
                        'label': 'Make live',
                        'href': '#makelive',
                        'icon': 'check-circle',
                        'data-bulk-action': true
                    },
                    {
                        'label': 'Take offline',
                        'href': '#takeoffline',
                        'icon': 'times-rectangle',
                        'data-bulk-action': true
                    },
                    {
                        'label': 'Make visible',
                        'href': '#makevisible',
                        'icon': 'eye-open',
                        'data-bulk-action': true
                    },
                    {
                        'label': 'Make invisible',
                        'href': '#makeinvisible',
                        'icon': 'eye-slash',
                        'data-bulk-action': true
                    }
                ],
                [
                    {
                        'label': 'Delete',
                        'href': '#delete',
                        'icon': 'times',
                        'class': 'link--danger',
                        'data-bulk-action': true
                    }
                ]
            ]
        })
    }}
{%- endblock -%}

{%- block actions_right -%}
    {{
        html.button({
            'label': 'Create Thing',
            'class': 'btn--primary'
        })
    }}
{%- endblock -%}

{% block tab_content %}
    <div class="filter-bar u-margin-bottom display--none">
        {{ form.create() }}
            {{ form.fieldset_start({'legend': 'Filter by'}) }}

                {{
                    form.text({
                        'label': 'Title',
                        'class': 'form__group--full',
                        'id': 'title'
                    })
                }}

                {{
                    form.select2({
                        'label': 'Owner',
                        'class': 'form__group--full',
                        'id': 'owner',
                        'options': {
                            '': '',
                            'list': 'List',
                            'of': 'Of',
                            'users': 'Users'
                        }
                    })
                }}

                {{
                    form.date({
                        'label': 'Modified',
                        'class': 'form__group--full',
                        'id': 'modified',
                    })
                }}

                {{
                    form.select({
                        'label': 'Live status',
                        'class': 'form__group--full',
                        'id': 'live',
                        'options': {
                            '': '',
                            'live': 'live',
                            'offline': 'offline'
                        }
                    })
                }}

                {{
                    form.select({
                        'label': 'Visibility',
                        'class': 'form__group--full',
                        'id': 'visibility',
                        'options': {
                            '': '',
                            'visible': 'visible',
                            'invisible': 'invisible'
                        }
                    })
                }}

            {{ form.fieldset_end() }}
        {{
            form.end({
                'actions': [
                    form.submit({
                        'label': 'Save',
                        'class': 'btn--primary'
                    }),
                    html.link({
                        'label': 'Clear',
                        'class': 'btn btn--naked',
                        'href': '#',
                        'data-ui': 'clear-all-filters'
                    })
                ]
            })
        }}
    </div>

    <table class="table datatable table--full table--horizontal" data-order='[[ 3, "desc" ]]'>
        <thead>
            <tr>
                <th class="table-selection" data-orderable="false">
                    <input type="checkbox" class="form__control checkbox js-select-all" aria-label="Select all rows" data-toggle="tooltips" title="select all rows" data-placement="right" data-container="body" />
                </th>
                <th>Title</th>
                <th>Owner</th>
                <th>Modified</th>
                <th class="u-text-align-center shrink-to-fit">Live</th>
                <th class="u-text-align-center shrink-to-fit">Visible</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">The Terminator</a></td>
                <td>James Cameron</td>
                <td data-order="1991-07-01 12:00">01/07/1991 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="invisible" class="u-text-align-center">{{ html.status('offline', {'title': 'invisible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Conan the Barbarian</a> {{ html.label({'label': html.icon('lock') ~ ' Locked', 'class': 'label--inverse'}) }}</td>
                <td>John Millius</td>
                <td data-order="2017-02-16 12:00">16/02/2017 12:34pm</td>

                <td data-order="offline" class="u-text-align-center">{{ html.status('offline', {'title': 'offline', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>
            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Predator</a></td>
                <td>John McTiernan</td>
                <td>01/01/1988 12:34pm</td>
     
                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>
            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Commando</a></td>
                <td>Mark L. Lester</td>
                <td data-order="1986-02-21 12:34">21/02/1986 12:34pm</td>
                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Terminator Genisys</a></td>
                <td>Alan Taylor</td>
                <td data-order="2015-06-25 12:34">25/06/2015 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="invisible" class="u-text-align-center">{{ html.status('offline', {'title': 'invisible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Conan the Destroyer</a></td>
                <td>Richard Fleischer</td>
                <td data-order="1984-06-29 12:34">29/06/1984 12:34pm</td>

                <td data-order="offline" class="u-text-align-center">{{ html.status('offline', {'title': 'offline', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>
            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Terminator 2: Judgement Day</a></td>
                <td>James Cameron</td>
                <td data-order="1991-08-16 12:34:00">16/08/1991 12:34pm</td>
     
                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>
            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Twins</a></td>
                <td>Ivan Reitman</td>
                <td data-order="1988-12-08 12:34">08/12/1988 12:34pm</td>
                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Escape Plan</a></td>
                <td>Mikael Håfström</td>
                <td data-order="2013-10-18 12:00">18/10/2013 12:34pm</td>

                <td data-order="offline" class="u-text-align-center">{{ html.status('offline', {'title': 'offline', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>




            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">The Last Stand</a></td>
                <td>Kim Je-woon</td>
                <td data-order="2013-01-18 12:00">18/01/2013 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="invisible" class="u-text-align-center">{{ html.status('offline', {'title': 'invisible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">True Lies</a> {{ html.label({'label': html.icon('lock') ~ ' Locked', 'class': 'label--inverse'}) }}</td>
                <td>James Cameron</td>
                <td data-order="1994-07-15 12:00">15/07/1994 12:34pm</td>

                <td data-order="offline" class="u-text-align-center">{{ html.status('offline', {'title': 'offline', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>
            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Aftermath</a></td>
                <td>Elliott Lester</td>
                <td data-order="2017-04-07 12:34">07/04/2017 12:34pm</td>
     
                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>
            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Sabotage</a></td>
                <td>David Ayer</td>
                <td data-order="2014-05-09">09/05/2014 12:34pm</td>
                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Total Recall</a></td>
                <td>Paul Verhoven</td>
                <td data-order="2012-08-29 12:00">29/08/2012 12:34pm</td>

                <td data-order="offline" class="u-text-align-center">{{ html.status('offline', {'title': 'offline', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Maggie</a></td>
                <td>Henry Hobson</td>
                <td data-order="2015-05-06 12:00">06/05/2015 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="invisible" class="u-text-align-center">{{ html.status('offline', {'title': 'invisible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Red Sonja</a></td>
                <td>Richard Fleischer</td>
                <td data-order="1985-07-03 12:00">03/07/1985 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="invisible" class="u-text-align-center">{{ html.status('offline', {'title': 'invisible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Kindergarten Cop</a></td>
                <td>Ivan Reitman</td>
                <td data-order="1991-02-01 12:00">01/02/1991 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="invisible" class="u-text-align-center">{{ html.status('offline', {'title': 'invisible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">The Running Man</a></td>
                <td>Paul Michael Glaser</td>
                <td data-order="1987-11-13 12:00">13/11/1987 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="invisible" class="u-text-align-center">{{ html.status('offline', {'title': 'invisible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Junior</a></td>
                <td>Ivan Reitman</td>
                <td data-order="1994-11-23 12:00">23/11/1994 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="invisible" class="u-text-align-center">{{ html.status('offline', {'title': 'invisible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Last Action Hero</a></td>
                <td>John McTiernan</td>
                <td data-order="1993-07-30 12:00">30/07/1993 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="invisible" class="u-text-align-center">{{ html.status('offline', {'title': 'invisible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Red Heat</a></td>
                <td>Walter Hill</td>
                <td data-order="1998-06-17 12:00">17/06/1998 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Raw Deal</a></td>
                <td>John Irvin</td>
                <td data-order="1986-06-06 12:00">06/06/1986 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Eraser</a></td>
                <td>Chuck Russell</td>
                <td data-order="1996-06-21 12:00">21/06/1996 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Jingle All the Way</a></td>
                <td>Brian Levant</td>
                <td data-order="1996-11-16 12:00">16/11/1996 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">The 6<sup>th</sup> Day</a></td>
                <td>Roger Spottiswoode</td>
                <td data-order="2000-11-13 12:00">13/11/2000 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="visible" class="u-text-align-center">{{ html.status('online', {'title': 'visible', 'icon': true , 'icon': true }) }}</td>
            </tr>

            <tr>
                <td class="table-selection">
                    <input type="checkbox" class="form__control checkbox js-select" aria-label="Select row" />
                </td>
                <td><a class="link" href="#link-1">Collateral Damage</a></td>
                <td>Andrew Davis</td>
                <td data-order="2002-02-08 12:00">08/02/2002 12:34pm</td>

                <td data-order="live" class="u-text-align-center">{{ html.status('online', {'title': 'live', 'icon': true }) }}</td>
                <td data-order="invisible" class="u-text-align-center">{{ html.status('offline', {'title': 'invisible', 'icon': true , 'icon': true }) }}</td>
            </tr>
        </tbody>
    </table>

{% endblock tab_content %}
