{% extends "@pulsar/pulsar/components/tab.html.twig" %}

{%- block actions_left -%}
    {{
        html.actions_menu({
            'items': [
                [
                    {
                        'label': 'New Filter',
                        'href': '#',
                        'icon': 'filter',
                        'data-ui': 'show-filter-bar'
                    }
                ]
            ]
        })
    }}
{%- endblock -%}

{%- block actions_right -%}
    {{
        html.button({
            'label': 'Primary Action',
            'class': 'btn--primary'
        })
    }}
{%- endblock -%}

{% block tab_content %}

    <div class="filter-bar u-display-none">
        {{ form.create() }}
            {{ form.fieldset_start({'legend': 'Filter by'}) }}

                {{
                    form.select2({
                        'label': 'Colour (single + ph)',
                        'id': 'colour-' ~ random(),
                        'placeholder': 'Select One',
                        'options': {
                            'colour_red': 'Red',
                            'colour_blue': 'Blue'
                        }
                    })
                }}

                {{
                    form.select2({
                        'label': 'Colour 3 (multi + ph)',
                        'id': 'colour-' ~ random(),
                        'multiple': true,
                        'placeholder': 'Select one or more',
                        'options': {
                            'colour_red': 'Red',
                            'colour_blue': 'Blue'
                        }
                    })
                }}

                {{
                    form.select2({
                        'label': 'Colour 4 (multi no ph)',
                        'id': 'colour-' ~ random(),
                        'multiple': true,
                        'options': {
                            'colour_red': 'Red',
                            'colour_blue': 'Blue'
                        }
                    })
                }}

                {{
                    form.text({
                        'label': 'Text field example',
                        'id': 'foo-' ~ random(),
                        'class': 'form__group--full'
                    })
                }}

                {{
                    form.date({
                        'data-pulsar-datepicker': 'true',
                        'label': 'Added from',
                        'id': 'addedFrom-' ~ random(),
                        'class': 'form__group--full'
                    })
                }}

                {{
                    form.date({
                        'data-pulsar-datepicker': 'true',
                        'label': 'Added to',
                        'id': 'addedTo-' ~ random(),
                        'class': 'form__group--full'
                    })
                }}

                {{
                    form.checkbox({
                        'data-pulsar-datepicker': 'true',
                        'label': 'In stock',
                        'id': 'inStock-' ~ random(),
                    })
                }}

            {{ form.fieldset_end() }}
        {{
            form.end({
                'actions': [
                    form.submit({
                        'label': 'Apply Filter',
                        'class': 'btn--primary'
                    }),
                    html.link({
                        'label': 'Clear',
                        'class': 'btn btn--naked',
                        'href': '#',
                        'data-ui': 'clear-all-filters'
                    })
                ]
            })
        }}
    </div>

{% endblock tab_content %}
