{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/helpers/flash.html.twig' as flash %}
{% import 'pulsar/helpers/datagrid.html.twig' as datagrid %}

<h2 class="heading">{{ heading|raw }}</h2>

<div class="actionsbar actionsbar--right">
{{ 
  html.button(
    label = html.icon('plus') ~ ' Add Evidence',
    class = 'btn--primary'
  )
}}
</div>

<div class="tab__inner tab--unpadded">
  <table class="table--datagrid" id="lexicon_analytics">
    <thead>
      <tr>
        {{ datagrid.select_all() }}
        <th class="centered">{{ html.icon('search') }}</th>
        <th><a href="#">Name</a></th>
        <th><a href="#">Date {{ html.icon('sort-down') }}</a></th>
        <th><a href="#">Type</a></th>
        <th><a href="#">Description</a></th>
      </tr>
    </thead>
    <tbody>
    {% for i in 1..10 %}
      <tr>
        {{ datagrid.select_item(i) }}
        <td class="preview"><img src="http://www.dumb.com/m_pictures/1b60c22e7d92a900f6534a5880845979.jpg" /></td>
        <td>
          {{ 
            html.link(
              label = 'Article&nbsp;' ~ i,
              href = '#'
            ) 
          }}
        </td>
        <td>04/07/2014</td>
        <td>Photograph</td>
        <td class="no-wrap">This is the description, it should be truncated after a sensible amount of words</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <ul class="pull-left"><!--
    --><li class="is-disabled"><a href="#"><i class="icon-double-angle-left"></i> Previous</a></li><!--
    --><li><a href="#">1</a></li><!--
    --><li class="selected"><a href="#">2</a></li><!--
    --><li><a href="#">3</a></li><!--
    --><li><a href="#">4</a></li><!--
    --><li><a href="#">5</a></li><!--
    --><li><a href="#">Next <i class="icon-double-angle-right"></i></a></li><!--
    --></ul>
  </div>
</div>