{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/helpers/datagrid.html.twig' as datagrid %}

<h2 class="heading">{{ heading|raw }}</h2>

<div class="tab__inner tab--unpadded">
  {{ form.create() }}

  <p>You have had time to review any evidence the authority may have submitted, please confirm whether you would like to proceed with a hearing.</p>

  {{ 
    form.radio_flush(
      label = 'I do not wish to attend a hearing',
      help = 'I would like the adjudicator to make an independent decision based on the details and evidence supplied by all parties. You will be informed when your decision has been made',
      name = 'hearing',
      attributes = 'data-switch=.hearing-none data-group=hearing-type'
    )
  }}

  {{ 
    form.radio_flush(
      label = 'I would like to request a hearing',
      help = 'I would like the opportunity to speak to an adjudicator',
      name = 'hearing',
      attributes = 'data-switch=.hearing-choose data-group=hearing-type'
    )
  }}

  {{ 
    form.radio_flush(
      label = 'I would like to withdraw my appeal',
      help = 'I have reviewed the evidence submitted by the authority and would no longer like to persue my appeal',
      name = 'hearing',
      attributes = 'data-switch=.hearing-withdraw data-group=hearing-type'
    )
  }}

  <div class="hearing-type hearing-choose hide">

    {{ form.fieldset_start(legend = 'Request hearing') }}

    <ul class="tabs__list tabs--horizontal">
      <li class="is-active"><a href="#telephone" data-toggle="tab">Telephone hearing</a></li>
      <li><a href="#facetoface" data-toggle="tab">Face to Face hearing</a></li>
    </ul>

    <div class="tabs__content">
      <div class="tab__pane is-active" id="telephone">
        
        <p>A telephone hearing is a two or three way conference call set up by the tribunal. The telephone hearing will involve the Adjudicator, you and a representative from the authority, if they wish to participate. These hearings usually take about 20 minutes.</p>

        <p>Please give us the best number to contact you on, hearings are conducted during normal weekday business hours.</p>

        {{ 
          form.text(
            label = 'Your telephone number',
            value = '07777888999'
          ) 
        }}

      </div>
      <div class="tab__pane" id="facetoface">
        
        <p>A face to face hearing takes place before the Adjudicator. Hearings are informal and you do not need a lawyer to represent you. A face to face hearing will also be fixed if the council requires it, or the Adjudicator considers it appropriate.</p>

        <p>Please select your preferred venue for the hearing, the tribunal will take into account your preference when fixing the hearing and will also take into account the authority's preferences for a venue and whether the authority may prefer a telephone hearing.</p>

        {{ 
          form.select(
            label = 'Preferred venue', 
            options = {
                value1: 'Leeds', 
                value2: 'Manchester'
            }
          )
        }}

        {{ 
          form.textarea(
            label = 'Special requirements',
            help = 'If you (or anyone coming to a hearing with you) have a disability or a particular need please provide details in the box below. All venues are wheelchair accessible and a hearing loop is available.',
            rows = 4,
            attributes = 'data-autoheight=true'
          ) 
        }}
      </div>
    </div>

    {{ form.fieldset_end() }}

  </div>

  <div id="hearing-withdraw" class="hearing-type hearing-withdraw hide">
    
    {{ form.fieldset_start(legend = 'Withdraw Appeal') }}

    <p>A paragraph explaining the implications of withdrawl, that nothing more will happen and the appellant remains responsible for paying their penalty to the authority.</p>

    {{ 
      form.checkbox_flush(
        label = 'I agree to contact the authority and pay the penalty',
        name = 'withdrawl_confirm',
        attributes = 'data-checked-enable=#confirm-hearing-withdraw data-unchecked-disable=#confirm-hearing-withdraw'
      )
    }}

    {{ form.fieldset_end() }}
  </div>

  {{ 
    form.form_end([
        form.submit(
          label = 'Send my Hearing Request',
          class = 'btn--primary hearing-type hearing-choose hearing-none'
        ),
        form.submit(
          label = 'Withdraw my Appeal',
          id = 'confirm-hearing-withdraw',
          class = 'btn--danger hearing-type hearing-withdraw hide is-disabled'
        )
    ], flush = true)
  }}

</div>