{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/helpers/datagrid.html.twig' as datagrid %}

<h2 class="heading">{{ heading|raw }}</h2>

<div class="actionsbar actionsbar--right">
  {{
    html.button(
      label = html.icon('edit') ~ ' New Message',
      class = 'btn--primary'
    )
  }}
</div>

<div class="tab__inner tab--unpadded portal-messages">
  <div class="portal-messages__list">

    <ol>
      <li class="is-selected">
        <time>12:34pm</time>
        <span class="sender">Caroline Sheppard (Adjudicator)</span>
        {{ 
          html.badge(
            label = 3,
            class = 'badge--primary',
            attributes = 'data-toggle=tooltip title="There are 3 messages in this conversation"'
          )
        }}
        <span class="subject">Please provide clarification regarding location</span>
      </li>
      <li>
        <time>12:34pm</time>
        <span class="sender">Caroline Sheppard (Adjudicator)</span>
        {{ 
          html.badge(
            label = 999,
            attributes = 'data-toggle=tooltip title="There are 999 messages in this conversation"'
          )
        }}
        <span class="subject">Please provide clarification regarding location</span>
        {{
          html.label(
            label = '2 days to respond',
            class = 'label--warning'
          )
        }}
      </li>
      <li>
        <time>12:34pm</time>
        <span class="sender">Caroline Sheppard (Adjudicator)</span>
        {{ 
          html.badge(
            label = 999,
            attributes = 'data-toggle=tooltip title="There are 999 messages in this conversation"'
          )
        }}
        <span class="subject">This is an example of a message which needs sorting now</span>
        {{
          html.label(
            label = 'response required today',
            class = 'label--danger'
          )
        }}
      </li>
      <li>
        <time>12:34pm</time>
        <span class="sender">Caroline Sheppard (Adjudicator)</span>
        {{ 
          html.badge(
            label = 999,
            attributes = 'data-toggle=tooltip title="There are 999 messages in this conversation"'
          )
        }}
        <span class="subject">This is an example of a message with a long subject line and a label which needs to be dealt with</span>
        {{
          html.label(
            label = '14 days to respond'
          )
        }}
      </li>
{% for i in 1..10 %}
      <li>
        <time>12:34pm</time>
        <span class="sender">Caroline Sheppard (Adjudicator)</span>
        <span class="subject">Please provide clarification regarding location</span>
      </li>
{% endfor %}
    </ol>
  </div>

  <div class="portal-messages__message">

    <header>
      <span class="subject">Please provide clarification regarding location</span>

      {{ 
        html.button(
          label = html.icon('mail-reply-all') ~ ' Reply to All',
          class = 'pull-right',
          attributes = 'data-focus=#message-reply'
        )
      }}
    </header>

    <!-- Should only be present in the markup if there's history... -->
    <a class="history">
      <span>View 2 older messages</span>
    </a>

    <time>12:34pm (3 hours ago)</time>
    <span class="sender">Caroline Sheppard (Adjudicator)</span>
    <span class="recipient">to Council, Me</span>
    
    <div class="message-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra vehicula justo in tincidunt. Ut et condimentum neque. In hac habitasse platea dictumst. Proin lectus eros, eleifend eget fringilla eu, ultrices eu lacus. Sed id lacus at ante gravida mollis. Nunc aliquet lectus nec libero semper tempus. Etiam eget dui tincidunt, interdum massa et, pretium sem. Phasellus a tellus ac lorem varius consequat eu at urna. Maecenas et erat nisl.</p>

      <!-- <p>Proin eget justo euismod est placerat commodo. Fusce tristique, risus ac volutpat lobortis, erat libero bibendum augue, in pulvinar arcu enim at tortor. Etiam fermentum condimentum orci, nec hendrerit neque tempus scelerisque. Suspendisse tristique nulla id adipiscing mollis. Proin ut porttitor nunc, sed blandit erat. Sed egestas justo sed mi hendrerit, vel tincidunt purus tincidunt. Aliquam justo neque, interdum at bibendum eget, dapibus vel magna.</p> -->

      <!-- <p>Praesent pharetra nibh est, non vestibulum turpis dapibus nec. Maecenas ultrices enim in sem dictum, eu pulvinar ipsum aliquet. Proin at dolor suscipit, commodo nulla sed, tempor nibh. Quisque lobortis sodales dolor sed ultrices. In convallis felis fermentum dictum pellentesque. Pellentesque at lorem nec ipsum suscipit feugiat. Aliquam eget dolor quis velit faucibus feugiat eu sed arcu. Aenean purus arcu, adipiscing ut iaculis laoreet, ultrices a lorem. Ut aliquam nunc eu malesuada aliquet.</p> -->
    </div>

    {{
      form.textarea(
        placeholder = 'Click here to reply to all',
        id = 'message-reply',
        class = 'message-reply'
      )
    }}
  
    {{ 
      html.button(
        label = html.icon('mail-reply-all') ~ ' Reply to All'
      )
    }}

  </div>

</div>