{% import 'pulsar/v2/helpers/html.html.twig' as html %}
{% import 'pulsar/v2/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}

<div class="tab__header">
    <h2 class="heading">Two-step verification</h2>
</div>

<div class="tab__container">
    <div class="tab__inner">

    {{
        form.create()
    }}

    <div class="form__group masterswitch-control">
        <label class="control__label">Two-step verification is on</label>
        <div class="controls">
            <div class="toggle" data-toggle-on="true"></div>
            <input type="checkbox" class="hide" checked>
        </div>
    </div>

    <hr />

    <section class="masterswitch-content">

        {{
            html.panel({
                'icon': 'thumbs-up',
                'title': 'You’re all set!',
                'body': '<p>Two-step verification has been turned on for you and you’ll need to provide a verification code whenever you sign-in.</p>',
                'class': 'panel--success'
            })
        }}

        <p><span class="icon-standout icon-standout--info"><i class="icon-standout__icon icon-info"></i></span> If things haven’t gone quite right you could lock yourself out of your Jadu CMS. We really recommend that you <a href="?view=step_three">test two-step verification</a>.</p>

        {{
            form.end({
                'class': 'form__actions--flush',
                'actions': [
                    form.submit({
                        'label': 'Finish and Close',
                        'class': 'btn--primary',
                        'href': '?view=step_one',
                        'type': 'link'
                    }),
                    html.button({
                        'label': 'Turn Off Two-Step Verification',
                        'data-toggle': 'modal',
                        'href': '#confirm-disable',
                        'type': 'link',
                        'class': 'btn--danger pull-right'
                    }),
                    html.button({
                        'label': 'Setup Verification Again',
                        'type': 'link',
                        'class': 'btn--naked pull-right'
                    })
                ]
            })
        }}



    </div>

    <div class="sidebar">
        <h4>{{ html.icon('info-sign', { 'class': 'sidebar-icon'}) }} Stronger security for your Jadu account</h4>

        <hr />

        <p>Two-step verification adds extra protection by requiring you to sign in with something you know (your username and password) and something you have with you (usually, your mobile phone).</p>

        <p>When you sign in with two-step verification you will be asked to enter a six-digit code which will be given to you by an app on your phone or your personal computer. Each code can only be used once.</p>

        <a href="#" class="sidebar-link">{{ html.label({ 'label': html.icon('play') ~ ' video', 'class' : 'sidebar-link__label label--inverse' }) }} Signing in with two-step verification (1m30s)</a>
    </div>

    <div class="modal modal--danger" id="confirm-disable">
        <div class="modal__dialog">
            <div class="modal__content">
                <div class="modal__header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal__title">Turn off two-step verification?</h4>
                </div>
                <div class="modal__body">
                    <p>Turning this off will make your account <strong>less secure</strong>, we strongly advise that you keep two-step verification turned on.</p>
                    <p>If you turn it off, you will need to go through the set-up process again if you choose to turn it back on afterwards.</p>
                </div>
                <div class="modal__footer">
                    <button type="button" class="btn" data-dismiss="modal">Keep It Turned On</button>
                    <button type="button" class="btn btn--danger">I Understand, Turn it Off</button>
                </div>
            </div><!-- /.modal__content -->
        </div><!-- /.modal__dialog -->
    </div><!-- /.modal -->

</section>
