{% import 'pulsar/v2/helpers/html.html.twig' as html %}
{% import 'pulsar/v2/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}
{% import 'pulsar/helpers/datagrid.html.twig' as datagrid %}

<div class="tab__header">
    <h2 class="heading">Email Alerts</h2>
</div>

<div class="tab__container">
    <div class="tab__inner">

        {{
            form.create()
        }}

        <div class="form__group masterswitch-control">
            <label class="control__label">Enable email alerts</label>
            <div class="controls">
                <div class="toggle"></div>
                <input type="checkbox" class="hide">
            </div>
        </div>

        <hr />

        <section class="masterswitch-content is-disabled">

            {{
                form.checkbox_inline({"label": "Email me on workflow events",
                    "id": "alertWorkflow",
                    "name": "alertWorkflow",
                    "class": "form__group--flush"
                })
            }}

            {{
                form.checkbox_inline({"label": "Email me with news or updates from Jadu",
                    "id": "alertMarketing",
                    "name": "alertMarketing",
                    "class": "form__group--flush"
                })
            }}

            {{
                form.end({
                    'class': 'form__actions--flush',
                    'actions': [
                        html.button({
                            'label': 'Save Changes',
                            'class': 'btn--primary'
                        }),
                        html.button({
                            'label': 'Cancel',
                            'class': 'btn--naked'
                        })
                    ]
                })
            }}<!--
     --></section>

    </div>

    <div class="sidebar">
        <h4 class="sidebar__header">{{ html.icon('info-sign', { 'class': 'sidebar-icon'}) }} Email alerts</h4>

        <hr />

        <p>Keep track of what’s happening inside your Jadu CMS by getting email alerts when certain things happen. You can fine-tune these alerts to make sure you only receive the information you’re most interested in.</p>

        <hr />

        <p class="align-left">Emails will be sent to: <strong>paul.stanton@jadu.net</strong></p>

        {{ html.button({ 'label': 'Send Me a Test Email' }) }}</button>
    </div>

