<h2>Buttons</h2>
<table class="table lex-table">
    <thead>
        <tr>
            <td></td>
            <th colspan="2">Base</th>
            <th colspan="2">Outline</th>
            <th colspan="2">Naked</th>

            <th colspan="2">Small</th>
            <th colspan="2">Small Outline</th>
            <th colspan="2">Small Naked</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Default</td>
            <td>{{ html.button({ 'label': 'Button' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--naked' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--naked is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--small' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--small is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--small btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--small btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--small btn--naked'}) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--small btn--naked is-disabled'}) }}</td>
        </tr>
        <tr>
            <td>Primary</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary btn--naked' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary btn--naked is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary btn--small' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary btn--small is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary btn--small btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary btn--small btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary btn--small btn--naked'}) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--primary btn--small btn--naked is-disabled'}) }}</td>
        </tr>
        <tr>
            <td>Success</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success btn--naked' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success btn--naked is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success btn--small' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success btn--small is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success btn--small btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success btn--small btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success btn--small btn--naked'}) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--success btn--small btn--naked is-disabled'}) }}</td>
        </tr>
        <tr>
            <td>Danger</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger btn--naked' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger btn--naked is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger btn--small' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger btn--small is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger btn--small btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger btn--small btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger btn--small btn--naked'}) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--danger btn--small btn--naked is-disabled'}) }}</td>
        </tr>
        <tr>
            <td>Warning</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning btn--naked' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning btn--naked is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning btn--small' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning btn--small is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning btn--small btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning btn--small btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning btn--small btn--naked'}) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--warning btn--small btn--naked is-disabled'}) }}</td>
        </tr>
        <tr>
            <td>Inverse</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse btn--naked' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse btn--naked is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse btn--small' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse btn--small is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse btn--small btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse btn--small btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse btn--small btn--naked'}) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--inverse btn--small btn--naked is-disabled'}) }}</td>
        </tr>
        <tr class="row-inverse">
            <td>White</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white btn--naked' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white btn--naked is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white btn--small' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white btn--small is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white btn--small btn--outline' }) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white btn--small btn--outline is-disabled' }) }}</td>

            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white btn--small btn--naked'}) }}</td>
            <td>{{ html.button({ 'label': 'Button', 'class': 'btn--white btn--small btn--naked is-disabled'}) }}</td>
        </tr>
        
    </tbody>
</table>