{% import '@pulsar/pulsar/v2/helpers/elem.html.twig' as elem %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/nav.html.twig' as nav %}
{% import '@pulsar/pulsar/v2/helpers/tabs.html.twig' as tabs %}
{% set cssPath  = base_path ~ 'css/' %}
{% set imgPath  = base_path ~ 'images/' %}
{% set jsPath   = base_path ~ 'js/' %}
{% set libsPath = base_path ~ 'libs/' %}
<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js ie7 lt-ie10 lt-ie8"><![endif]-->
<!--[if IE 8]>         <html class="no-js ie8 lt-ie10 lt-ie9"><![endif]-->
<!--[if IE 9]>         <html class="no-js ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"><!--<![endif]-->
<html class="no-js">
<head>
    <title>{% block title %}Pulsar Lexicon{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie7.css' }}" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie8.css' }}" /><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie9.css' }}" /><![endif]-->
    <!--[if gt IE 9]><!--> <link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar.css' }}" /> <!--<![endif]-->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ libsPath ~ 'html5shiv/dist/html5shiv.js' }}"></script>
    <script type="text/javascript" src="{{ libsPath ~ 'nwmatcher/src/nwmatcher.js' }}"></script>

    <script type="text/javascript" src="{{ libsPath ~ 'respond/dest/respond.min.js' }}"></script>
    <![endif]-->

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ libsPath ~ 'font-awesome/css/font-awesome-ie7.min.css' }}" />
    <![endif]-->
</head>
<body class="language-html" id="top" style="background-color: #fff;">
    {% block body %}
    {% endblock body %}
</body>
</html>

