{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block tab_content %}

<div class="piano-wrapper">
    <div class="piano">
        <ul class="piano__items">
            <li class="piano__item">
                <a href="./index.html.twig">
                    <div class="piano__item-header">
                        {{
                            html.media({
                                'image': '/images/services/address_finder.png',
                                'title': 'Address Finder',
                                'description': 'Address lookups via your custom-built address finder service',
                                'action': html.status('active', {
                                    'title': 'integration enabled'
                                })
                            })
                        }}
                    </div>
                </a>
            </li>
            <li class="piano__item">
                <a href="./aws.html.twig">
                    <div class="piano__item-header">
                        {{
                            html.media({
                                'image': '/images/services/aws_lex.png',
                                'title': 'AWS Simple Email Service',
                                'description': 'Send emails with the AWS Simple Email Service',
                                'action': html.status('inactive', {
                                    'title': 'integration disabled'
                                })
                            })
                        }}
                    </div>
                </a>
            </li>
            <li class="piano__item">
                <a href="./deployer.html.twig">
                    <div class="piano__item-header">
                        {{
                            html.media({
                                'image': '/images/services/cxm.png',
                                'title': 'Jadu Deployer',
                                'description': 'OAuth Client',
                                'action': html.status('inactive', {
                                    'title': 'integration disabled'
                                })
                            })
                        }}
                    </div>
                </a>
            </li>
            <li class="piano__item">
                <a href="./mailgun.html.twig">
                    <div class="piano__item-header">
                        {{
                            html.media({
                                'image': '/images/services/mailgun.png',
                                'title': 'Mailgun',
                                'description': 'Send emails via Mailgun',
                                'action': html.status('inactive', {
                                    'title': 'integration disabled'
                                })
                            })
                        }}
                    </div>
                </a>
            </li>

            <li class="piano__item is-selected">
                <a href="./singlepoint.html.twig">
                    <div class="piano__item-header">
                        {{
                            html.media({
                                'image': '/images/services/singlepoint.png',
                                'title': 'SinglePoint',
                                'description': 'Allow address lookup by postcode in forms',
                                'action': html.status('inactive', {
                                    'title': 'integration disabled'
                                })
                            })
                        }}
                    </div>
                </a>
                <section class="piano__item-content" aria-labelledby="example-piano-heading">

                    <header class="piano__item-content-header">
                        <h2 id="example-piano-heading" class="u-margin-bottom-none">SinglePoint</h2>
                    </header>

                    <div class="masterswitch">
                        {{
                            form.create()
                        }}

                            {{
                                form.toggle_switch({
                                    'class': 'masterswitch-control',
                                    'label': 'Enable integration',
                                    'id': 'toggletest'
                                })
                            }}

                            <hr/>

                            <div class="masterswitch-content is-disabled">

                                <p>Example help text.</p>

                                {{
                                    form.text({
                                        'label': 'SinglePoint Search WSDL URL',
                                        'class': 'form__group--full',
                                        'id': 'singlepointWsdl',
                                        'name': 'singlepointWsdl',
                                        'required': true,
                                        'help': 'Example help text'
                                    })
                                }}

                                {{
                                    form.text({
                                        'label': 'SinglePoint Information WSDL URL',
                                        'class': 'form__group--full',
                                        'id': 'singlepointInfoWsdl',
                                        'name': 'singlepointInfoWsdl',
                                        'required': true,
                                        'help': 'Example help text'
                                    })
                                }}

                                {{
                                    form.text({
                                        'label': 'SinglePoint API key',
                                        'class': 'form__group--full',
                                        'id': 'singlepointApiKey',
                                        'name': 'singlepointApiKey',
                                        'required': true,
                                        'help': 'Example help text'
                                    })
                                }}
                            </div>
                        {{
                            form.end({
                                'actions': [
                                    html.button({
                                        'label': 'Save',
                                        'class': 'btn--primary'
                                    }),
                                    html.button({
                                        'label': 'Cancel',
                                        'class': 'btn--naked'
                                    })
                                ]
                            })
                        }}
                    </div>
                </section>
            </li>
        </ul>
    </div>
</div>

{% endblock tab_content %}
