{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/nav.html.twig' as nav %}
{% set cssPath  = base_path ~ 'css/' %}
{% set imgPath  = base_path ~ 'images/' %}
{% set jsPath   = base_path ~ 'js/' %}
{% set libsPath = base_path ~ 'libs/' %}
{# set themeFile = cssPath ~ 'themes/slate.css' #}
<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js ie7 lt-ie10 lt-ie8"><![endif]-->
<!--[if IE 8]>         <html class="no-js ie8 lt-ie10 lt-ie9"><![endif]-->
<!--[if IE 9]>         <html class="no-js ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"><!--<![endif]-->
<html class="no-js">
<head>
    <title>{% block title %}Pulsar Lexicon{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% include '@pulsar/pulsar/components/favicons-cms.html' %}

    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie7.css' }}" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie8.css' }}" /><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie9.css' }}" /><![endif]-->
    <!--[if gt IE 9]><!--> <link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar.css' }}" /> <!--<![endif]-->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ libsPath ~ 'html5shiv/dist/html5shiv.js' }}"></script>
    <script type="text/javascript" src="{{ libsPath ~ 'nwmatcher/src/nwmatcher.js' }}"></script>
    <script type="text/javascript" src="{{ libsPath ~ 'selectivizr/selectivizr.js' }}"></script>
    <script type="text/javascript" src="{{ libsPath ~ 'respond/dest/respond.min.js' }}"></script>
    <![endif]-->

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ libsPath ~ 'font-awesome/css/font-awesome-ie7.min.css' }}" />
    <![endif]-->

{% if themeFile is defined %}
    <link rel="stylesheet" type="text/css" href="{{ themeFile }}" />
{% endif %}

    <!-- <link rel="stylesheet" href="http://basehold.it/24"> -->

    <script
        src="{{ base_path ~ 'dist/js/bundle.js' }}"
        type="text/javascript"
        id="main-js"
{% if pageModule is defined %}
        data-page="{{ pageModule }}"
{% endif %}
    ></script>
    <script src="{{ base_path ~ 'js/main.js' }}" type="text/javascript"></script>
    {% block pageStyle %}{% endblock %}
</head>
<body class="language-html theme-slate {{ bodyClass|default }}" id="top">

{% block body %}
    <div role="main" class="container" id="top">
        <div class="inner-wrapper">
            {{ nav.primary({ 'data': nav_data|default() }) }}

            {% include '@pulsar/pulsar/components/flash.html.twig' %}

            <div class="toolbar">

                <a href="#" class="mobile-menu-button t-mobile-menu-button">Menu</a>

                <div class="nav-user">
                {% block user_menu %}
                {{
                    html.button_dropdown({
                        'parent_class': 'dropdown user-menu btn--naked',
                        'label': 'Paul Stanton',
                        'items': [
                            html.link({
                                "label": html.icon('user') ~ " My details",
                                "href": "#foo"
                            }),
                            html.link({
                                "label": html.icon('key') ~ " Change password",
                                "href": "#foo"
                            }),
                            html.divider(),
                            html.link({
                                "label": html.icon('power-off') ~ " Sign out",
                                "href": "#foo"
                            })
                        ]
                    })
                }}
                {% endblock %}
                </div>

                {% block notifications %}{% endblock %}
                {% include '@pulsar/pulsar/components/nav_help.html.twig' %}

            </div>

            {% block search %}
            <form action="/search" class="main-search" data-ui="search-box">
                <input type="search" name="q" id="case-search" value="" placeholder="Search" class="main-search__field" autocomplete="off">
                <button class="main-search__submit" type="submit" name="case-search"><i class="icon-search"></i></button>
            </form>
            {% endblock %}

            <div class="content-main">
                <div class="tabs__content">
                    {{ nav.breadcrumbs(breadcrumbs|default) }}
                    <h1 class="main-title">{{ heading|default('MISSING HEADING') }}</h1>
                    {% block tabs_list %}{% endblock %}
                    {% block tabs_content %}{% endblock %}
                </div>
            </div>

            <div class="tab-help-container t-tab-help-container"><div class="tab-help"></div></div>
        </div>
    </div>

    <footer class="footer">
        {{
            html.link({
                'label': html.icon('circle-arrow-up'),
                'href': '#top'
            })
        }}
        {{
            html.link({
                'label': 'Jadu Continuum',
                'href': '/jadu/version.php',
                'class': 'branding-footer'
            })
        }}
        &copy; {{ ''|date('Y') }}
    </footer>

    <div id="modal" class="modal" role="dialog" aria-hidden="true">
        <!-- empty modal for ajax requests -->
    </div>

{% endblock body %}

{% block modals %}{% endblock %}
{% block javascript %}{% endblock %}

</body>
</html>
